@namespace Material.Blazor
@inherits ComponentFoundation


<aside @ref="DrawerElem"
       @attributes="@AttributesToSplat()"
       id="app-drawer">

    <div class="mdc-drawer__content">
        <CascadingValue Value="@this">
            @if (ChildContent != null)
            {
                @ChildContent
            }
        </CascadingValue>
    </div>

</aside>