@namespace Material.Blazor.Internal

@inherits InputComponent<DateTime>

<div class="mdc-typography--body2 mb-dp-container">

    <ul class="mdc-deprecated-list mb-dp-list">
        <li class="mdc-deprecated-list-item mdc-deprecated-list-item--selected mb-dp-list-item"
            data-value="@ValueText"
            aria-selected="true"
            role="option">
            <span class="mdc-deprecated-list-item__ripple"></span>
            <span @ref="@ListItemReference" class="mdc-deprecated-list-item__text mb-dp-list-item__text">@ValueText</span>
        </li>
    </ul>

    <div class="mb-dp-year-pad">
        <Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize Items="YearsInGroupsOfFourYP" OverscanCount="10" ItemSize="30">
            <ItemContent Context="group">
                <div style="height: 30px !important; max-height: 30px !important; min-height: 30px !important; overflow: hidden;">
                    @foreach (var year in group)
                    {
                        <span style="padding: 4px;">@year</span>
                    }
                </div>
            </ItemContent>
        </Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize>
    </div>
</div>