@use '@material/theme/color-palette' as cp;

$mdc-theme-primary: cp.$blue-700;
$mdc-theme-secondary: cp.$orange-400;
$mdc-theme-background: cp.$grey-200;

$mdc-typography-font-family: unquote("Rubik, sans-serif");
$mdc-typography-styles-button: ( font-size: 14px, font-weight: 500, letter-spacing: 0.05em, );

$mdc-shape-small-component-radius: 0;
$mdc-shape-large-component-radius: 0;