// stylelint-disable scss/dollar-variable-pattern

@use "sass:color";

@use "@material/theme" with ( 
    $primary: #283593, 
    $secondary: #9e9d24, 
    $background: #eee, 
    $surface: #fff, 
);

@use "@material/shape" with ( 
    $small-component-radius: 12px 4px, 
    $medium-component-radius: 20px 4px, 
    $large-component-radius: 4px, 
);

@use "@material/typography" with ( 
    $font-family: unquote("Josefin Sans, sans-serif"), 
    $styles-button: ( font-size: 14px, font-weight: 600, letter-spacing: 0.05em, ), 
);

@use "material-components-web";
@use "./app";


@include app.app-classes();