@page "/menu"

<h1 class="@MdcTypography.Heading4">Menu samples</h1>

<p>See <code>MenuSample.razor</code> for sources.</p>

<div>
    <MdcButton Label="Open Menu" OnClick="OpenMenuAsync" />
    
    <div class="mdc-menu-surface--anchor">
        <MdcMenu @ref="menu">
            <MdcListItem Text="One" Icon="home" NavRef="One" OnClick="OnClickHandler" />
            <MdcListItem Text="Two" Icon="" NavRef="Two" OnClick="OnClickHandler" />
            <MdcListDivider />
            <MdcMenuSelectionGroup>
                <MdcListItem Text="Four" Icon="done" NavRef="Four" OnClick="OnClickHandler" />
                <MdcListItem Text="Five" Icon="done" NavRef="Five" OnClick="OnClickHandler" />
            </MdcMenuSelectionGroup>
            <MdcListDivider />
            <MdcListItem Text="Three" Disabled="true" NavRef="Three" OnClick="OnClickHandler" />
        </MdcMenu>
    </div>
</div>

<p>Clicked: @clickResult</p>


@code {
    private MdcMenu menu;
    private string clickResult = "";

    private async Task OpenMenuAsync()
    {
        await menu.ToggleAsync();
    }

    protected void OnClickHandler(string navRef)
    {
        clickResult = navRef;
    }

}
