/************************************************
    Applied to PMdcDatePicker.razor
************************************************/
.bmdc-dp-menu__surface-adjust {
    overflow: visible !important;
    display: inline-block;
    pointer-events: none;
}

.mdc-select--activated .bmdc-dp-menu__surface-adjust {
    pointer-events: auto !important;
}


/************************************************
    Applied to InternalDatePickerPanel.razor
************************************************/

/*
    The structure of this file is designed to be driven entirely from
    $dp-button-height. The panel width and height will flex to accommodate
    that, as will day and year buttons. Icon buttons for the to pmenu are 
    the only other parameter that needs to be set to effect a resize.
    Setting these values to 28px and 24px respectively makes the date picker
    conform to the detailed Material Theme specification.
*/
$dp-button-height: 28px;
$dp-menu-icon-button-size: 24px;


/*
    General purpose definitions
*/
$dp-button-border-radius: $dp-button-height / 2;
$dp-button-margin: 2px;
$dp-day-pad-horizontal-margin: 16px;
$dp-day-pad-bottom-margin: 8px;

$dp-panel-width: 7 * ($dp-button-height + 2 * $dp-button-margin) + 2 * $dp-day-pad-horizontal-margin;

$dp-year-pad-padding-top: 4px;
$dp-year-pad-padding-right: 0;
$dp-year-pad-padding-bottom: 8px;
$dp-year-pad-padding-left: 12px;
$dp-year-pad-clear-space-right: 20px;

$dp-day-button-width: $dp-button-height;
$dp-year-button-width: ($dp-panel-width - $dp-year-pad-padding-left - $dp-year-pad-clear-space-right) / 4 - 2 * $dp-button-margin;


/*
    Container
*/
.bmdc-dp-container {
    display: flex;
    flex-flow: column nowrap;
    width: $dp-panel-width;
    overflow: hidden;
}


/*
    Hidden List
*/
.bmdc-dp-list {
    height: 0 !important;
    width: 0;
    padding: 0 !important;
    visibility: hidden;
}


/*
    Menu at top
*/

$dp-menu-height: 52px;
$dp-menu-padding: 16px 8px 12px 24px;
$dp-menu-icon-button-margin: 4px;


.bmdc-dp-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: $dp-menu-padding;
    height: $dp-menu-height;
    font-weight: bold;
    user-select: none;
    width: $dp-panel-width;
    min-width: $dp-panel-width;
    overflow: visible !important;
}


.bmdc-dp-menu__left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}


.bmdc-dp-menu__right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}


.bmdc-dp-menu__icon-button {
    height: $dp-menu-icon-button-size !important;
    width: $dp-menu-icon-button-size !important;
    padding: 0 !important;
}


.bmdc-dp-menu__icon-button.spaced {
    margin-left: $dp-menu-icon-button-margin;
}


/*
    Day pad
*/

$dp-day-pad-weekdays-margin-bottom: 8px;
$dp-day-pad-weekdays-size: $dp-button-height + $dp-button-margin;

.bmdc-dp-day-pad {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding: 0 $dp-day-pad-horizontal-margin $dp-day-pad-bottom-margin $dp-day-pad-horizontal-margin;
    user-select: none;
    overflow: visible;
    width: $dp-panel-width;
}


.bmdc-dp-day-pad__weekdays-block {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: $dp-day-pad-weekdays-margin-bottom;
}


.bmdc-dp-day-pad__weekday {
    text-align: center;
    height: $dp-day-pad-weekdays-size;
    line-height: $dp-day-pad-weekdays-size;
    width: $dp-day-pad-weekdays-size;
    margin: auto;
    padding: 0;
}


.bmdc-dp-day-pad__days-block {
    display: flex;
    flex-flow: row wrap;
    padding: 0 !important;
    overflow: hidden;
}


.bmdc-dp-day-pad__button {
    height: $dp-button-height;
    width: $dp-day-button-width;
    min-width: $dp-day-button-width;
    max-width: $dp-day-button-width;
    border-radius: $dp-button-border-radius;
    margin: $dp-button-margin;
    padding: 0;

    .mdc-button__ripple {
        border-radius: $dp-button-border-radius;
    }
}


/*
    Year pad
*/

$dp-year-pad-rows: 7;

.bmdc-dp-year-pad {
    display: flex;
    flex-flow: row wrap;
    padding: $dp-year-pad-padding-top $dp-year-pad-padding-right $dp-year-pad-padding-bottom $dp-year-pad-padding-left;
    user-select: none;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: $dp-year-pad-rows * ($dp-button-height + 2 * $dp-button-margin);
}

.bmdc-dp-year-pad__button {
    height: $dp-button-height;
    width: $dp-year-button-width;
    min-width: $dp-year-button-width;
    max-width: $dp-year-button-width;
    border-radius: $dp-button-border-radius;
    margin: $dp-button-margin;
    padding: 0;

    .mdc-button__ripple {
        border-radius: $dp-button-border-radius;
    }
}