{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/transform-class-properties",
    "@babel/transform-object-rest-spread"
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ]
}