@namespace BlazorMdc
@inherits MTComponentBase


<aside @ref="DrawerElem"
       id="app-drawer"
       @attributes="@AttributesToSplat()">

    <div class="mdc-drawer__content">
        <CascadingValue Value="@this">
            @ChildContent
        </CascadingValue>
    </div>

</aside>