@namespace Material.Blazor
@inherits ComponentFoundation


@if (AnimatedNavigationService.Configuration.ApplyAnimation)
{
    <style>
        .mb-navigation-fade-in {
            @FadeInAnimation
            @FadeInAnimationWebkit
        }

        .mb-navigation-fade-out {
            @FadeOutAnimation
            @FadeOutAnimationWebkit
        }
    </style>


    <div class="@PageClass @(@class)"
         style="@style">
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>
}
else
{
    @if (ChildContent != null)
    {
        @ChildContent
    }
}