@inherits MdcComponentBase

@inject IJSRuntime jsRuntime


<div class="mdc-card @Class @cardStyleClass">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>


@code {
    [Parameter] public MdcCardStyle? CardStyle { get; set; }
    [Parameter] public bool AutoStyled { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }


    private ElementReference elementReference;
    private MdcCardStyle myCardStyle => AppliedDefaults.AppliedCardStyle(CardStyle);
    private string cardStyleClass => (myCardStyle == MdcCardStyle.Outlined) ? "mdc-card--outlined" : "";


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeAsync<object>("BlazorMdc.card.init", elementReference);
        }
    }
}