<div class="@myClass">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    private MdcCard Parent { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    private string myClass => Parent.AutoStyled ? "bmdc-card__primary" : "";
}