@typeparam TItem

@inherits MdcComponentBase

@inject IJSRuntime jsRuntime


<div @ref="@elementReference" class="mdc-data-table @Class">
    <table class="mdc-data-table__table" aria-label="Dessert calories">
        <thead>
            @Header
        </thead>
        <tbody class="mdc-data-table__content">
            @foreach (var item in Items)
            { 
                <tr class="mdc-data-table__row">
                    @Row(item)
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter] public RenderFragment Header { get; set; }
    [Parameter] public IEnumerable<TItem> Items { get; set; }
    [Parameter] public RenderFragment<TItem> Row { get; set; }


    private ElementReference elementReference;


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        @if (firstRender)
        {
            await jsRuntime.InvokeAsync<object>("BlazorMdc.dataTable.init", elementReference);
        }
    }
}