.mb-autocomplete {
    display: inline-flex;
    flex-direction: column;
}

.mb-autocomplete .mdc-select,
.mb-autocomplete .mdc-select__anchor,
.mb-autocomplete--blank {
    height: 0;
}

.mb-autocomplete .mdc-select__menu {
    visibility: visible;
    min-height: 1rem;
}