mb-bladeset {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-gap: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100vh;
    overflow-y: hidden;
}

mb-bladeset-scroll-helper {
    width: 0px;
}

mb-bladeset-main-content {
    width: auto;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

mb-blades {
    display: flex;
    flex-flow: row nowrap;
}

mb-blade {
    width: 0px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 200ms;
}

mb-blade-content {
    display: inline-block;
}
