@namespace BlazorMdc
@inherits MdcComponentBase


<button @ref="@ElementReference" 
        type="button"
        @attributes="@AttributesToSplat()">
    
    <PMdcIcon Icon="@Icon" IconFoundry="@IconFoundry" />
</button>