@namespace BlazorMdc

@typeparam TItem

@inherits MdcInputComponentBase<TItem>

@inject IJSRuntime jsRuntime


<div class="@ClassMapper.ToString()"
     style="@StyleMapper.ToString()">

    <div class="mdc-radio mdc-radio--touch">

        <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
        </div>

        <div class="mdc-radio__ripple"></div>

    </div>
    <label>Label</label>
</div>
