@import 'https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp';
/*
 *
 * Animations 
 *
 */
.bmdc-slide-in-from-left {
  animation: slideInFromLeft ease 200ms;
  -webkit-animation: slideInFromLeft ease 200ms; }

@-webkit-keyframes slideInFromLeft {
  0% {
    margin-left: -12px;
    margin-right: 12px;
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideInFromLeft {
  0% {
    margin-left: -12px;
    margin-right: 12px;
    opacity: 0; }
  100% {
    opacity: 1; } }

.bmdc-slide-in-from-right {
  animation: slideInFromRight ease 200ms;
  -webkit-animation: slideInFromRight ease 200ms; }

@-webkit-keyframes slideInFromRight {
  0% {
    margin-left: 12px;
    margin-right: -12px;
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideInFromRight {
  0% {
    margin-left: 12px;
    margin-right: -12px;
    opacity: 0; }
  100% {
    opacity: 1; } }

.bmdc-slide-out-to-left {
  animation: slideOutToLeft ease-out 1000ms;
  -webkit-animation: slideOutToLeft ease-out 1000ms; }

@-webkit-keyframes slideOutToLeft {
  0% {
    opacity: 1; }
  10% {
    margin-left: -12px;
    margin-right: 12px;
    opacity: 0; }
  100% {
    margin-left: -12px;
    margin-right: 12px;
    opacity: 0; } }

@keyframes slideOutToLeft {
  0% {
    opacity: 1; }
  10% {
    margin-left: -12px;
    margin-right: 12px;
    opacity: 0; }
  100% {
    margin-left: -12px;
    margin-right: 12px;
    opacity: 0; } }

.bmdc-slide-out-to-right {
  animation: slideOutToRight ease-out 1000ms;
  -webkit-animation: slideOutToRight ease-out 1000ms; }

@-webkit-keyframes slideOutToRight {
  0% {
    opacity: 1; }
  10% {
    margin-left: 12px;
    margin-right: -12px;
    opacity: 0; }
  100% {
    margin-left: 12px;
    margin-right: -12px;
    opacity: 0; } }

@keyframes slideOutToRight {
  0% {
    opacity: 1; }
  10% {
    margin-left: 12px;
    margin-right: -12px;
    opacity: 0; }
  100% {
    margin-left: 12px;
    margin-right: -12px;
    opacity: 0; } }

.bmdc-card {
  width: 350px;
  margin: 48px 0; }

.bmdc-card__primary {
  padding: 1rem; }

.bmdc-card__title {
  margin: 0; }

.bmdc-card__subtitle {
  margin: 0; }

.bmdc-card__secondary, .bmdc-card__subtitle {
  color: rgba(0, 0, 0, 0.54);
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54)); }

.bmdc-card__secondary {
  padding: 0 1rem 8px; }

.bmdc-card__media.mdc-card__media--square {
  width: 110px; }

.bmdc-basic-with-header .bmdc-card__secondary, .bmdc-basic-with-text-over-media .bmdc-card__secondary {
  padding-top: 1rem; }

.bmdc-basic-with-text-over-media .bmdc-card__media-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end; }

.bmdc-basic-with-text-over-media .bmdc-card__media-content .bmdc-card__subtitle, .bmdc-basic-with-text-over-media .bmdc-card__media-content .bmdc-card__title {
  color: #fff; }

.bmdc-ui-control .bmdc-card__primary-action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.bmdc-top-app-bar__title-right {
  padding: 0 20px 0 0 !important; }

.bmdc-full-width {
  width: 100%; }

.bmdc-form-field {
  flex-wrap: wrap; }

.bmdc-mdc-radio-break {
  flex-basis: 100%;
  height: 0; }

:root {
  --bmdc-color-red-50: #ffebee;
  --bmdc-color-red-100: #ffcdd2;
  --bmdc-color-red-200: #ef9a9a;
  --bmdc-color-red-300: #e57373;
  --bmdc-color-red-400: #ef5350;
  --bmdc-color-red-500: #f44336;
  --bmdc-color-red-600: #e53935;
  --bmdc-color-red-700: #d32f2f;
  --bmdc-color-red-800: #c62828;
  --bmdc-color-red-900: #b71c1c;
  --bmdc-color-red-A100: #ff8a80;
  --bmdc-color-red-A200: #ff5252;
  --bmdc-color-red-A400: #ff1744;
  --bmdc-color-red-A700: #d50000;
  --bmdc-color-pink-50: #fce4ec;
  --bmdc-color-pink-100: #f8bbd0;
  --bmdc-color-pink-200: #f48fb1;
  --bmdc-color-pink-300: #f06292;
  --bmdc-color-pink-400: #ec407a;
  --bmdc-color-pink-500: #e91e63;
  --bmdc-color-pink-600: #d81b60;
  --bmdc-color-pink-700: #c2185b;
  --bmdc-color-pink-800: #ad1457;
  --bmdc-color-pink-900: #880e4f;
  --bmdc-color-pink-A100: #ff80ab;
  --bmdc-color-pink-A200: #ff4081;
  --bmdc-color-pink-A400: #f50057;
  --bmdc-color-pink-A700: #c51162;
  --bmdc-color-purple-50: #f3e5f5;
  --bmdc-color-purple-100: #e1bee7;
  --bmdc-color-purple-200: #ce93d8;
  --bmdc-color-purple-300: #ba68c8;
  --bmdc-color-purple-400: #ab47bc;
  --bmdc-color-purple-500: #9c27b0;
  --bmdc-color-purple-600: #8e24aa;
  --bmdc-color-purple-700: #7b1fa2;
  --bmdc-color-purple-800: #6a1b9a;
  --bmdc-color-purple-900: #4a148c;
  --bmdc-color-purple-A100: #ea80fc;
  --bmdc-color-purple-A200: #e040fb;
  --bmdc-color-purple-A400: #d500f9;
  --bmdc-color-purple-A700: #aa00ff;
  --bmdc-color-deeppurple-50: #ede7f6;
  --bmdc-color-deeppurple-100: #d1c4e9;
  --bmdc-color-deeppurple-200: #b39ddb;
  --bmdc-color-deeppurple-300: #9575cd;
  --bmdc-color-deeppurple-400: #7e57c2;
  --bmdc-color-deeppurple-500: #673ab7;
  --bmdc-color-deeppurple-600: #5e35b1;
  --bmdc-color-deeppurple-700: #512da8;
  --bmdc-color-deeppurple-800: #4527a0;
  --bmdc-color-deeppurple-900: #311b92;
  --bmdc-color-deeppurple-A100: #b388ff;
  --bmdc-color-deeppurple-A200: #7c4dff;
  --bmdc-color-deeppurple-A400: #651fff;
  --bmdc-color-deeppurple-A700: #6200ea;
  --bmdc-color-indigo-50: #e8eaf6;
  --bmdc-color-indigo-100: #c5cae9;
  --bmdc-color-indigo-200: #9fa8da;
  --bmdc-color-indigo-300: #7986cb;
  --bmdc-color-indigo-400: #5c6bc0;
  --bmdc-color-indigo-500: #3f51b5;
  --bmdc-color-indigo-600: #3949ab;
  --bmdc-color-indigo-700: #303f9f;
  --bmdc-color-indigo-800: #283593;
  --bmdc-color-indigo-900: #1a237e;
  --bmdc-color-indigo-A100: #8c9eff;
  --bmdc-color-indigo-A200: #536dfe;
  --bmdc-color-indigo-A400: #3d5afe;
  --bmdc-color-indigo-A700: #304ffe;
  --bmdc-color-blue-50: #e3f2fd;
  --bmdc-color-blue-100: #bbdefb;
  --bmdc-color-blue-200: #90caf9;
  --bmdc-color-blue-300: #64b5f6;
  --bmdc-color-blue-400: #42a5f5;
  --bmdc-color-blue-500: #2196f3;
  --bmdc-color-blue-600: #1e88e5;
  --bmdc-color-blue-700: #1976d2;
  --bmdc-color-blue-800: #1565c0;
  --bmdc-color-blue-900: #0d47a1;
  --bmdc-color-blue-A100: #82b1ff;
  --bmdc-color-blue-A200: #448aff;
  --bmdc-color-blue-A400: #2979ff;
  --bmdc-color-blue-A700: #2962ff;
  --bmdc-color-lightblue-50: #e1f5fe;
  --bmdc-color-lightblue-100: #b3e5fc;
  --bmdc-color-lightblue-200: #81d4fa;
  --bmdc-color-lightblue-300: #4fc3f7;
  --bmdc-color-lightblue-400: #29b6f6;
  --bmdc-color-lightblue-500: #03a9f4;
  --bmdc-color-lightblue-600: #039be5;
  --bmdc-color-lightblue-700: #0288d1;
  --bmdc-color-lightblue-800: #0277bd;
  --bmdc-color-lightblue-900: #01579b;
  --bmdc-color-lightblue-A100: #80d8ff;
  --bmdc-color-lightblue-A200: #40c4ff;
  --bmdc-color-lightblue-A400: #00b0ff;
  --bmdc-color-lightblue-A700: #0091ea;
  --bmdc-color-cyan-50: #e0f7fa;
  --bmdc-color-cyan-100: #b2ebf2;
  --bmdc-color-cyan-200: #80deea;
  --bmdc-color-cyan-300: #4dd0e1;
  --bmdc-color-cyan-400: #26c6da;
  --bmdc-color-cyan-500: #00bcd4;
  --bmdc-color-cyan-600: #00acc1;
  --bmdc-color-cyan-700: #0097a7;
  --bmdc-color-cyan-800: #00838f;
  --bmdc-color-cyan-900: #006064;
  --bmdc-color-cyan-A100: #84ffff;
  --bmdc-color-cyan-A200: #18ffff;
  --bmdc-color-cyan-A400: #00e5ff;
  --bmdc-color-cyan-A700: #00b8d4;
  --bmdc-color-teal-50: #e0f2f1;
  --bmdc-color-teal-100: #b2dfdb;
  --bmdc-color-teal-200: #80cbc4;
  --bmdc-color-teal-300: #4db6ac;
  --bmdc-color-teal-400: #26a69a;
  --bmdc-color-teal-500: #009688;
  --bmdc-color-teal-600: #00897b;
  --bmdc-color-teal-700: #00796b;
  --bmdc-color-teal-800: #00695c;
  --bmdc-color-teal-900: #004d40;
  --bmdc-color-teal-A100: #a7ffeb;
  --bmdc-color-teal-A200: #64ffda;
  --bmdc-color-teal-A400: #1de9b6;
  --bmdc-color-teal-A700: #00bfa5;
  --bmdc-color-green-50: #e8f5e9;
  --bmdc-color-green-100: #c8e6c9;
  --bmdc-color-green-200: #a5d6a7;
  --bmdc-color-green-300: #81c784;
  --bmdc-color-green-400: #66bb6a;
  --bmdc-color-green-500: #4caf50;
  --bmdc-color-green-600: #43a047;
  --bmdc-color-green-700: #388e3c;
  --bmdc-color-green-800: #2e7d32;
  --bmdc-color-green-900: #1b5e20;
  --bmdc-color-green-A100: #b9f6ca;
  --bmdc-color-green-A200: #69f0ae;
  --bmdc-color-green-A400: #00e676;
  --bmdc-color-green-A700: #00c853;
  --bmdc-color-lightgreen-50: #f1f8e9;
  --bmdc-color-lightgreen-100: #dcedc8;
  --bmdc-color-lightgreen-200: #c5e1a5;
  --bmdc-color-lightgreen-300: #aed581;
  --bmdc-color-lightgreen-400: #9ccc65;
  --bmdc-color-lightgreen-500: #8bc34a;
  --bmdc-color-lightgreen-600: #7cb342;
  --bmdc-color-lightgreen-700: #689f38;
  --bmdc-color-lightgreen-800: #558b2f;
  --bmdc-color-lightgreen-900: #33691e;
  --bmdc-color-lightgreen-A100: #ccff90;
  --bmdc-color-lightgreen-A200: #b2ff59;
  --bmdc-color-lightgreen-A400: #76ff03;
  --bmdc-color-lightgreen-A700: #64dd17;
  --bmdc-color-lime-50: #f9fbe7;
  --bmdc-color-lime-100: #f0f4c3;
  --bmdc-color-lime-200: #e6ee9c;
  --bmdc-color-lime-300: #dce775;
  --bmdc-color-lime-400: #d4e157;
  --bmdc-color-lime-500: #cddc39;
  --bmdc-color-lime-600: #c0ca33;
  --bmdc-color-lime-700: #afb42b;
  --bmdc-color-lime-800: #9e9d24;
  --bmdc-color-lime-900: #827717;
  --bmdc-color-lime-A100: #f4ff81;
  --bmdc-color-lime-A200: #eeff41;
  --bmdc-color-lime-A400: #c6ff00;
  --bmdc-color-lime-A700: #aeea00;
  --bmdc-color-yellow-50: #fffde7;
  --bmdc-color-yellow-100: #fff9c4;
  --bmdc-color-yellow-200: #fff59d;
  --bmdc-color-yellow-300: #fff176;
  --bmdc-color-yellow-400: #ffee58;
  --bmdc-color-yellow-500: #ffeb3b;
  --bmdc-color-yellow-600: #fdd835;
  --bmdc-color-yellow-700: #fbc02d;
  --bmdc-color-yellow-800: #f9a825;
  --bmdc-color-yellow-900: #f57f17;
  --bmdc-color-yellow-A100: #ffff8d;
  --bmdc-color-yellow-A200: #ffff00;
  --bmdc-color-yellow-A400: #ffea00;
  --bmdc-color-yellow-A700: #ffd600;
  --bmdc-color-amber-50: #fff8e1;
  --bmdc-color-amber-100: #ffecb3;
  --bmdc-color-amber-200: #ffe082;
  --bmdc-color-amber-300: #ffd54f;
  --bmdc-color-amber-400: #ffca28;
  --bmdc-color-amber-500: #ffc107;
  --bmdc-color-amber-600: #ffb300;
  --bmdc-color-amber-700: #ffa000;
  --bmdc-color-amber-800: #ff8f00;
  --bmdc-color-amber-900: #ff6f00;
  --bmdc-color-amber-A100: #ffe57f;
  --bmdc-color-amber-A200: #ffd740;
  --bmdc-color-amber-A400: #ffc400;
  --bmdc-color-amber-A700: #ffab00;
  --bmdc-color-orange-50: #fff3e0;
  --bmdc-color-orange-100: #ffe0b2;
  --bmdc-color-orange-200: #ffcc80;
  --bmdc-color-orange-300: #ffb74d;
  --bmdc-color-orange-400: #ffa726;
  --bmdc-color-orange-500: #ff9800;
  --bmdc-color-orange-600: #fb8c00;
  --bmdc-color-orange-700: #f57c00;
  --bmdc-color-orange-800: #ef6c00;
  --bmdc-color-orange-900: #e65100;
  --bmdc-color-orange-A100: #ffd180;
  --bmdc-color-orange-A200: #ffab40;
  --bmdc-color-orange-A400: #ff9100;
  --bmdc-color-orange-A700: #ff6d00;
  --bmdc-color-deeporange-50: #fbe9e7;
  --bmdc-color-deeporange-100: #ffccbc;
  --bmdc-color-deeporange-200: #ffab91;
  --bmdc-color-deeporange-300: #ff8a65;
  --bmdc-color-deeporange-400: #ff7043;
  --bmdc-color-deeporange-500: #ff5722;
  --bmdc-color-deeporange-600: #f4511e;
  --bmdc-color-deeporange-700: #e64a19;
  --bmdc-color-deeporange-800: #d84315;
  --bmdc-color-deeporange-900: #bf360c;
  --bmdc-color-deeporange-A100: #ff9e80;
  --bmdc-color-deeporange-A200: #ff6e40;
  --bmdc-color-deeporange-A400: #ff3d00;
  --bmdc-color-deeporange-A700: #dd2c00;
  --bmdc-color-deeporange-Brown50: #efebe9;
  --bmdc-color-deeporange-100: #d7ccc8;
  --bmdc-color-deeporange-200: #bcaaa4;
  --bmdc-color-deeporange-300: #a1887f;
  --bmdc-color-deeporange-400: #8d6e63;
  --bmdc-color-deeporange-500: #795548;
  --bmdc-color-deeporange-600: #6d4c41;
  --bmdc-color-deeporange-700: #5d4037;
  --bmdc-color-deeporange-800: #4e342e;
  --bmdc-color-deeporange-900: #3e2723;
  --bmdc-color-deeporange-Gray50: #fafafa;
  --bmdc-color-deeporange-100: #f5f5f5;
  --bmdc-color-deeporange-200: #eeeeee;
  --bmdc-color-deeporange-300: #e0e0e0;
  --bmdc-color-deeporange-400: #bdbdbd;
  --bmdc-color-deeporange-500: #9e9e9e;
  --bmdc-color-deeporange-600: #757575;
  --bmdc-color-deeporange-700: #616161;
  --bmdc-color-deeporange-800: #424242;
  --bmdc-color-deeporange-900: #212121;
  --bmdc-color-bluegray-50: #eceff1;
  --bmdc-color-bluegray-100: #cfd8dc;
  --bmdc-color-bluegray-200: #b0bec5;
  --bmdc-color-bluegray-300: #90a4ae;
  --bmdc-color-bluegray-400: #78909c;
  --bmdc-color-bluegray-500: #607d8b;
  --bmdc-color-bluegray-600: #546e7a;
  --bmdc-color-bluegray-700: #455a64;
  --bmdc-color-bluegray-800: #37474f;
  --bmdc-color-bluegray-900: #263238;
  --bmdc-color-black: #000000;
  --bmdc-color-white: #ffffff; }

.bmdc-dp-container {
  display: inline-block; }

.bmdc-dp-list {
  height: 0 !important;
  width: 0;
  padding: 0 !important;
  visibility: hidden; }

.bmdc-dp-menu {
  box-sizing: content-box;
  padding: 16px 8px 12px 24px;
  height: 24px;
  font-weight: bold;
  user-select: none;
  width: 224px;
  min-width: 224px;
  overflow: visible !important; }

.bmdc-dp-menu__surface-adjust {
  overflow: visible !important;
  display: inline-block; }

.bmdc-dp-menu__container {
  position: relative; }

.bmdc-dp-menu--icon-button {
  height: 24px !important;
  width: 24px !important;
  width: 224px;
  padding: 0 !important; }

.bmdc-dp-menu__float-left {
  float: left;
  height: 24px;
  line-height: 24px;
  margin-right: 4px; }

.bmdc-dp-menu__float-right {
  float: right;
  height: 24px;
  line-height: 24px; }

.bmdc-dp-menu__float-right-spaced {
  margin-left: 4px; }

.bmdc-dp-day-pad {
  display: inline-block;
  box-sizing: content-box;
  padding: 0 16px 4px 16px;
  /* Want bottom padding of 8px, but inline-block adds 4px of whitespace already */
  user-select: none;
  overflow: visible;
  width: 224px; }

.bmdc-dp-day-pad__weekdays-line {
  box-sizing: content-box;
  padding: 0 0 12px 0 !important;
  overflow: hidden; }

.bmdc-dp-day-pad__weekday {
  float: left;
  text-align: center;
  height: 32px;
  line-height: 32px;
  width: 32px;
  margin: auto;
  padding: 0; }

.bmdc-dp-day-pad__days-line {
  box-sizing: content-box;
  padding: 0 !important;
  overflow: hidden; }

.bmdc-dp-day-pad__button-container {
  float: left;
  height: 32px;
  width: 32px;
  margin: auto;
  padding: 0;
  position: relative; }

.bmdc-dp-day-pad__button {
  float: left;
  text-align: center;
  height: 28px !important;
  line-height: 28px;
  width: 28px !important;
  min-width: 28px !important;
  max-width: 28px;
  border-radius: 14px !important;
  margin: 2px !important;
  padding: 0 !important;
  top: 0;
  left: 0; }

.bmdc-dp-day-pad__button__ripple {
  border-radius: 14px !important; }

.bmdc-dp-year-pad {
  display: inline-block;
  box-sizing: content-box;
  padding: 4px 0 4px 12px;
  /* Want bottom padding of 8px, but inline-block adds 4px of whitespace already */
  user-select: none;
  overflow: visible;
  max-height: 228px;
  width: 256px; }

.bmdc-dp-year-pad__years-line {
  box-sizing: content-box;
  padding: 0 !important;
  overflow: auto;
  max-height: 228px; }

.bmdc-dp-year-pad__button-container {
  float: left;
  height: 32px;
  width: 56px;
  margin: auto;
  padding: 0;
  position: relative; }

.bmdc-dp-year-pad__button {
  float: left;
  text-align: center;
  height: 28px !important;
  line-height: 28px;
  width: 52px !important;
  min-width: 52px !important;
  max-width: 52px;
  border-radius: 14px !important;
  margin: 2px !important;
  padding: 0 !important;
  top: 0;
  left: 0; }

.bmdc-dp-year-pad__button__ripple {
  border-radius: 14px !important; }

.bmdc-dialog-overflow-visible {
  overflow: visible !important; }

:root {
  --bmdc-icon-3d_rotation: '\e84d';
  --bmdc-icon-ac_unit: '\eb3b';
  --bmdc-icon-access_alarm: '\e190';
  --bmdc-icon-access_alarms: '\e191';
  --bmdc-icon-access_time: '\e192';
  --bmdc-icon-accessibility: '\e84e';
  --bmdc-icon-accessible: '\e914';
  --bmdc-icon-account_balance: '\e84f';
  --bmdc-icon-account_balance_wallet: '\e850';
  --bmdc-icon-account_box: '\e851';
  --bmdc-icon-account_circle: '\e853';
  --bmdc-icon-adb: '\e60e';
  --bmdc-icon-add: '\e145';
  --bmdc-icon-add_a_photo: '\e439';
  --bmdc-icon-add_alarm: '\e193';
  --bmdc-icon-add_alert: '\e003';
  --bmdc-icon-add_box: '\e146';
  --bmdc-icon-add_circle: '\e147';
  --bmdc-icon-add_circle_outline: '\e148';
  --bmdc-icon-add_location: '\e567';
  --bmdc-icon-add_shopping_cart: '\e854';
  --bmdc-icon-add_to_photos: '\e39d';
  --bmdc-icon-add_to_queue: '\e05c';
  --bmdc-icon-adjust: '\e39e';
  --bmdc-icon-airline_seat_flat: '\e630';
  --bmdc-icon-airline_seat_flat_angled: '\e631';
  --bmdc-icon-airline_seat_individual_suite: '\e632';
  --bmdc-icon-airline_seat_legroom_extra: '\e633';
  --bmdc-icon-airline_seat_legroom_normal: '\e634';
  --bmdc-icon-airline_seat_legroom_reduced: '\e635';
  --bmdc-icon-airline_seat_recline_extra: '\e636';
  --bmdc-icon-airline_seat_recline_normal: '\e637';
  --bmdc-icon-airplanemode_active: '\e195';
  --bmdc-icon-airplanemode_inactive: '\e194';
  --bmdc-icon-airplay: '\e055';
  --bmdc-icon-airport_shuttle: '\eb3c';
  --bmdc-icon-alarm: '\e855';
  --bmdc-icon-alarm_add: '\e856';
  --bmdc-icon-alarm_off: '\e857';
  --bmdc-icon-alarm_on: '\e858';
  --bmdc-icon-album: '\e019';
  --bmdc-icon-all_inclusive: '\eb3d';
  --bmdc-icon-all_out: '\e90b';
  --bmdc-icon-android: '\e859';
  --bmdc-icon-announcement: '\e85a';
  --bmdc-icon-apps: '\e5c3';
  --bmdc-icon-archive: '\e149';
  --bmdc-icon-arrow_back: '\e5c4';
  --bmdc-icon-arrow_downward: '\e5db';
  --bmdc-icon-arrow_drop_down: '\e5c5';
  --bmdc-icon-arrow_drop_down_circle: '\e5c6';
  --bmdc-icon-arrow_drop_up: '\e5c7';
  --bmdc-icon-arrow_forward: '\e5c8';
  --bmdc-icon-arrow_upward: '\e5d8';
  --bmdc-icon-art_track: '\e060';
  --bmdc-icon-aspect_ratio: '\e85b';
  --bmdc-icon-assessment: '\e85c';
  --bmdc-icon-assignment: '\e85d';
  --bmdc-icon-assignment_ind: '\e85e';
  --bmdc-icon-assignment_late: '\e85f';
  --bmdc-icon-assignment_return: '\e860';
  --bmdc-icon-assignment_returned: '\e861';
  --bmdc-icon-assignment_turned_in: '\e862';
  --bmdc-icon-assistant: '\e39f';
  --bmdc-icon-assistant_photo: '\e3a0';
  --bmdc-icon-attach_file: '\e226';
  --bmdc-icon-attach_money: '\e227';
  --bmdc-icon-attachment: '\e2bc';
  --bmdc-icon-audiotrack: '\e3a1';
  --bmdc-icon-autorenew: '\e863';
  --bmdc-icon-av_timer: '\e01b';
  --bmdc-icon-backspace: '\e14a';
  --bmdc-icon-backup: '\e864';
  --bmdc-icon-battery_alert: '\e19c';
  --bmdc-icon-battery_charging_full: '\e1a3';
  --bmdc-icon-battery_full: '\e1a4';
  --bmdc-icon-battery_std: '\e1a5';
  --bmdc-icon-battery_unknown: '\e1a6';
  --bmdc-icon-beach_access: '\eb3e';
  --bmdc-icon-beenhere: '\e52d';
  --bmdc-icon-block: '\e14b';
  --bmdc-icon-bluetooth: '\e1a7';
  --bmdc-icon-bluetooth_audio: '\e60f';
  --bmdc-icon-bluetooth_connected: '\e1a8';
  --bmdc-icon-bluetooth_disabled: '\e1a9';
  --bmdc-icon-bluetooth_searching: '\e1aa';
  --bmdc-icon-blur_circular: '\e3a2';
  --bmdc-icon-blur_linear: '\e3a3';
  --bmdc-icon-blur_off: '\e3a4';
  --bmdc-icon-blur_on: '\e3a5';
  --bmdc-icon-book: '\e865';
  --bmdc-icon-bookmark: '\e866';
  --bmdc-icon-bookmark_border: '\e867';
  --bmdc-icon-border_all: '\e228';
  --bmdc-icon-border_bottom: '\e229';
  --bmdc-icon-border_clear: '\e22a';
  --bmdc-icon-border_color: '\e22b';
  --bmdc-icon-border_horizontal: '\e22c';
  --bmdc-icon-border_inner: '\e22d';
  --bmdc-icon-border_left: '\e22e';
  --bmdc-icon-border_outer: '\e22f';
  --bmdc-icon-border_right: '\e230';
  --bmdc-icon-border_style: '\e231';
  --bmdc-icon-border_top: '\e232';
  --bmdc-icon-border_vertical: '\e233';
  --bmdc-icon-branding_watermark: '\e06b';
  --bmdc-icon-brightness_1: '\e3a6';
  --bmdc-icon-brightness_2: '\e3a7';
  --bmdc-icon-brightness_3: '\e3a8';
  --bmdc-icon-brightness_4: '\e3a9';
  --bmdc-icon-brightness_5: '\e3aa';
  --bmdc-icon-brightness_6: '\e3ab';
  --bmdc-icon-brightness_7: '\e3ac';
  --bmdc-icon-brightness_auto: '\e1ab';
  --bmdc-icon-brightness_high: '\e1ac';
  --bmdc-icon-brightness_low: '\e1ad';
  --bmdc-icon-brightness_medium: '\e1ae';
  --bmdc-icon-broken_image: '\e3ad';
  --bmdc-icon-brush: '\e3ae';
  --bmdc-icon-bubble_chart: '\e6dd';
  --bmdc-icon-bug_report: '\e868';
  --bmdc-icon-build: '\e869';
  --bmdc-icon-burst_mode: '\e43c';
  --bmdc-icon-business: '\e0af';
  --bmdc-icon-business_center: '\eb3f';
  --bmdc-icon-cached: '\e86a';
  --bmdc-icon-cake: '\e7e9';
  --bmdc-icon-call: '\e0b0';
  --bmdc-icon-call_end: '\e0b1';
  --bmdc-icon-call_made: '\e0b2';
  --bmdc-icon-call_merge: '\e0b3';
  --bmdc-icon-call_missed: '\e0b4';
  --bmdc-icon-call_missed_outgoing: '\e0e4';
  --bmdc-icon-call_received: '\e0b5';
  --bmdc-icon-call_split: '\e0b6';
  --bmdc-icon-call_to_action: '\e06c';
  --bmdc-icon-camera: '\e3af';
  --bmdc-icon-camera_alt: '\e3b0';
  --bmdc-icon-camera_enhance: '\e8fc';
  --bmdc-icon-camera_front: '\e3b1';
  --bmdc-icon-camera_rear: '\e3b2';
  --bmdc-icon-camera_roll: '\e3b3';
  --bmdc-icon-cancel: '\e5c9';
  --bmdc-icon-card_giftcard: '\e8f6';
  --bmdc-icon-card_membership: '\e8f7';
  --bmdc-icon-card_travel: '\e8f8';
  --bmdc-icon-casino: '\eb40';
  --bmdc-icon-cast: '\e307';
  --bmdc-icon-cast_connected: '\e308';
  --bmdc-icon-center_focus_strong: '\e3b4';
  --bmdc-icon-center_focus_weak: '\e3b5';
  --bmdc-icon-change_history: '\e86b';
  --bmdc-icon-chat: '\e0b7';
  --bmdc-icon-chat_bubble: '\e0ca';
  --bmdc-icon-chat_bubble_outline: '\e0cb';
  --bmdc-icon-check: '\e5ca';
  --bmdc-icon-check_box: '\e834';
  --bmdc-icon-check_box_outline_blank: '\e835';
  --bmdc-icon-check_circle: '\e86c';
  --bmdc-icon-chevron_left: '\e5cb';
  --bmdc-icon-chevron_right: '\e5cc';
  --bmdc-icon-child_care: '\eb41';
  --bmdc-icon-child_friendly: '\eb42';
  --bmdc-icon-chrome_reader_mode: '\e86d';
  --bmdc-icon-class: '\e86e';
  --bmdc-icon-clear: '\e14c';
  --bmdc-icon-clear_all: '\e0b8';
  --bmdc-icon-close: '\e5cd';
  --bmdc-icon-closed_caption: '\e01c';
  --bmdc-icon-cloud: '\e2bd';
  --bmdc-icon-cloud_circle: '\e2be';
  --bmdc-icon-cloud_done: '\e2bf';
  --bmdc-icon-cloud_download: '\e2c0';
  --bmdc-icon-cloud_off: '\e2c1';
  --bmdc-icon-cloud_queue: '\e2c2';
  --bmdc-icon-cloud_upload: '\e2c3';
  --bmdc-icon-code: '\e86f';
  --bmdc-icon-collections: '\e3b6';
  --bmdc-icon-collections_bookmark: '\e431';
  --bmdc-icon-color_lens: '\e3b7';
  --bmdc-icon-colorize: '\e3b8';
  --bmdc-icon-comment: '\e0b9';
  --bmdc-icon-compare: '\e3b9';
  --bmdc-icon-compare_arrows: '\e915';
  --bmdc-icon-computer: '\e30a';
  --bmdc-icon-confirmation_number: '\e638';
  --bmdc-icon-contact_mail: '\e0d0';
  --bmdc-icon-contact_phone: '\e0cf';
  --bmdc-icon-contacts: '\e0ba';
  --bmdc-icon-content_copy: '\e14d';
  --bmdc-icon-content_cut: '\e14e';
  --bmdc-icon-content_paste: '\e14f';
  --bmdc-icon-control_point: '\e3ba';
  --bmdc-icon-control_point_duplicate: '\e3bb';
  --bmdc-icon-copyright: '\e90c';
  --bmdc-icon-create: '\e150';
  --bmdc-icon-create_new_folder: '\e2cc';
  --bmdc-icon-credit_card: '\e870';
  --bmdc-icon-crop: '\e3be';
  --bmdc-icon-crop_16_9: '\e3bc';
  --bmdc-icon-crop_3_2: '\e3bd';
  --bmdc-icon-crop_5_4: '\e3bf';
  --bmdc-icon-crop_7_5: '\e3c0';
  --bmdc-icon-crop_din: '\e3c1';
  --bmdc-icon-crop_free: '\e3c2';
  --bmdc-icon-crop_landscape: '\e3c3';
  --bmdc-icon-crop_original: '\e3c4';
  --bmdc-icon-crop_portrait: '\e3c5';
  --bmdc-icon-crop_rotate: '\e437';
  --bmdc-icon-crop_square: '\e3c6';
  --bmdc-icon-dashboard: '\e871';
  --bmdc-icon-data_usage: '\e1af';
  --bmdc-icon-date_range: '\e916';
  --bmdc-icon-dehaze: '\e3c7';
  --bmdc-icon-delete: '\e872';
  --bmdc-icon-delete_forever: '\e92b';
  --bmdc-icon-delete_sweep: '\e16c';
  --bmdc-icon-description: '\e873';
  --bmdc-icon-desktop_mac: '\e30b';
  --bmdc-icon-desktop_windows: '\e30c';
  --bmdc-icon-details: '\e3c8';
  --bmdc-icon-developer_board: '\e30d';
  --bmdc-icon-developer_mode: '\e1b0';
  --bmdc-icon-device_hub: '\e335';
  --bmdc-icon-devices: '\e1b1';
  --bmdc-icon-devices_other: '\e337';
  --bmdc-icon-dialer_sip: '\e0bb';
  --bmdc-icon-dialpad: '\e0bc';
  --bmdc-icon-directions: '\e52e';
  --bmdc-icon-directions_bike: '\e52f';
  --bmdc-icon-directions_boat: '\e532';
  --bmdc-icon-directions_bus: '\e530';
  --bmdc-icon-directions_car: '\e531';
  --bmdc-icon-directions_railway: '\e534';
  --bmdc-icon-directions_run: '\e566';
  --bmdc-icon-directions_subway: '\e533';
  --bmdc-icon-directions_transit: '\e535';
  --bmdc-icon-directions_walk: '\e536';
  --bmdc-icon-disc_full: '\e610';
  --bmdc-icon-dns: '\e875';
  --bmdc-icon-do_not_disturb: '\e612';
  --bmdc-icon-do_not_disturb_alt: '\e611';
  --bmdc-icon-do_not_disturb_off: '\e643';
  --bmdc-icon-do_not_disturb_on: '\e644';
  --bmdc-icon-dock: '\e30e';
  --bmdc-icon-domain: '\e7ee';
  --bmdc-icon-done: '\e876';
  --bmdc-icon-done_all: '\e877';
  --bmdc-icon-donut_large: '\e917';
  --bmdc-icon-donut_small: '\e918';
  --bmdc-icon-drafts: '\e151';
  --bmdc-icon-drag_handle: '\e25d';
  --bmdc-icon-drive_eta: '\e613';
  --bmdc-icon-dvr: '\e1b2';
  --bmdc-icon-edit: '\e3c9';
  --bmdc-icon-edit_location: '\e568';
  --bmdc-icon-eject: '\e8fb';
  --bmdc-icon-email: '\e0be';
  --bmdc-icon-enhanced_encryption: '\e63f';
  --bmdc-icon-equalizer: '\e01d';
  --bmdc-icon-error: '\e000';
  --bmdc-icon-error_outline: '\e001';
  --bmdc-icon-euro_symbol: '\e926';
  --bmdc-icon-ev_station: '\e56d';
  --bmdc-icon-event: '\e878';
  --bmdc-icon-event_available: '\e614';
  --bmdc-icon-event_busy: '\e615';
  --bmdc-icon-event_note: '\e616';
  --bmdc-icon-event_seat: '\e903';
  --bmdc-icon-exit_to_app: '\e879';
  --bmdc-icon-expand_less: '\e5ce';
  --bmdc-icon-expand_more: '\e5cf';
  --bmdc-icon-explicit: '\e01e';
  --bmdc-icon-explore: '\e87a';
  --bmdc-icon-exposure: '\e3ca';
  --bmdc-icon-exposure_neg_1: '\e3cb';
  --bmdc-icon-exposure_neg_2: '\e3cc';
  --bmdc-icon-exposure_plus_1: '\e3cd';
  --bmdc-icon-exposure_plus_2: '\e3ce';
  --bmdc-icon-exposure_zero: '\e3cf';
  --bmdc-icon-extension: '\e87b';
  --bmdc-icon-face: '\e87c';
  --bmdc-icon-fast_forward: '\e01f';
  --bmdc-icon-fast_rewind: '\e020';
  --bmdc-icon-favorite: '\e87d';
  --bmdc-icon-favorite_border: '\e87e';
  --bmdc-icon-featured_play_list: '\e06d';
  --bmdc-icon-featured_video: '\e06e';
  --bmdc-icon-feedback: '\e87f';
  --bmdc-icon-fiber_dvr: '\e05d';
  --bmdc-icon-fiber_manual_record: '\e061';
  --bmdc-icon-fiber_new: '\e05e';
  --bmdc-icon-fiber_pin: '\e06a';
  --bmdc-icon-fiber_smart_record: '\e062';
  --bmdc-icon-file_download: '\e2c4';
  --bmdc-icon-file_upload: '\e2c6';
  --bmdc-icon-filter: '\e3d3';
  --bmdc-icon-filter_1: '\e3d0';
  --bmdc-icon-filter_2: '\e3d1';
  --bmdc-icon-filter_3: '\e3d2';
  --bmdc-icon-filter_4: '\e3d4';
  --bmdc-icon-filter_5: '\e3d5';
  --bmdc-icon-filter_6: '\e3d6';
  --bmdc-icon-filter_7: '\e3d7';
  --bmdc-icon-filter_8: '\e3d8';
  --bmdc-icon-filter_9: '\e3d9';
  --bmdc-icon-filter_9_plus: '\e3da';
  --bmdc-icon-filter_b_and_w: '\e3db';
  --bmdc-icon-filter_center_focus: '\e3dc';
  --bmdc-icon-filter_drama: '\e3dd';
  --bmdc-icon-filter_frames: '\e3de';
  --bmdc-icon-filter_hdr: '\e3df';
  --bmdc-icon-filter_list: '\e152';
  --bmdc-icon-filter_none: '\e3e0';
  --bmdc-icon-filter_tilt_shift: '\e3e2';
  --bmdc-icon-filter_vintage: '\e3e3';
  --bmdc-icon-find_in_page: '\e880';
  --bmdc-icon-find_replace: '\e881';
  --bmdc-icon-fingerprint: '\e90d';
  --bmdc-icon-first_page: '\e5dc';
  --bmdc-icon-fitness_center: '\eb43';
  --bmdc-icon-flag: '\e153';
  --bmdc-icon-flare: '\e3e4';
  --bmdc-icon-flash_auto: '\e3e5';
  --bmdc-icon-flash_off: '\e3e6';
  --bmdc-icon-flash_on: '\e3e7';
  --bmdc-icon-flight: '\e539';
  --bmdc-icon-flight_land: '\e904';
  --bmdc-icon-flight_takeoff: '\e905';
  --bmdc-icon-flip: '\e3e8';
  --bmdc-icon-flip_to_back: '\e882';
  --bmdc-icon-flip_to_front: '\e883';
  --bmdc-icon-folder: '\e2c7';
  --bmdc-icon-folder_open: '\e2c8';
  --bmdc-icon-folder_shared: '\e2c9';
  --bmdc-icon-folder_special: '\e617';
  --bmdc-icon-font_download: '\e167';
  --bmdc-icon-format_align_center: '\e234';
  --bmdc-icon-format_align_justify: '\e235';
  --bmdc-icon-format_align_left: '\e236';
  --bmdc-icon-format_align_right: '\e237';
  --bmdc-icon-format_bold: '\e238';
  --bmdc-icon-format_clear: '\e239';
  --bmdc-icon-format_color_fill: '\e23a';
  --bmdc-icon-format_color_reset: '\e23b';
  --bmdc-icon-format_color_text: '\e23c';
  --bmdc-icon-format_indent_decrease: '\e23d';
  --bmdc-icon-format_indent_increase: '\e23e';
  --bmdc-icon-format_italic: '\e23f';
  --bmdc-icon-format_line_spacing: '\e240';
  --bmdc-icon-format_list_bulleted: '\e241';
  --bmdc-icon-format_list_numbered: '\e242';
  --bmdc-icon-format_paint: '\e243';
  --bmdc-icon-format_quote: '\e244';
  --bmdc-icon-format_shapes: '\e25e';
  --bmdc-icon-format_size: '\e245';
  --bmdc-icon-format_strikethrough: '\e246';
  --bmdc-icon-format_textdirection_l_to_r: '\e247';
  --bmdc-icon-format_textdirection_r_to_l: '\e248';
  --bmdc-icon-format_underlined: '\e249';
  --bmdc-icon-forum: '\e0bf';
  --bmdc-icon-forward: '\e154';
  --bmdc-icon-forward_10: '\e056';
  --bmdc-icon-forward_30: '\e057';
  --bmdc-icon-forward_5: '\e058';
  --bmdc-icon-free_breakfast: '\eb44';
  --bmdc-icon-fullscreen: '\e5d0';
  --bmdc-icon-fullscreen_exit: '\e5d1';
  --bmdc-icon-functions: '\e24a';
  --bmdc-icon-g_translate: '\e927';
  --bmdc-icon-gamepad: '\e30f';
  --bmdc-icon-games: '\e021';
  --bmdc-icon-gavel: '\e90e';
  --bmdc-icon-gesture: '\e155';
  --bmdc-icon-get_app: '\e884';
  --bmdc-icon-gif: '\e908';
  --bmdc-icon-golf_course: '\eb45';
  --bmdc-icon-gps_fixed: '\e1b3';
  --bmdc-icon-gps_not_fixed: '\e1b4';
  --bmdc-icon-gps_off: '\e1b5';
  --bmdc-icon-grade: '\e885';
  --bmdc-icon-gradient: '\e3e9';
  --bmdc-icon-grain: '\e3ea';
  --bmdc-icon-graphic_eq: '\e1b8';
  --bmdc-icon-grid_off: '\e3eb';
  --bmdc-icon-grid_on: '\e3ec';
  --bmdc-icon-group: '\e7ef';
  --bmdc-icon-group_add: '\e7f0';
  --bmdc-icon-group_work: '\e886';
  --bmdc-icon-hd: '\e052';
  --bmdc-icon-hdr_off: '\e3ed';
  --bmdc-icon-hdr_on: '\e3ee';
  --bmdc-icon-hdr_strong: '\e3f1';
  --bmdc-icon-hdr_weak: '\e3f2';
  --bmdc-icon-headset: '\e310';
  --bmdc-icon-headset_mic: '\e311';
  --bmdc-icon-healing: '\e3f3';
  --bmdc-icon-hearing: '\e023';
  --bmdc-icon-help: '\e887';
  --bmdc-icon-help_outline: '\e8fd';
  --bmdc-icon-high_quality: '\e024';
  --bmdc-icon-highlight: '\e25f';
  --bmdc-icon-highlight_off: '\e888';
  --bmdc-icon-history: '\e889';
  --bmdc-icon-home: '\e88a';
  --bmdc-icon-hot_tub: '\eb46';
  --bmdc-icon-hotel: '\e53a';
  --bmdc-icon-hourglass_empty: '\e88b';
  --bmdc-icon-hourglass_full: '\e88c';
  --bmdc-icon-http: '\e902';
  --bmdc-icon-https: '\e88d';
  --bmdc-icon-image: '\e3f4';
  --bmdc-icon-image_aspect_ratio: '\e3f5';
  --bmdc-icon-import_contacts: '\e0e0';
  --bmdc-icon-import_export: '\e0c3';
  --bmdc-icon-important_devices: '\e912';
  --bmdc-icon-inbox: '\e156';
  --bmdc-icon-indeterminate_check_box: '\e909';
  --bmdc-icon-info: '\e88e';
  --bmdc-icon-info_outline: '\e88f';
  --bmdc-icon-input: '\e890';
  --bmdc-icon-insert_chart: '\e24b';
  --bmdc-icon-insert_comment: '\e24c';
  --bmdc-icon-insert_drive_file: '\e24d';
  --bmdc-icon-insert_emoticon: '\e24e';
  --bmdc-icon-insert_invitation: '\e24f';
  --bmdc-icon-insert_link: '\e250';
  --bmdc-icon-insert_photo: '\e251';
  --bmdc-icon-invert_colors: '\e891';
  --bmdc-icon-invert_colors_off: '\e0c4';
  --bmdc-icon-iso: '\e3f6';
  --bmdc-icon-keyboard: '\e312';
  --bmdc-icon-keyboard_arrow_down: '\e313';
  --bmdc-icon-keyboard_arrow_left: '\e314';
  --bmdc-icon-keyboard_arrow_right: '\e315';
  --bmdc-icon-keyboard_arrow_up: '\e316';
  --bmdc-icon-keyboard_backspace: '\e317';
  --bmdc-icon-keyboard_capslock: '\e318';
  --bmdc-icon-keyboard_hide: '\e31a';
  --bmdc-icon-keyboard_return: '\e31b';
  --bmdc-icon-keyboard_tab: '\e31c';
  --bmdc-icon-keyboard_voice: '\e31d';
  --bmdc-icon-kitchen: '\eb47';
  --bmdc-icon-label: '\e892';
  --bmdc-icon-label_outline: '\e893';
  --bmdc-icon-landscape: '\e3f7';
  --bmdc-icon-language: '\e894';
  --bmdc-icon-laptop: '\e31e';
  --bmdc-icon-laptop_chromebook: '\e31f';
  --bmdc-icon-laptop_mac: '\e320';
  --bmdc-icon-laptop_windows: '\e321';
  --bmdc-icon-last_page: '\e5dd';
  --bmdc-icon-launch: '\e895';
  --bmdc-icon-layers: '\e53b';
  --bmdc-icon-layers_clear: '\e53c';
  --bmdc-icon-leak_add: '\e3f8';
  --bmdc-icon-leak_remove: '\e3f9';
  --bmdc-icon-lens: '\e3fa';
  --bmdc-icon-library_add: '\e02e';
  --bmdc-icon-library_books: '\e02f';
  --bmdc-icon-library_music: '\e030';
  --bmdc-icon-lightbulb_outline: '\e90f';
  --bmdc-icon-line_style: '\e919';
  --bmdc-icon-line_weight: '\e91a';
  --bmdc-icon-linear_scale: '\e260';
  --bmdc-icon-link: '\e157';
  --bmdc-icon-linked_camera: '\e438';
  --bmdc-icon-list: '\e896';
  --bmdc-icon-live_help: '\e0c6';
  --bmdc-icon-live_tv: '\e639';
  --bmdc-icon-local_activity: '\e53f';
  --bmdc-icon-local_airport: '\e53d';
  --bmdc-icon-local_atm: '\e53e';
  --bmdc-icon-local_bar: '\e540';
  --bmdc-icon-local_cafe: '\e541';
  --bmdc-icon-local_car_wash: '\e542';
  --bmdc-icon-local_convenience_store: '\e543';
  --bmdc-icon-local_dining: '\e556';
  --bmdc-icon-local_drink: '\e544';
  --bmdc-icon-local_florist: '\e545';
  --bmdc-icon-local_gas_station: '\e546';
  --bmdc-icon-local_grocery_store: '\e547';
  --bmdc-icon-local_hospital: '\e548';
  --bmdc-icon-local_hotel: '\e549';
  --bmdc-icon-local_laundry_service: '\e54a';
  --bmdc-icon-local_library: '\e54b';
  --bmdc-icon-local_mall: '\e54c';
  --bmdc-icon-local_movies: '\e54d';
  --bmdc-icon-local_offer: '\e54e';
  --bmdc-icon-local_parking: '\e54f';
  --bmdc-icon-local_pharmacy: '\e550';
  --bmdc-icon-local_phone: '\e551';
  --bmdc-icon-local_pizza: '\e552';
  --bmdc-icon-local_play: '\e553';
  --bmdc-icon-local_post_office: '\e554';
  --bmdc-icon-local_printshop: '\e555';
  --bmdc-icon-local_see: '\e557';
  --bmdc-icon-local_shipping: '\e558';
  --bmdc-icon-local_taxi: '\e559';
  --bmdc-icon-location_city: '\e7f1';
  --bmdc-icon-location_disabled: '\e1b6';
  --bmdc-icon-location_off: '\e0c7';
  --bmdc-icon-location_on: '\e0c8';
  --bmdc-icon-location_searching: '\e1b7';
  --bmdc-icon-lock: '\e897';
  --bmdc-icon-lock_open: '\e898';
  --bmdc-icon-lock_outline: '\e899';
  --bmdc-icon-looks: '\e3fc';
  --bmdc-icon-looks_3: '\e3fb';
  --bmdc-icon-looks_4: '\e3fd';
  --bmdc-icon-looks_5: '\e3fe';
  --bmdc-icon-looks_6: '\e3ff';
  --bmdc-icon-looks_one: '\e400';
  --bmdc-icon-looks_two: '\e401';
  --bmdc-icon-loop: '\e028';
  --bmdc-icon-loupe: '\e402';
  --bmdc-icon-low_priority: '\e16d';
  --bmdc-icon-loyalty: '\e89a';
  --bmdc-icon-mail: '\e158';
  --bmdc-icon-mail_outline: '\e0e1';
  --bmdc-icon-map: '\e55b';
  --bmdc-icon-markunread: '\e159';
  --bmdc-icon-markunread_mailbox: '\e89b';
  --bmdc-icon-memory: '\e322';
  --bmdc-icon-menu: '\e5d2';
  --bmdc-icon-merge_type: '\e252';
  --bmdc-icon-message: '\e0c9';
  --bmdc-icon-mic: '\e029';
  --bmdc-icon-mic_none: '\e02a';
  --bmdc-icon-mic_off: '\e02b';
  --bmdc-icon-mms: '\e618';
  --bmdc-icon-mode_comment: '\e253';
  --bmdc-icon-mode_edit: '\e254';
  --bmdc-icon-monetization_on: '\e263';
  --bmdc-icon-money_off: '\e25c';
  --bmdc-icon-monochrome_photos: '\e403';
  --bmdc-icon-mood: '\e7f2';
  --bmdc-icon-mood_bad: '\e7f3';
  --bmdc-icon-more: '\e619';
  --bmdc-icon-more_horiz: '\e5d3';
  --bmdc-icon-more_vert: '\e5d4';
  --bmdc-icon-motorcycle: '\e91b';
  --bmdc-icon-mouse: '\e323';
  --bmdc-icon-move_to_inbox: '\e168';
  --bmdc-icon-movie: '\e02c';
  --bmdc-icon-movie_creation: '\e404';
  --bmdc-icon-movie_filter: '\e43a';
  --bmdc-icon-multiline_chart: '\e6df';
  --bmdc-icon-music_note: '\e405';
  --bmdc-icon-music_video: '\e063';
  --bmdc-icon-my_location: '\e55c';
  --bmdc-icon-nature: '\e406';
  --bmdc-icon-nature_people: '\e407';
  --bmdc-icon-navigate_before: '\e408';
  --bmdc-icon-navigate_next: '\e409';
  --bmdc-icon-navigation: '\e55d';
  --bmdc-icon-near_me: '\e569';
  --bmdc-icon-network_cell: '\e1b9';
  --bmdc-icon-network_check: '\e640';
  --bmdc-icon-network_locked: '\e61a';
  --bmdc-icon-network_wifi: '\e1ba';
  --bmdc-icon-new_releases: '\e031';
  --bmdc-icon-next_week: '\e16a';
  --bmdc-icon-nfc: '\e1bb';
  --bmdc-icon-no_encryption: '\e641';
  --bmdc-icon-no_sim: '\e0cc';
  --bmdc-icon-not_interested: '\e033';
  --bmdc-icon-note: '\e06f';
  --bmdc-icon-note_add: '\e89c';
  --bmdc-icon-notifications: '\e7f4';
  --bmdc-icon-notifications_active: '\e7f7';
  --bmdc-icon-notifications_none: '\e7f5';
  --bmdc-icon-notifications_off: '\e7f6';
  --bmdc-icon-notifications_paused: '\e7f8';
  --bmdc-icon-offline_pin: '\e90a';
  --bmdc-icon-ondemand_video: '\e63a';
  --bmdc-icon-opacity: '\e91c';
  --bmdc-icon-open_in_browser: '\e89d';
  --bmdc-icon-open_in_new: '\e89e';
  --bmdc-icon-open_with: '\e89f';
  --bmdc-icon-pages: '\e7f9';
  --bmdc-icon-pageview: '\e8a0';
  --bmdc-icon-palette: '\e40a';
  --bmdc-icon-pan_tool: '\e925';
  --bmdc-icon-panorama: '\e40b';
  --bmdc-icon-panorama_fish_eye: '\e40c';
  --bmdc-icon-panorama_horizontal: '\e40d';
  --bmdc-icon-panorama_vertical: '\e40e';
  --bmdc-icon-panorama_wide_angle: '\e40f';
  --bmdc-icon-party_mode: '\e7fa';
  --bmdc-icon-pause: '\e034';
  --bmdc-icon-pause_circle_filled: '\e035';
  --bmdc-icon-pause_circle_outline: '\e036';
  --bmdc-icon-payment: '\e8a1';
  --bmdc-icon-people: '\e7fb';
  --bmdc-icon-people_outline: '\e7fc';
  --bmdc-icon-perm_camera_mic: '\e8a2';
  --bmdc-icon-perm_contact_calendar: '\e8a3';
  --bmdc-icon-perm_data_setting: '\e8a4';
  --bmdc-icon-perm_device_information: '\e8a5';
  --bmdc-icon-perm_identity: '\e8a6';
  --bmdc-icon-perm_media: '\e8a7';
  --bmdc-icon-perm_phone_msg: '\e8a8';
  --bmdc-icon-perm_scan_wifi: '\e8a9';
  --bmdc-icon-person: '\e7fd';
  --bmdc-icon-person_add: '\e7fe';
  --bmdc-icon-person_outline: '\e7ff';
  --bmdc-icon-person_pin: '\e55a';
  --bmdc-icon-person_pin_circle: '\e56a';
  --bmdc-icon-personal_video: '\e63b';
  --bmdc-icon-pets: '\e91d';
  --bmdc-icon-phone: '\e0cd';
  --bmdc-icon-phone_android: '\e324';
  --bmdc-icon-phone_bluetooth_speaker: '\e61b';
  --bmdc-icon-phone_forwarded: '\e61c';
  --bmdc-icon-phone_in_talk: '\e61d';
  --bmdc-icon-phone_iphone: '\e325';
  --bmdc-icon-phone_locked: '\e61e';
  --bmdc-icon-phone_missed: '\e61f';
  --bmdc-icon-phone_paused: '\e620';
  --bmdc-icon-phonelink: '\e326';
  --bmdc-icon-phonelink_erase: '\e0db';
  --bmdc-icon-phonelink_lock: '\e0dc';
  --bmdc-icon-phonelink_off: '\e327';
  --bmdc-icon-phonelink_ring: '\e0dd';
  --bmdc-icon-phonelink_setup: '\e0de';
  --bmdc-icon-photo: '\e410';
  --bmdc-icon-photo_album: '\e411';
  --bmdc-icon-photo_camera: '\e412';
  --bmdc-icon-photo_filter: '\e43b';
  --bmdc-icon-photo_library: '\e413';
  --bmdc-icon-photo_size_select_actual: '\e432';
  --bmdc-icon-photo_size_select_large: '\e433';
  --bmdc-icon-photo_size_select_small: '\e434';
  --bmdc-icon-picture_as_pdf: '\e415';
  --bmdc-icon-picture_in_picture: '\e8aa';
  --bmdc-icon-picture_in_picture_alt: '\e911';
  --bmdc-icon-pie_chart: '\e6c4';
  --bmdc-icon-pie_chart_outlined: '\e6c5';
  --bmdc-icon-pin_drop: '\e55e';
  --bmdc-icon-place: '\e55f';
  --bmdc-icon-play_arrow: '\e037';
  --bmdc-icon-play_circle_filled: '\e038';
  --bmdc-icon-play_circle_outline: '\e039';
  --bmdc-icon-play_for_work: '\e906';
  --bmdc-icon-playlist_add: '\e03b';
  --bmdc-icon-playlist_add_check: '\e065';
  --bmdc-icon-playlist_play: '\e05f';
  --bmdc-icon-plus_one: '\e800';
  --bmdc-icon-poll: '\e801';
  --bmdc-icon-polymer: '\e8ab';
  --bmdc-icon-pool: '\eb48';
  --bmdc-icon-portable_wifi_off: '\e0ce';
  --bmdc-icon-portrait: '\e416';
  --bmdc-icon-power: '\e63c';
  --bmdc-icon-power_input: '\e336';
  --bmdc-icon-power_settings_new: '\e8ac';
  --bmdc-icon-pregnant_woman: '\e91e';
  --bmdc-icon-present_to_all: '\e0df';
  --bmdc-icon-print: '\e8ad';
  --bmdc-icon-priority_high: '\e645';
  --bmdc-icon-public: '\e80b';
  --bmdc-icon-publish: '\e255';
  --bmdc-icon-query_builder: '\e8ae';
  --bmdc-icon-question_answer: '\e8af';
  --bmdc-icon-queue: '\e03c';
  --bmdc-icon-queue_music: '\e03d';
  --bmdc-icon-queue_play_next: '\e066';
  --bmdc-icon-radio: '\e03e';
  --bmdc-icon-radio_button_checked: '\e837';
  --bmdc-icon-radio_button_unchecked: '\e836';
  --bmdc-icon-rate_review: '\e560';
  --bmdc-icon-receipt: '\e8b0';
  --bmdc-icon-recent_actors: '\e03f';
  --bmdc-icon-record_voice_over: '\e91f';
  --bmdc-icon-redeem: '\e8b1';
  --bmdc-icon-redo: '\e15a';
  --bmdc-icon-refresh: '\e5d5';
  --bmdc-icon-remove: '\e15b';
  --bmdc-icon-remove_circle: '\e15c';
  --bmdc-icon-remove_circle_outline: '\e15d';
  --bmdc-icon-remove_from_queue: '\e067';
  --bmdc-icon-remove_red_eye: '\e417';
  --bmdc-icon-remove_shopping_cart: '\e928';
  --bmdc-icon-reorder: '\e8fe';
  --bmdc-icon-repeat: '\e040';
  --bmdc-icon-repeat_one: '\e041';
  --bmdc-icon-replay: '\e042';
  --bmdc-icon-replay_10: '\e059';
  --bmdc-icon-replay_30: '\e05a';
  --bmdc-icon-replay_5: '\e05b';
  --bmdc-icon-reply: '\e15e';
  --bmdc-icon-reply_all: '\e15f';
  --bmdc-icon-report: '\e160';
  --bmdc-icon-report_problem: '\e8b2';
  --bmdc-icon-restaurant: '\e56c';
  --bmdc-icon-restaurant_menu: '\e561';
  --bmdc-icon-restore: '\e8b3';
  --bmdc-icon-restore_page: '\e929';
  --bmdc-icon-ring_volume: '\e0d1';
  --bmdc-icon-room: '\e8b4';
  --bmdc-icon-room_service: '\eb49';
  --bmdc-icon-rotate_90_degrees_ccw: '\e418';
  --bmdc-icon-rotate_left: '\e419';
  --bmdc-icon-rotate_right: '\e41a';
  --bmdc-icon-rounded_corner: '\e920';
  --bmdc-icon-router: '\e328';
  --bmdc-icon-rowing: '\e921';
  --bmdc-icon-rss_feed: '\e0e5';
  --bmdc-icon-rv_hookup: '\e642';
  --bmdc-icon-satellite: '\e562';
  --bmdc-icon-save: '\e161';
  --bmdc-icon-scanner: '\e329';
  --bmdc-icon-schedule: '\e8b5';
  --bmdc-icon-school: '\e80c';
  --bmdc-icon-screen_lock_landscape: '\e1be';
  --bmdc-icon-screen_lock_portrait: '\e1bf';
  --bmdc-icon-screen_lock_rotation: '\e1c0';
  --bmdc-icon-screen_rotation: '\e1c1';
  --bmdc-icon-screen_share: '\e0e2';
  --bmdc-icon-sd_card: '\e623';
  --bmdc-icon-sd_storage: '\e1c2';
  --bmdc-icon-search: '\e8b6';
  --bmdc-icon-security: '\e32a';
  --bmdc-icon-select_all: '\e162';
  --bmdc-icon-send: '\e163';
  --bmdc-icon-sentiment_dissatisfied: '\e811';
  --bmdc-icon-sentiment_neutral: '\e812';
  --bmdc-icon-sentiment_satisfied: '\e813';
  --bmdc-icon-sentiment_very_dissatisfied: '\e814';
  --bmdc-icon-sentiment_very_satisfied: '\e815';
  --bmdc-icon-settings: '\e8b8';
  --bmdc-icon-settings_applications: '\e8b9';
  --bmdc-icon-settings_backup_restore: '\e8ba';
  --bmdc-icon-settings_bluetooth: '\e8bb';
  --bmdc-icon-settings_brightness: '\e8bd';
  --bmdc-icon-settings_cell: '\e8bc';
  --bmdc-icon-settings_ethernet: '\e8be';
  --bmdc-icon-settings_input_antenna: '\e8bf';
  --bmdc-icon-settings_input_component: '\e8c0';
  --bmdc-icon-settings_input_composite: '\e8c1';
  --bmdc-icon-settings_input_hdmi: '\e8c2';
  --bmdc-icon-settings_input_svideo: '\e8c3';
  --bmdc-icon-settings_overscan: '\e8c4';
  --bmdc-icon-settings_phone: '\e8c5';
  --bmdc-icon-settings_power: '\e8c6';
  --bmdc-icon-settings_remote: '\e8c7';
  --bmdc-icon-settings_system_daydream: '\e1c3';
  --bmdc-icon-settings_voice: '\e8c8';
  --bmdc-icon-share: '\e80d';
  --bmdc-icon-shop: '\e8c9';
  --bmdc-icon-shop_two: '\e8ca';
  --bmdc-icon-shopping_basket: '\e8cb';
  --bmdc-icon-shopping_cart: '\e8cc';
  --bmdc-icon-short_text: '\e261';
  --bmdc-icon-show_chart: '\e6e1';
  --bmdc-icon-shuffle: '\e043';
  --bmdc-icon-signal_cellular_4_bar: '\e1c8';
  --bmdc-icon-signal_cellular_connected_no_internet_4_bar: '\e1cd';
  --bmdc-icon-signal_cellular_no_sim: '\e1ce';
  --bmdc-icon-signal_cellular_null: '\e1cf';
  --bmdc-icon-signal_cellular_off: '\e1d0';
  --bmdc-icon-signal_wifi_4_bar: '\e1d8';
  --bmdc-icon-signal_wifi_4_bar_lock: '\e1d9';
  --bmdc-icon-signal_wifi_off: '\e1da';
  --bmdc-icon-sim_card: '\e32b';
  --bmdc-icon-sim_card_alert: '\e624';
  --bmdc-icon-skip_next: '\e044';
  --bmdc-icon-skip_previous: '\e045';
  --bmdc-icon-slideshow: '\e41b';
  --bmdc-icon-slow_motion_video: '\e068';
  --bmdc-icon-smartphone: '\e32c';
  --bmdc-icon-smoke_free: '\eb4a';
  --bmdc-icon-smoking_rooms: '\eb4b';
  --bmdc-icon-sms: '\e625';
  --bmdc-icon-sms_failed: '\e626';
  --bmdc-icon-snooze: '\e046';
  --bmdc-icon-sort: '\e164';
  --bmdc-icon-sort_by_alpha: '\e053';
  --bmdc-icon-spa: '\eb4c';
  --bmdc-icon-space_bar: '\e256';
  --bmdc-icon-speaker: '\e32d';
  --bmdc-icon-speaker_group: '\e32e';
  --bmdc-icon-speaker_notes: '\e8cd';
  --bmdc-icon-speaker_notes_off: '\e92a';
  --bmdc-icon-speaker_phone: '\e0d2';
  --bmdc-icon-spellcheck: '\e8ce';
  --bmdc-icon-star: '\e838';
  --bmdc-icon-star_border: '\e83a';
  --bmdc-icon-star_half: '\e839';
  --bmdc-icon-stars: '\e8d0';
  --bmdc-icon-stay_current_landscape: '\e0d3';
  --bmdc-icon-stay_current_portrait: '\e0d4';
  --bmdc-icon-stay_primary_landscape: '\e0d5';
  --bmdc-icon-stay_primary_portrait: '\e0d6';
  --bmdc-icon-stop: '\e047';
  --bmdc-icon-stop_screen_share: '\e0e3';
  --bmdc-icon-storage: '\e1db';
  --bmdc-icon-store: '\e8d1';
  --bmdc-icon-store_mall_directory: '\e563';
  --bmdc-icon-straighten: '\e41c';
  --bmdc-icon-streetview: '\e56e';
  --bmdc-icon-strikethrough_s: '\e257';
  --bmdc-icon-style: '\e41d';
  --bmdc-icon-subdirectory_arrow_left: '\e5d9';
  --bmdc-icon-subdirectory_arrow_right: '\e5da';
  --bmdc-icon-subject: '\e8d2';
  --bmdc-icon-subscriptions: '\e064';
  --bmdc-icon-subtitles: '\e048';
  --bmdc-icon-subway: '\e56f';
  --bmdc-icon-supervisor_account: '\e8d3';
  --bmdc-icon-surround_sound: '\e049';
  --bmdc-icon-swap_calls: '\e0d7';
  --bmdc-icon-swap_horiz: '\e8d4';
  --bmdc-icon-swap_vert: '\e8d5';
  --bmdc-icon-swap_vertical_circle: '\e8d6';
  --bmdc-icon-switch_camera: '\e41e';
  --bmdc-icon-switch_video: '\e41f';
  --bmdc-icon-sync: '\e627';
  --bmdc-icon-sync_disabled: '\e628';
  --bmdc-icon-sync_problem: '\e629';
  --bmdc-icon-system_update: '\e62a';
  --bmdc-icon-system_update_alt: '\e8d7';
  --bmdc-icon-tab: '\e8d8';
  --bmdc-icon-tab_unselected: '\e8d9';
  --bmdc-icon-tablet: '\e32f';
  --bmdc-icon-tablet_android: '\e330';
  --bmdc-icon-tablet_mac: '\e331';
  --bmdc-icon-tag_faces: '\e420';
  --bmdc-icon-tap_and_play: '\e62b';
  --bmdc-icon-terrain: '\e564';
  --bmdc-icon-text_fields: '\e262';
  --bmdc-icon-text_format: '\e165';
  --bmdc-icon-textsms: '\e0d8';
  --bmdc-icon-texture: '\e421';
  --bmdc-icon-theaters: '\e8da';
  --bmdc-icon-thumb_down: '\e8db';
  --bmdc-icon-thumb_up: '\e8dc';
  --bmdc-icon-thumbs_up_down: '\e8dd';
  --bmdc-icon-time_to_leave: '\e62c';
  --bmdc-icon-timelapse: '\e422';
  --bmdc-icon-timeline: '\e922';
  --bmdc-icon-timer: '\e425';
  --bmdc-icon-timer_10: '\e423';
  --bmdc-icon-timer_3: '\e424';
  --bmdc-icon-timer_off: '\e426';
  --bmdc-icon-title: '\e264';
  --bmdc-icon-toc: '\e8de';
  --bmdc-icon-today: '\e8df';
  --bmdc-icon-toll: '\e8e0';
  --bmdc-icon-tonality: '\e427';
  --bmdc-icon-touch_app: '\e913';
  --bmdc-icon-toys: '\e332';
  --bmdc-icon-track_changes: '\e8e1';
  --bmdc-icon-traffic: '\e565';
  --bmdc-icon-train: '\e570';
  --bmdc-icon-tram: '\e571';
  --bmdc-icon-transfer_within_a_station: '\e572';
  --bmdc-icon-transform: '\e428';
  --bmdc-icon-translate: '\e8e2';
  --bmdc-icon-trending_down: '\e8e3';
  --bmdc-icon-trending_flat: '\e8e4';
  --bmdc-icon-trending_up: '\e8e5';
  --bmdc-icon-tune: '\e429';
  --bmdc-icon-turned_in: '\e8e6';
  --bmdc-icon-turned_in_not: '\e8e7';
  --bmdc-icon-tv: '\e333';
  --bmdc-icon-unarchive: '\e169';
  --bmdc-icon-undo: '\e166';
  --bmdc-icon-unfold_less: '\e5d6';
  --bmdc-icon-unfold_more: '\e5d7';
  --bmdc-icon-update: '\e923';
  --bmdc-icon-usb: '\e1e0';
  --bmdc-icon-verified_user: '\e8e8';
  --bmdc-icon-vertical_align_bottom: '\e258';
  --bmdc-icon-vertical_align_center: '\e259';
  --bmdc-icon-vertical_align_top: '\e25a';
  --bmdc-icon-vibration: '\e62d';
  --bmdc-icon-video_call: '\e070';
  --bmdc-icon-video_label: '\e071';
  --bmdc-icon-video_library: '\e04a';
  --bmdc-icon-videocam: '\e04b';
  --bmdc-icon-videocam_off: '\e04c';
  --bmdc-icon-videogame_asset: '\e338';
  --bmdc-icon-view_agenda: '\e8e9';
  --bmdc-icon-view_array: '\e8ea';
  --bmdc-icon-view_carousel: '\e8eb';
  --bmdc-icon-view_column: '\e8ec';
  --bmdc-icon-view_comfy: '\e42a';
  --bmdc-icon-view_compact: '\e42b';
  --bmdc-icon-view_day: '\e8ed';
  --bmdc-icon-view_headline: '\e8ee';
  --bmdc-icon-view_list: '\e8ef';
  --bmdc-icon-view_module: '\e8f0';
  --bmdc-icon-view_quilt: '\e8f1';
  --bmdc-icon-view_stream: '\e8f2';
  --bmdc-icon-view_week: '\e8f3';
  --bmdc-icon-vignette: '\e435';
  --bmdc-icon-visibility: '\e8f4';
  --bmdc-icon-visibility_off: '\e8f5';
  --bmdc-icon-voice_chat: '\e62e';
  --bmdc-icon-voicemail: '\e0d9';
  --bmdc-icon-volume_down: '\e04d';
  --bmdc-icon-volume_mute: '\e04e';
  --bmdc-icon-volume_off: '\e04f';
  --bmdc-icon-volume_up: '\e050';
  --bmdc-icon-vpn_key: '\e0da';
  --bmdc-icon-vpn_lock: '\e62f';
  --bmdc-icon-wallpaper: '\e1bc';
  --bmdc-icon-warning: '\e002';
  --bmdc-icon-watch: '\e334';
  --bmdc-icon-watch_later: '\e924';
  --bmdc-icon-wb_auto: '\e42c';
  --bmdc-icon-wb_cloudy: '\e42d';
  --bmdc-icon-wb_incandescent: '\e42e';
  --bmdc-icon-wb_iridescent: '\e436';
  --bmdc-icon-wb_sunny: '\e430';
  --bmdc-icon-wc: '\e63d';
  --bmdc-icon-web: '\e051';
  --bmdc-icon-web_asset: '\e069';
  --bmdc-icon-weekend: '\e16b';
  --bmdc-icon-whatshot: '\e80e';
  --bmdc-icon-widgets: '\e1bd';
  --bmdc-icon-wifi: '\e63e';
  --bmdc-icon-wifi_lock: '\e1e1';
  --bmdc-icon-wifi_tethering: '\e1e2';
  --bmdc-icon-work: '\e8f9';
  --bmdc-icon-wrap_text: '\e25b';
  --bmdc-icon-youtube_searched_for: '\e8fa';
  --bmdc-icon-zoom_in: '\e8ff';
  --bmdc-icon-zoom_out: '\e900';
  --bmdc-icon-zoom_out_map: '\e56b'; }

.bmdc-tab-bar {
  margin-bottom: 12px; }

.bmdc-tab-content-container {
  position: relative; }

.blazored-toast-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 101; }

.position-topleft,
.position-topright,
.position-topcenter {
  top: 0; }

.position-bottomleft,
.position-bottomright,
.position-bottomcenter {
  bottom: 0; }

.blazored-toast {
  display: flex;
  flex-direction: row;
  animation: fadein 1.5s;
  margin-bottom: 1rem;
  padding: 1rem 1.25rem;
  color: #fff;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 40px; }

.blazored-toast-info {
  background-color: #34a9ad; }

.blazored-toast-success {
  background-color: #5fba7d; }

.blazored-toast-warning {
  background-color: #c1c13e; }

.blazored-toast-error {
  background-color: #ba5e5e; }

.blazored-toast-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem 0 0;
  font-size: 2.5rem; }

.blazored-toast-body {
  display: flex;
  flex-direction: column;
  flex: 1; }

.blazored-toast-body .blazored-toast-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.blazored-toast-body .blazored-toast-header h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0;
  line-height: 32px; }

.blazored-toast-body .blazored-toast-header .blazored-toast-close {
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  color: inherit;
  font-size: 1.25rem; }

.blazored-toast-body p {
  margin-bottom: 0;
  font-size: 1rem; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (min-width: 576px) {
  .position-topleft {
    top: 2rem;
    left: 2rem; }
  .position-topright {
    top: 2rem;
    right: 2rem; }
  .position-topcenter {
    top: 2rem;
    left: 50%;
    margin-left: -15rem; }
  .position-bottomleft {
    bottom: 2rem;
    left: 2rem; }
  .position-bottomright {
    bottom: 2rem;
    right: 2rem; }
  .position-bottomcenter {
    bottom: 2rem;
    left: 50%;
    margin-left: -15rem; }
  .blazored-toast {
    width: 30rem;
    border-radius: .25rem; } }

.bmdc-align-left {
  text-align: left; }

.bmdc-align-center {
  text-align: center; }

.bmdc-align-right {
  text-align: right; }
