@namespace Material.Blazor.Internal
@inherits ComponentFoundation

@{ 
    OnBeforeRender();
}
@if (Tooltips.Any())
{
    <div>
        @*The tooltips are added into the DOM by order of their ID to help blazor keep the DOM changes minimal*@
        @foreach (var (id, tooltip) in Tooltips.OrderBy(x => x.Key))
        {
            <div @key="@id"
                 @ref="@tooltip.ElementReference"
                 id="mb-tooltip-@id"
                 class="mdc-tooltip"
                 role="tooltip"
                 aria-hidden="true"
                 style="z-index: 1000;">
                <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">
                    @if (tooltip.RenderFragmentContent == null)
                    {
                        @tooltip.MarkupStringContent;
                    }
                    else
                    {
                        @tooltip.RenderFragmentContent;
                    }
                </div>
            </div>
        }
    </div>
}