@namespace Material.Blazor


@if (TooltipType == MBTooltipType.Span)
{
    <span aria-describedby="mb-tooltip-@id">
        @if (Target != null)
        {
            @Target
        }
    </span>
}
else
{
    <div aria-describedby="mb-tooltip-@id">
        @if (Target != null)
        {
            @Target
        }
    </div>
}