@namespace Material.Blazor

@inherits ComponentFoundation


<a aria-describedby="mb-tooltip-@id"
   class="mb-tooltip-anchor @(@class)"
   style="@style"
   @attributes="@AttributesToSplat()">
    @if (Target != null)
    {
        @Target
    }
</a>
