:root {
    --bmdc-select-scroll-margin-right: 4px;
    --bmdc-select-scroll-width: 8px;
    --bmdc-select-scroll-border-radius: 4px;
    --bmdc-select-scroll-track-color: rgba(0, 0, 0, 0);
    --bmdc-select-scroll-color: var(--bmdc-color-bluegray-400);
    --bmdc-select-scroll-color__hover: var(--bmdc-color-bluegray-700);
}


.mdc-select {
    ::-webkit-scrollbar {
        width: var(--bmdc-select-scroll-width);
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background-color: var(--bmdc-select-scroll-track-color);
        margin-right: var(--bmdc-select-scroll-margin-right);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--bmdc-select-scroll-color);
        border-radius: var(--bmdc-select-scroll-border-radius);
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--bmdc-select-scroll-color__hover);
    }
}


.mdc-select--outlined .mdc-select__selected-text {
    display: block;
}
