@namespace BlazorMdc.Demo

@page "/menu"

<h1 class="mdc-typography--headline4">Menu samples</h1>

<p>See <code>MenuSample.razor</code> for sources.</p>

<div>
    <MTButton Label="Open Menu" @onclick="@OpenMenuAsync" />

    <div class="mdc-menu-surface--anchor">
        <MTMenu @ref="menu">
            <MTListItem Text="One" LeadingIcon="home" NavigationReference="One" OnClick="OnClickHandler" />
            <MTListItem Text="Two" NavigationReference="Two" OnClick="OnClickHandler" />
            <MTListItem Text="Three" LeadingIcon="shield" IconFoundry="MTIconHelper.OIFoundry()" NavigationReference="Three" OnClick="OnClickHandler" />
            <MTListDivider />
            <MTMenuSelectionGroup>
                <MTListItem Text="Four" LeadingIcon="done" NavigationReference="Four" OnClick="OnClickHandler" />
                <MTListItem Text="Five" LeadingIcon="done" NavigationReference="Five" OnClick="OnClickHandler" />
            </MTMenuSelectionGroup>
            <MTListDivider />
            <MTListItem Text="Six (disabled)" Disabled="true" NavigationReference="Six" OnClick="OnClickHandler" />
        </MTMenu>
    </div>
</div>

<p>Clicked: @clickResult</p>


@code {
    private MTMenu menu;
    private string clickResult = "";

    private async Task OpenMenuAsync()
    {
        await menu.ToggleAsync();
    }

    protected void OnClickHandler(string NavigationReference)
    {
        clickResult = NavigationReference;
    }

}
