@namespace BlazorMdc.Demo

@page "/menu"

<h1 class="mdc-typography--headline4">Menu samples</h1>

<p>See <code>MenuSample.razor</code> for sources.</p>

<div>
    <BMdc.Button Label="Open Menu" @onclick="@OpenMenuAsync" />

    <div class="mdc-menu-surface--anchor">
        <BMdc.Menu @ref="menu">
            <BMdc.ListItem Text="One" LeadingIcon="home" NavigationReference="One" OnClick="OnClickHandler" />
            <BMdc.ListItem Text="Two" NavigationReference="Two" OnClick="OnClickHandler" />
            <BMdc.ListItem Text="Three" LeadingIcon="shield" IconFoundry="BModel.IconHelper.OIFoundry()" NavigationReference="Three" OnClick="OnClickHandler" />
            <BMdc.ListDivider />
            <BMdc.MenuSelectionGroup>
                <BMdc.ListItem Text="Four" LeadingIcon="done" NavigationReference="Four" OnClick="OnClickHandler" />
                <BMdc.ListItem Text="Five" LeadingIcon="done" NavigationReference="Five" OnClick="OnClickHandler" />
            </BMdc.MenuSelectionGroup>
            <BMdc.ListDivider />
            <BMdc.ListItem Text="Six (disabled)" Disabled="true" NavigationReference="Six" OnClick="OnClickHandler" />
        </BMdc.Menu>
    </div>
</div>

<p>Clicked: @clickResult</p>


@code {
    private BMdc.Menu menu;
    private string clickResult = "";

    private async Task OpenMenuAsync()
    {
        await menu.ToggleAsync();
    }

    protected void OnClickHandler(string NavigationReference)
    {
        clickResult = NavigationReference;
    }

}
