.mb-grid-poc-header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
    background: lightyellow;
    font-weight: normal;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
    box-sizing: border-box;
}

.mb-grid-poc-body {
    background: lightblue;
    font-weight: normal;
    padding: 0;
    overflow-x: auto;
    overflow-y: scroll;
    text-align: left;
    box-sizing: border-box;
}
