@inherits TestComponentBase


<SnapshotTest Setup="Setup">
<TestInput>
    <MBIconButton Icon="test" />
</TestInput>
<ExpectedOutput>
    <button class="mdc-icon-button   ">
        <i class="material-icons  ">test</i>
    </button>
</ExpectedOutput>

@code {
    void Setup(SnapshotTest test)
    {
        test.Services.AddLogging().AddMBServices();
    }
}
</SnapshotTest>