@inherits TestComponentBase


<SnapshotTest Setup="Setup">
<TestInput>
    <MBMenu />
</TestInput>
<ExpectedOutput>
    <div class="mdc-menu mdc-menu-surface mdc-menu-surface--fixed  ">
        <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
        </ul>
    </div>
</ExpectedOutput>

@code {
    void Setup(SnapshotTest test)
    {
        test.Services.AddLogging().AddMBServices();
    }
}
</SnapshotTest>