@inherits TestComponentBase


<SnapshotTest Setup="Setup">
    <TestInput>
        <MBNumericIntField Label="Hello" />
    </TestInput>
    <ExpectedOutput>
        <label class="mdc-text-field   mdc-text-field--filled      ">
            <span class="mdc-text-field__ripple"></span>
            <span class="mdc-floating-label mdc-floating-label--float-above" for="mb_bf091d71-2b1d-40fe-80a6-876a45b87712" id="mb_49221052-96f7-44c6-9ac4-6b9fba9b736b">Hello</span>
            <input step="1" aria-label="Hello" aria-labelledby="mb_49221052-96f7-44c6-9ac4-6b9fba9b736b" id="mb_bf091d71-2b1d-40fe-80a6-876a45b87712" class="mdc-text-field__input  mb-align-right " value="0">
            <span class="mdc-line-ripple"></span>
        </label>
    </ExpectedOutput>

    @code {
        void Setup(SnapshotTest test)
        {
            test.Services.AddLogging().AddMBServices();
        }
    }
</SnapshotTest>