@inherits TestComponentBase


<SnapshotTest Setup="Setup">
<TestInput>
    <MBNumericDecimalField Label="Hello" />
</TestInput>
<ExpectedOutput>
    <label class="mdc-text-field   mdc-text-field--filled      ">
        <span class="mdc-text-field__ripple"></span>
        <span class="mdc-floating-label mdc-floating-label--float-above" for="mb_c6e9ed7f-c881-47a0-b2d3-18ec0b031366" id="mb_78cb0698-a4c0-4128-8a94-444eae915a39">Hello</span>
        <input step="0.01" aria-label="Hello" aria-labelledby="mb_78cb0698-a4c0-4128-8a94-444eae915a39" id="mb_c6e9ed7f-c881-47a0-b2d3-18ec0b031366" class="mdc-text-field__input  mb-align-right " value="0">
        <span class="mdc-line-ripple"></span>
    </label>
</ExpectedOutput>

@code {
    void Setup(SnapshotTest test)
    {
        test.Services.AddLogging().AddMBServices();
    }
}
</SnapshotTest>