@inherits TestComponentBase


<SnapshotTest Setup="Setup">
<TestInput>
    <MBTextArea Label="Hello" />
</TestInput>
<ExpectedOutput>
    <label class="mdc-text-field mdc-text-field--textarea   mdc-text-field--filled    ">
        <span class="mdc-text-field__ripple"></span>
        <span class="mdc-floating-label " for:ignore id:ignore>Hello</span>
        <span class="mdc-text-field__resizer">
            <textarea id:ignore class="mdc-text-field__input  " aria-label="Hello" aria-labelledby:ignore rows="0" cols="0"></textarea>
        </span>
        <span class="mdc-line-ripple"></span>
    </label>
</ExpectedOutput>

@code {
    void Setup(SnapshotTest test)
    {
        test.Services.AddLogging().AddMBServices();
    }
}
</SnapshotTest>