@namespace BlazorMdc.Demo

@page "/progress"

<h1 class="mdc-typography--headline4">Progress samples</h1>

<p>See <code>ProgressSample.razor</code> for sources.</p>

<MdcLinearProgress />

<br />
<br />

<MdcLinearProgress Indeterminant="false" />
