@namespace BMdc
@inherits ComponentFoundation


<button @ref="@ElementReference" 
        type="button"
        @attributes="@AttributesToSplat()">
    
    <BMdcPlus.Icon IconName="@Icon" IconFoundry="@IconFoundry" />
</button>