@namespace BMdc
@inherits BBase.ComponentBase


<button @ref="@ElementReference" 
        type="button"
        @attributes="@AttributesToSplat()">
    
    <BPlus.Icon IconName="@Icon" IconFoundry="@IconFoundry" />
</button>