@page "/icon"

@inject IMBToastService ToastService



<DemonstrationPage ComponentName="Icon"
                   DemoComponent="@this"
                   DetailedArticle="Icon"
                   @* MaterialDesign3Page="" *@
                   Title="Icon Demonstration">
    <Description>
        <p>
            Shows several icons.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Icon
                    </h2>

                    <p>
                        <MBIcon IconName="access_alarms" />
                    </p>
                    <p>
                        <MBIcon IconName="mic" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>
    </PageContent>
</DemonstrationPage>
