@page "/linearprogress"

@namespace Material.Blazor.Website.Pages


<DemonstrationPage ComponentAndPageName="LinearProgress"
                   ComponentDirectory="ProgressIndicator"
                   MaterialDesignPage="linear-progress"
                   RequiresDisableSelection="false"
                   Title="Linear Progress Demonstration">
    <Description>
        <p>
            Linear progress indicators.
        </p>
    </Description>

    <Controls>
        <p>
            <MBRadioButtonGroup @bind-Value="progressLevel"
                                Items="@ProgressLevels" />
        </p>

        <p>
            <MBSwitch @bind-Value="@showProgress" />
            <span class="mdc-typography--body1" style="margin-left: 24px;">Show Progress Indicators (Not yet implemented)</span>
        </p>
    </Controls>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Indeterminate
                    </h2>
                    <MBLinearProgress ProgressType="MBProgressType.Indeterminate"
                                      style="margin: 6px;" />
                    <br />
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Indeterminate, 4 color
                    </h2>
                    <MBLinearProgress ProgressType="MBProgressType.Indeterminate"
                                      ProgressIsFourColor=true
                                      style="margin: 6px;" />
                    <br />
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Determinate
                    </h2>
                    <MBLinearProgress ProgressType="MBProgressType.Determinate"
                                      ProgressLevel=@progressLevel
                                      style="margin: 6px;" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

    </PageContent>
</DemonstrationPage>

@code {
    private MBSelectElement<double>[] ProgressLevels = new MBSelectElement<double>[]
    {
        new MBSelectElement<double> { SelectedValue = 0.25, TrailingLabel = "25% Progress" },
        new MBSelectElement<double> { SelectedValue = 0.50, TrailingLabel = "50% Progress" },
        new MBSelectElement<double> { SelectedValue = 0.75, TrailingLabel = "75% Progress" },
        new MBSelectElement<double> { SelectedValue = 1.00, TrailingLabel = "100% Progress" }
    };

    private double progressLevel { get; set; }

    private bool showProgress { get; set; } = true;

    public LinearProgress()
    {
        progressLevel = ProgressLevels[0].SelectedValue;
    }
}
