@page "/list"

@inject IMBToastService ToastService

@using Material.Blazor

<DemonstrationPage ComponentAndPageName="List"
                   MaterialWebPage="list"
                   RequiresDisableSelection="true"
                   Title="List Demonstration">
    <Description>
        <p>
            Demonstrates a list with list items, list dividers, and a list selection group.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        List with all variations
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Items 1,2, & 3 are simple text
                    </h3>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Items 4,5, & 6 add icons
                    </h3>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Item 7 has supporting text
                    </h3>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Item 8 has a link
                    </h3>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Item 9 is disabled
                    </h3>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Item 10 shows an image
                    </h3>

                    <p>
                        <MBList ListItems="@listItems" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>
    </PageContent>
</DemonstrationPage>



@code {
    private MBListItem[] listItems = new MBListItem[]
    {
            new MBListItem {
                Headline="One",
                HeadlineColor="darkblue" },
            new MBListItem {
                Headline="Two",
                HeadlineColor="darkblue" },
            new MBListItem {
                Headline="Three",
                HeadlineColor="darkblue" },
            new MBListItem
            {
                ListItemType=MBListItemType.Divider,
            },
            new MBListItem {
                Headline="Four",
                HeadlineColor="darkblue",
                LeadingIcon=MBIcon.IconDescriptorConstructor(
                                    name: "home",
                                    color: "darkblue")},
            new MBListItem {
                Headline="Five",
                HeadlineColor="darkblue",
                TrailingIcon=MBIcon.IconDescriptorConstructor(
                                    name: "alarm",
                                    color: "darkblue")},
            new MBListItem {
                Headline="Six",
                HeadlineColor="darkblue",
                LeadingIcon=MBIcon.IconDescriptorConstructor(
                                    name: "home",
                                    color: "darkblue"),
                TrailingIcon=MBIcon.IconDescriptorConstructor(
                                    name: "alarm",
                                    color: "darkblue")},
            new MBListItem
            {
                ListItemType=MBListItemType.Divider,
            },
            new MBListItem {
                Headline="Seven",
                HeadlineColor="darkblue",
                HeadlineSupport="The number of deadly sins",
                HeadlineSupportColor="darkred",
                LeadingIcon=MBIcon.IconDescriptorConstructor(
                                    name: "done",
                                    color: "darkgreen") },
            new MBListItem {
                Headline="Eight",
                HeadlineColor="darkblue",
                HeadlineSupport="This will open a link in a new tab",
                HeadlineSupportColor="darkred",
                Link="https://material-blazor.github.io/Material.Blazor.MD3/",
                TrailingIcon=MBIcon.IconDescriptorConstructor(
                                    name: "open_in_new",
                                    color: "darkgreen") },
            new MBListItem {
                ListItemType=MBListItemType.Divider,
            },
            new MBListItem {
                Headline="Nine (disabled)",
                HeadlineColor="darkblue",
                IsDisabled=true },
            new MBListItem {
                ListItemType=MBListItemType.Divider,
            },
            new MBListItem {
                Headline="Ten",
                HeadlineColor="darkblue",
                ImageSource="_content/Material.Blazor.Website.MD3/images/capybara.jpg",
                ImageStyle="width: 56px" },
    };

}
