@page "/progress"

@namespace Material.Blazor.Website.Pages


<DemonstrationPage ComponentAndPageName="Progress"
                   ComponentDirectory="ProgressIndicator"
                   MaterialWebPage="progress"
                   RequiresDisableSelection="false"
                   Title="Progress Demonstration">
    <Description>
        <p>
            Progress indicators.
        </p>
    </Description>

    <Controls>
        <p>
            <MBRadioButtonGroup @bind-Value="progressLevel"
                                Items="@ProgressLevels" />
        </p>

        <p>
            <MBSwitch @bind-Value="@showProgress" />
            <span class="mdc-typography--body1" style="margin-left: 24px;">Show Progress Indicators (Not yet implemented)</span>
        </p>
    </Controls>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h1>
                        Circular
                    </h1>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Indeterminate
                    </h2>
                    <MBProgress ProgressStyle="MBProgressStyle.Circular"
                                ProgressType="MBProgressType.Indeterminate"
                                style="margin: 6px;" />
                    <br />
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Indeterminate, 4 color
                    </h2>
                    <MBProgress ProgressStyle="MBProgressStyle.Circular"
                                ProgressType="MBProgressType.Indeterminate"
                                ProgressIsFourColor=true
                                style="margin: 6px;" />
                    <br />
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Determinate
                    </h2>
                    <MBProgress ProgressStyle="MBProgressStyle.Circular"
                                ProgressType="MBProgressType.Determinate"
                                ProgressLevel=@progressLevel
                                style="margin: 6px;" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h1>
                        Linear
                    </h1>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Indeterminate
                    </h2>
                    <MBProgress ProgressStyle="MBProgressStyle.Linear"
                                ProgressType="MBProgressType.Indeterminate"
                                style="margin: 6px;" />
                    <br />
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Indeterminate, 4 color
                    </h2>
                    <MBProgress ProgressStyle="MBProgressStyle.Linear"
                                ProgressType="MBProgressType.Indeterminate"
                                ProgressIsFourColor=true
                                style="margin: 6px;" />
                    <br />
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Determinate
                    </h2>
                    <MBProgress ProgressStyle="MBProgressStyle.Linear"
                                ProgressType="MBProgressType.Determinate"
                                ProgressLevel=@progressLevel
                                style="margin: 6px;" />
                    <br />
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Determinate with buffer
                    </h2>
                    @{
                        var bufferLevel = progressLevel + (1 - progressLevel) / 5;
                    }
                    <MBProgress ProgressBufferLevel="@bufferLevel"
                                ProgressStyle="MBProgressStyle.Linear"
                                ProgressType="MBProgressType.Determinate"
                                ProgressLevel=@progressLevel
                                style="margin: 6px;" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

    </PageContent>
</DemonstrationPage>

@code {
    private MBSingleSelectElement<double>[] ProgressLevels = new MBSingleSelectElement<double>[]
    {
        new MBSingleSelectElement<double> { SelectedValue = 0.25, TrailingLabel = "25% Progress" },
        new MBSingleSelectElement<double> { SelectedValue = 0.50, TrailingLabel = "50% Progress" },
        new MBSingleSelectElement<double> { SelectedValue = 0.75, TrailingLabel = "75% Progress" },
        new MBSingleSelectElement<double> { SelectedValue = 1.00, TrailingLabel = "100% Progress" }
    };

    private double progressLevel { get; set; }

    private bool showProgress { get; set; } = true;

    public Progress()
    {
        progressLevel = ProgressLevels[0].SelectedValue;
    }
}
