@page "/anchor"

@inject IMBToastService ToastService



<DemonstrationPage ComponentName="Anchor"
                   DemoComponent="@this"
                   MinDensity="MBDensity.Default"
                   RequiresDisableSelection="false"
                   Title="Anchor Demonstration">
    <Description>
        <p>
            Anchor component.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Anchor
                    </h2>

                    <p>
                        The Anchor is a non-visual component. If you use Snackbar, Toast and/or Tooltip components this
                        must be placed in your app.razor or the layout page used for all application components
                        that use snackbars, toasts and tooltips.
                    </p>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>
