@page "/animatednavigation"

@inject IMBToastService ToastService



<DemonstrationPage DemoComponent="@this"
                   DetailedArticle="AnimatedNavigation"
                   Title="Animated Navigation">
    <Description>
        <p>
            Anchor component.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        AnimatedNavigation
                    </h2>

                    <p>
                        The AnimatedNavigation is a visual component. You encapsulate the content that you wish to animate
                        upon a navigation event.
                    </p>
                    <p>
                        This website uses the AnimatedNavigation in its MainLayout.razor and can be observed in the 
                        transitions between the various demo pages.
                    </p>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>
