@page "/shield"


<style>
    .my-label-two {
        --mb-shield-label-color: var(--mb-color-orange-100);
        --mb-shield-value-color: var(--mb-color-orange-100);
        --mb-shield-label-background: var(--mb-color-blue-700);
        --mb-shield-value-background: var(--mb-color-green-700);
    }
</style>


<DemonstrationPage ComponentName="shield"
                   DemoComponent="@this"
                   Title="Shield Demonstration">
    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-12">
                            <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                                Shields
                            </h2>

                            <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                                The shields have a label and a value provided as text, the shields also present tooltips using the Tooltip
                                parameter. The second shield uses custom classes. The third shield has icons.
                            </h3>
                        </div>
                        <div class="mdc-layout-grid__cell--span-12">
                            <p>
                                <MBShield Label="label one"
                                          Tooltip="Plain shield"
                                          Value="value one" />
                                <MBShield Label="label two"
                                          LabelClass="my-label-two"
                                          Tooltip="LabelClass and ValueClass set"
                                          Value="value two"
                                          ValueClass="my-label-two" />
                                <MBShield Label="label three"
                                          LabelIcon="edit"
                                          Tooltip="With icons"
                                          Value="value three"
                                          ValueIcon="edit" />
                            </p>
                        </div>
                    </div>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>