@page "/tooltip"


<style>
    .my-label-two {
        --mb-shield-label-color: var(--mb-color-orange-100);
        --mb-shield-value-color: var(--mb-color-orange-100);
        --mb-shield-label-background: var(--mb-color-blue-700);
        --mb-shield-value-background: var(--mb-color-green-700);
    }
</style>


<DemonstrationPage ComponentName="Tooltip"
                   DemoComponent="@this"
                   DetailedArticle="Tooltip"
                   MaterialIOPage="mdc-tooltip#tooltip"
                   Title="Tooltip Demonstration">
    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-12">
                            <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                                Tooltips
                            </h2>

                            <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                                The shields are provided tooltip text as a component parameter
                            </h3>
                        </div>
                        <div class="mdc-layout-grid__cell--span-12">
                            <p>
                                <MBShield Label="label one"
                                          Tooltip="Plain shield"
                                          Value="value one" />
                                <MBShield Label="label two"
                                          LabelClass="my-label-two"
                                          Tooltip="LabelClass and ValueClass set"
                                          Value="value two"
                                          ValueClass="my-label-two" />
                                <MBShield Label="label three"
                                          LabelIcon="edit"
                                          Tooltip="With icons"
                                          Value="value three"
                                          ValueIcon="edit" />
                            </p>
                        </div>

                        <div class="mdc-layout-grid__cell--span-12">
                            <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                                The span and paragraph are the targets of two Tooltips, one of type span the other of type div.
                            </h3>
                        </div>
                        <div class="mdc-layout-grid__cell--span-12">
                            <p>
                                <MBTooltip>
                                    <Target>
                                        <span style="background-color: var(--mb-color-red-100);">Tooltip applied using the whole paragraph as the target.</span>
                                    </Target>
                                    <Content>
                                        Centred on the paragraph
                                    </Content>
                                </MBTooltip>
                            </p>

                            <MBTooltip>
                                <Target>
                                    <p style="background-color: var(--mb-color-red-100);">Tooltip applied using the whole div as the target.</p>
                                </Target>
                                <Content>
                                    Centred on the div
                                </Content>
                            </MBTooltip>
                        </div>
                    </div>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>