@page "/topappbar"

@inject IMBToastService ToastService



<DemonstrationPage ComponentName="TopAppBar"
                   DemoComponent="@this"
                   Title="Top App Bar">
    <Description>
        <p>
            TopAppBar component.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        TopAppBar
                    </h2>

                    <p>
                        The TopAppBar is a visual component. It is typically placed in the main layout file before the inclusion 
                        of the body.
                    </p>
                    <p>
                        This website uses the TopAppBar in its MainLayout.razor and can be observed in action 
                        when scrolling any vertically lengthy demo page like RadioButtonGroup.
                    </p>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>



@code {
    private bool _toggleState;
    private bool ToggleState
    {
        get => _toggleState;
        set
        {
            _toggleState = value;

            ToastService.ShowToast(heading: "Toggle Icon Button Clicked", message: $"Value: {_toggleState} / {(_toggleState ? "Dog" : "Cat")}", level: MBToastLevel.Success, showIcon: false);
        }
    }



    private bool _toggleTwoWayBindingState;
    private bool ToggleTwoWayBindingState
    {
        get => _toggleTwoWayBindingState;
        set
        {
            _toggleTwoWayBindingState = value;

            ToastService.ShowToast(heading: "Toggle Icon Button Clicked", message: $"Two way binding Value: {_toggleTwoWayBindingState}", level: MBToastLevel.Success, showIcon: false);
        }
    }



    private void ButtonClick(string notification)
    {
        ToastService.ShowToast(heading: "Button Clicked", message: notification, level: MBToastLevel.Success, showIcon: false);
    }
}