@namespace BlazorMdc.Demo

@page "/miscellaneous"

@inject IJSRuntime jsRuntime

<h1 class="mdc-typography--headline4">Miscellaneous samples</h1>

<h5 class="mdc-typography--headline5">Shields</h5>

<style>
    .my-label-two {
        --bmdc-shield-label-color: var(--bmdc-color-orange-100);
        --bmdc-shield-value-color: var(--bmdc-color-orange-100);
        --bmdc-shield-label-background: var(--bmdc-color-blue-700);
        --bmdc-shield-value-background: var(--bmdc-color-green-700);
    }

    .bmdc-shield {
        margin: 3px 0;
    }
</style>

<div style="display: flex; flex-flow: column nowrap">
    <p>
        <MTShield Label="label one" Value="value one" />
        <MTShield Label="label two" Value="value two" LabelClass="my-label-two" ValueClass="my-label-two" />
        <MTShield Label="label three" Value="value three" LabelIcon="edit" ValueIcon="edit" />
    </p>
</div>

<h5 class="mdc-typography--headline5">Tooltips</h5>

<p>
    <MTTooltip>
        <Target>
            Hover over this paragraph for a simple tooltip or over the checkbox below for a complex one.
        </Target>
        <Content>
            Simple tooltip
        </Content>
    </MTTooltip>
</p>

<p>
    <MTTooltip>
        <Target>
            <MTCheckbox Label="Has Tooltip" />
        </Target>
        <Content>
            <h6 class="mdc-typography--headline6">Tooltip Heading</h6>
            <p>Some <span style="color: bisque; font-weight: 600;">styled</span> content.</p>
        </Content>
    </MTTooltip>
</p>

<p></p>


<h5 class="mdc-typography--headline5">Icons</h5>

<p><MTIcon IconName="alarm" Tooltip="Alarm" /></p>
<p><MTIcon IconName="alarm" IconFoundry="MTIconHelper.MIFoundry(MTIconMITheme.TwoTone)" /></p>
<p><MTIcon IconName="fa-dog" IconFoundry="MTIconHelper.FAFoundry()" /></p>
<p><MTIcon IconName="fa-dog" IconFoundry="MTIconHelper.FAFoundry(relativeSize: MTIconFARelativeSize.ThreeTimes)" /></p>
<p><MTIcon IconName="shield" IconFoundry="MTIconHelper.OIFoundry()" /></p>


<h5 class="mdc-typography--headline5">Typography</h5>

<div style="margin-left: 3rem;">
    <h2 class="mdc-typography--headline1">Heading 1</h2>
    <h2 class="mdc-typography--headline2">Heading 2</h2>
    <h2 class="mdc-typography--headline3">Heading 3</h2>
    <h2 class="mdc-typography--headline4">Heading 4</h2>
    <h2 class="mdc-typography--headline5">Heading 5</h2>
    <h2 class="mdc-typography--headline6">Heading 6</h2>

    <h2 class="mdc-typography--subtitle1">Subtitle 1</h2>
    <h2 class="mdc-typography--subtitle2">Subtitle 2</h2>

    <p class="mdc-typography--body1">Body 1</p>
    <p class="mdc-typography--body2">Body 2</p>
    <p class="mdc-typography--caption">Caption</p>
    <p class="mdc-typography--overline">Overline</p>

    <p class="mdc-typography">Regular paragraph with the 'mdc-typography' class applied</p>

    <p style="color: var(--bmdc-color-red-300);">Material Theme color 'red 300' from a CSS variable</p>
</div>
