@namespace BlazorMdc

@inherits MdcComponentBase

@inject IJSRuntime jsRuntime


<div class="@ClassMapper.ToString()"
     style="@StyleMapper.ToString()">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>


@code {
    //
    //  2020-04-01  Mark Stega
    //              Changed to use class & style mappers
    //
    //  2020-04-13  Mark Stega
    //              Moved ClassMapper to constructor
    //
    [Parameter] public MdcCardStyle? CardStyle { get; set; }
    [Parameter] public bool AutoStyled { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();

        ClassMapper
            .Add("mdc-card")
            .AddIf("mdc-card--outlined", () => (CascadingDefaults.AppliedStyle(CardStyle) == MdcCardStyle.Outlined));
    }
}