
.mb-circular-progress--small {
    height: 24px;
    width: 24px;
}
.mb-circular-progress--medium {
    height: 36px;
    width: 36px;
}
.mb-circular-progress--large {
    height: 48px;
    width: 48px;
}
