@namespace BlazorMdc.Demo

@page "/typography"

@inject IJSRuntime jsRuntime

<h1 class="mdc-typography--headline4">Typography samples</h1>

<h2 class="mdc-typography--headline1">Heading 1</h2>
<h2 class="mdc-typography--headline2">Heading 2</h2>
<h2 class="mdc-typography--headline3">Heading 3</h2>
<h2 class="mdc-typography--headline4">Heading 4</h2>
<h2 class="mdc-typography--headline5">Heading 5</h2>
<h2 class="mdc-typography--headline6">Heading 6</h2>

<h2 class="mdc-typography--subtitle1">Subtitle 1</h2>
<h2 class="mdc-typography--subtitle2">Subtitle 2</h2>

<p class="mdc-typography--body1">Body 1</p>
<p class="mdc-typography--body2">Body 2</p>
<p class="mdc-typography--caption">Caption</p>
<p class="mdc-typography--caption">Overline</p>

<p style="color: var(--bmdc-color-purple-600);">Purple600 from a CSS variable</p>

<p>Icon from C# constant: <i class="material-icons">account_balance_wallet</i></p>

<p>Shields:</p>

<div style="display: flex; flex-flow: column nowrap">
    <PMdcShield Style="margin-bottom: 6px;" Label="label one" Value="value one" />
    <PMdcShield Label="label two" Value="value two" />
</div>

