@page "/AnimatedNavigation"

@inject IMTToastService ToastService



<DemonstrationPage ComponentName="AnimatedNavigation"
                   Title="Animated Navigation"
                   DemoComponent="@this"
                   DetailedArticle="AnimatedNavigation">
    <Description>
        <p>
            Anchor component.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        AnimatedNavigation
                    </h2>

                    <p>
                        The AnimatedNavigation is a visual component. You encapsulate the content that you wish to animate
                        upon a navigation event.
                    </p>
                    <p>
                        This website uses the AnimatedNavigation in its MainLayout.razor and can be observed in the 
                        transitions between the various demo pages.
                    </p>
                </Primary>
            </MTCard>
        </div>
    </PageContent>
</DemonstrationPage>



@code {
    private bool _toggleState;
    private bool ToggleState
    {
        get => _toggleState;
        set
        {
            _toggleState = value;

            ToastService.ShowToast(heading: "Toggle Icon Button Clicked", message: $"Value: {_toggleState} / {(_toggleState ? "Dog" : "Cat")}", level: MTToastLevel.Success, showIcon: false);
        }
    }



    private bool _toggleTwoWayBindingState;
    private bool ToggleTwoWayBindingState
    {
        get => _toggleTwoWayBindingState;
        set
        {
            _toggleTwoWayBindingState = value;

            ToastService.ShowToast(heading: "Toggle Icon Button Clicked", message: $"Two way binding Value: {_toggleTwoWayBindingState}", level: MTToastLevel.Success, showIcon: false);
        }
    }



    private void ButtonClick(string notification)
    {
        ToastService.ShowToast(heading: "Button Clicked", message: notification, level: MTToastLevel.Success, showIcon: false);
    }
}