@page "/shield"


<style>
    .my-label-two {
        --bmdc-shield-label-color: var(--bmdc-color-orange-100);
        --bmdc-shield-value-color: var(--bmdc-color-orange-100);
        --bmdc-shield-label-background: var(--bmdc-color-blue-700);
        --bmdc-shield-value-background: var(--bmdc-color-green-700);
    }
</style>


<DemonstrationPage ComponentName="shield"
                   Title="Shield Demonstration"
                   DemoComponent="@this">
    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MTCard AutoStyled="true">
                <Primary>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-12">
                            <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                                Shields
                            </h2>

                            <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                                The shields have a label and a value provided as text, the shields also present tooltips using the Tooltip
                                parameter. The second shield uses custom classes. The third shield has icons.
                            </h3>
                        </div>
                        <div class="mdc-layout-grid__cell--span-12">
                            <p>
                                <MTShield Label="label one" Value="value one" Tooltip="Plain shield" />
                                <MTShield Label="label two" Value="value two" LabelClass="my-label-two" ValueClass="my-label-two" Tooltip="LabelClass and ValueClass set" />
                                <MTShield Label="label three" Value="value three" LabelIcon="edit" ValueIcon="edit" Tooltip="With icons" />
                            </p>
                        </div>
                    </div>
                </Primary>
            </MTCard>
        </div>
    </PageContent>
</DemonstrationPage>