@page "/TopAppBar"

@inject IMTToastService ToastService



<DemonstrationPage ComponentName="TopAppBar"
                   Title="Top App Bar"
                   DemoComponent="@this">
    <Description>
        <p>
            TopAppBar component.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        TopAppBar
                    </h2>

                    <p>
                        The TopAppBar is a visual component. It is typically placed in the main layout file before the inclusion 
                        of the body.
                    </p>
                    <p>
                        This website uses the TopAppBar in its MainLayout.razor and can be observed in action 
                        when scrolling any vertically lengthy demo page like RadioButtonGroup.
                    </p>
                </Primary>
            </MTCard>
        </div>
    </PageContent>
</DemonstrationPage>



@code {
    private bool _toggleState;
    private bool ToggleState
    {
        get => _toggleState;
        set
        {
            _toggleState = value;

            ToastService.ShowToast(heading: "Toggle Icon Button Clicked", message: $"Value: {_toggleState} / {(_toggleState ? "Dog" : "Cat")}", level: MTToastLevel.Success, showIcon: false);
        }
    }



    private bool _toggleTwoWayBindingState;
    private bool ToggleTwoWayBindingState
    {
        get => _toggleTwoWayBindingState;
        set
        {
            _toggleTwoWayBindingState = value;

            ToastService.ShowToast(heading: "Toggle Icon Button Clicked", message: $"Two way binding Value: {_toggleTwoWayBindingState}", level: MTToastLevel.Success, showIcon: false);
        }
    }



    private void ButtonClick(string notification)
    {
        ToastService.ShowToast(heading: "Button Clicked", message: notification, level: MTToastLevel.Success, showIcon: false);
    }
}