// stylelint-disable scss/dollar-variable-pattern

@use "sass:color";

@use "@material/theme" with (
    $primary: #90caf9,
    $secondary: #ffcc80,
    $error: #ef9a9a,
    $background:#263238,
    $surface: #37474f,
);

@use "@material/shape" with (
    $small-component-radius: 0px,
    $medium-component-radius: 0px,
    $large-component-radius: 0px,
);

@use "@material/typography" with (
    $font-family: unquote("Rubik, sans-serif"),
    $styles-button: ( font-size: 14px, font-weight: 500, letter-spacing: 0.05em, ),
);

@use "@material/top-app-bar";

@use "./material-components-web";
@use "./app";

@use '@material/theme/custom-properties';
@use '@material/theme/color-palette';
@use 'sass:string';

@use "@material/snackbar";

.mdc-snackbar {
    @include snackbar.shape-radius(0px);
}

/* Don't use alpha channel for $border-color or $header-color, because this will make sticky headers partially transparent to whatever scrolls underneath them */
$border-color: color-palette.$blue-grey-300;
$header-color: color-palette.$blue-grey-900;

$group-row-color: color-palette.$blue-200;
$group-row-color-hover: darken($group-row-color, 4%);

$odd-row-color: color-palette.$yellow-200;
$odd-row-color-hover: darken($odd-row-color, 4%);

$even-row-color: color-palette.$orange-200;
$even-row-color-hover: darken($even-row-color, 4%);

$selected-row-color: color-palette.$green-200;
$selected-row-color-hover: darken($selected-row-color, 4%);

$alpha: 0.4;

:root {
    --mb-badge-background-color: var(--mb-color-red-200) !important;
    --mb-badge-color: var(--mb-color-on-red-200) !important;
    --mb-grid-border-color: #{$border-color} !important;
    --mb-grid-header-color: #{$header-color} !important;
    --mb-grid-group-row-color: rgba(#{red($group-row-color)}, #{green($group-row-color)}, #{blue($group-row-color)}, #{$alpha}) !important;
    --mb-grid-group-row-color-hover: rgba(#{red($group-row-color-hover)}, #{green($group-row-color-hover)}, #{blue($group-row-color-hover)}, #{$alpha}) !important;
    --mb-grid-odd-row-color: rgba(#{red($odd-row-color)}, #{green($odd-row-color)}, #{blue($odd-row-color)}, #{$alpha}) !important;
    --mb-grid-odd-row-color-hover: rgba(#{red($odd-row-color-hover)}, #{green($odd-row-color-hover)}, #{blue($odd-row-color-hover)}, #{$alpha}) !important;
    --mb-grid-even-row-color: rgba(#{red($even-row-color)}, #{green($even-row-color)}, #{blue($even-row-color)}, #{$alpha}) !important;
    --mb-grid-even-row-color-hover: rgba(#{red($even-row-color-hover)}, #{green($even-row-color-hover)}, #{blue($even-row-color-hover)}, #{$alpha}) !important;
    --mb-grid-selected-row-color: rgba(#{red($selected-row-color)}, #{green($selected-row-color)}, #{blue($selected-row-color)}, #{$alpha}) !important;
    --mb-grid-selected-row-color-hover: rgba(#{red($selected-row-color-hover)}, #{green($selected-row-color-hover)}, #{blue($selected-row-color-hover)}, #{$alpha}) !important;
    --mb-toast-color-info: black !important;
    --mb-toast-color-success: black !important;
    --mb-toast-color-warning: black !important;
    --mb-toast-color-error: black !important;
    --mb-toast-background-color-info: var(--mb-color-light-blue-200) !important;
    --mb-toast-background-color-success: var(--mb-color-green-200) !important;
    --mb-toast-background-color-warning: var(--mb-color-amber-200) !important;
    --mb-toast-background-color-error: var(--mb-color-red-200) !important;
}

.mdc-top-app-bar {
    @include top-app-bar.fill-color(#37474f);
    @include top-app-bar.ink-color(white);
}

@include app.app-classes();
