// stylelint-disable scss/dollar-variable-pattern

@use "sass:color";

@use "@material/theme" with ( 
    $primary: #1976d2, 
    $secondary: #ffa000, 
    $error: #f44336,
    $background: #eee, 
    $surface: #fff, 
);

@use "@material/shape" with ( 
    $small-component-radius: 0px, 
    $medium-component-radius: 0px, 
    $large-component-radius: 0px, 
);

@use "@material/typography" with ( 
    $font-family: unquote("Rubik, sans-serif"), 
    $styles-button: ( font-size: 14px, font-weight: 500, letter-spacing: 0.05em, ), 
);

@use "./material-components-web";
@use "./app";

@use "@material/snackbar";

.mdc-snackbar {
    @include snackbar.shape-radius(0px);
}

@include app.app-classes();