@use '@material/banner/styles' as banner-styles;
@use '@material/button/styles' as button-styles;
@use '@material/card';
@use '@material/checkbox';
@use '@material/chips/styles';
@use '@material/circular-progress/mdc-circular-progress';
// Select's styles must be emitted before datatable's due to equal specificity.
@use '@material/select/styles' as select-styles;
@use '@material/data-table/data-table';
@use '@material/dialog';
@use '@material/drawer';
@use '@material/elevation/mdc-elevation';
@use '@material/fab';
@use '@material/floating-label/mdc-floating-label';
@use '@material/form-field';
@use '@material/icon-button/styles' as icon-button-styles;
@use '@material/image-list/mdc-image-list';
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/line-ripple/mdc-line-ripple';
@use '@material/linear-progress';
@use '@material/list';
@use '@material/menu/mdc-menu';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/radio/styles' as radio-styles;
@use '@material/ripple';
@use '@material/ripple/common';
@use '@material/segmented-button/styles' as segmented-button-styles;
@use '@material/slider/styles' as slider-styles;
@use '@material/snackbar';
// Use new switch
// @use '@material/switch/deprecated/mdc-switch';
@use '@material/switch/styles' as switch-styles;
@use '@material/tab/mdc-tab';
@use '@material/tab-bar/mdc-tab-bar';
@use '@material/tab-indicator/mdc-tab-indicator';
@use '@material/tab-scroller/mdc-tab-scroller';
@use '@material/textfield';
@use '@material/theme/mdc-theme';
@use '@material/tooltip/styles' as tooltip-styles;
@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/typography/mdc-typography';

@include card.core-styles;
@include checkbox.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;
@include dialog.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include fab.core-styles;
@include form-field.core-styles;
@include linear-progress.core-styles;
@include list.deprecated-core-styles;
@include textfield.core-styles;
