// stylelint-disable scss/dollar-variable-pattern

@use "sass:color";

@use "@material/theme" with ( 
    $primary: #c62828, 
    $secondary: #4dd0e1, 
    $error: #673ab7,
    $background: #eee, 
    $surface: #fff, 
);

@use "@material/shape" with ( 
    $small-component-radius: 8px, 
    $medium-component-radius: 16px, 
    $large-component-radius: 16px, 
);

@use "@material/typography" with ( 
    $font-family: unquote("Merriweather, serif"), 
    $styles-button: ( font-size: 14px, font-weight: 400, letter-spacing: 0.05em, ),
    $styles-headline1: ( font-family: unquote("Shrikhand, serif"), ),
    $styles-headline2: ( font-family: unquote("Shrikhand, serif"), ),
    $styles-headline3: ( font-family: unquote("Shrikhand, serif"), ),
    $styles-headline4: ( font-family: unquote("Shrikhand, serif"), ),
    $styles-headline5: ( font-family: unquote("Shrikhand, serif"), ),
    $styles-headline6: ( font-family: unquote("Shrikhand, serif"), )
);


@use "./material-components-web";
@use "./app";


@use "@material/button";
@use "@material/snackbar";

.mdc-button {
    @include button.shape-radius(50%);
}

.mdc-snackbar {
    @include snackbar.shape-radius(16px);
}


@include app.app-classes();