@use "@material/drawer";
@use "@material/list";
@use "@material/theme";
@use "@material/top-app-bar";

@use 'sass:color';

$scroll-thumb-color: rgba(theme.$on-surface, 0.2);
$scroll-thumb-hover-color: theme.$primary;
$scroll-track-color: rgba(theme.$on-surface, 0);
$scroll-track-hover-color: rgba(theme.$on-surface, 0.05);

@mixin app-classes() {
    /*
     * App layout styling
     */
    body {
        height: 100vh;
        margin: 0 !important;
        background-color: theme.$background;
        color: theme.$on-surface;
    }


    :root {
        --mb-scroll-color: var(--mdc-theme-primary);
        --mb-scroll-track-color: rgba(0, 0, 0, 0);
        --mb-scrollbar-width: thin;
        --mb-scroll-webkit-margin-right: 4px;
        --mb-scroll-webkit-width: 8px;
        --mb-scroll-webkit-border-radius: 4px;
    }


    .mb-custom-scrollbars {
        scrollbar-width: var(--mb-scrollbar-width);
        scrollbar-color: var(--mb-scroll-color) var(--mb-scroll-track-color);

        ::-webkit-scrollbar,
        ::-webkit-scrollbar-thumb {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-clip: padding-box;
            border: 6px solid transparent;
        }

        ::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 0 10px;
            color: #{$scroll-thumb-color};

            &:hover {
                color: #{$scroll-thumb-hover-color};
            }
        }

        ::-webkit-scrollbar-track {
            background-color: #{$scroll-track-color};

            &:hover {
                background-color: #{$scroll-track-hover-color};
            }
        }
    }

    .mb-custom-scrollbars * {
        scrollbar-width: inherit;
        scrollbar-color: inherit;
    }

    app {
        display: flex;
        height: 100%;
    }

    .mdc-drawer {
        border-radius: 0;
    }

    .mdc-drawer-app-content {
        flex: auto;
        overflow: auto;
    }

    .main-content {
        overflow: auto;
        height: 100%;
    }

    .max-width-content {
        max-width: 1280px;
        margin: 0 auto;
        overflow-y: visible;
    }

    .mdc-top-app-bar-content {
        display: flex;
        align-items: center;
        margin-right: 2rem;
    }

    .mdc-top-app-bar-content i.material-icons {
        margin-right: 8px
    }

    .app-bar {
        position: absolute !important;
    }
    /*
        Blazor Error UI
    */
    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
    /*
        Splash screen
    */
    .splash-screen {
        display: grid;
        --mdc-theme-primary: #fff;
        text-shadow: 0 0 4px black;
        width: 100vw;
        height: 100vh;
    }

    .splash-content {
        display: flex;
        flex-flow: column nowrap;
        align-self: center;
        justify-self: center;
        align-items: center;
        color: var(--mdc-theme-primary);
        font-weight: bold;
    }

    .splash-background-video {
        object-fit: cover;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        filter: brightness(80%);
        -webkit-filter: brightness(80%);
        -moz-filter: brightness(50%);
    }

    .splash-linear-progress {
        position: fixed;
        width: 100vw;
        --mdc-theme-primary: var(--mb-color-blue-600);
    }
    /*
        General styling
    */
    .point-list li {
        margin-bottom: 12px;
    }

    .dr-table .mdc-data-table__header-cell {
        font-weight: bold;
    }
    /*
        Dynamic link underlining
    */
    a:not(.mdc-deprecated-list-item):not(.mb-tooltip-anchor) {
        position: relative;
        box-shadow: inset 0 -2px 0 theme.$secondary;
        display: inline-flex;
        z-index: 1;
        color: inherit;
        text-decoration: none;
        transition: 0.15s ease;
    }

    a:not(.mdc-deprecated-list-item):not(.mb-tooltip-anchor):hover {
        box-shadow: none;
        color: theme.$on-secondary;
        text-decoration: none;
    }

    a:not(.mdc-deprecated-list-item):not(.mb-tooltip-anchor)::after {
        content: "";
        background: theme.$secondary;
        position: absolute;
        left: -2px;
        bottom: 0;
        width: calc(100% + 4px);
        height: 0;
        z-index: -1;
        transition: 0.15s ease;
    }

    a:not(.mdc-deprecated-list-item):not(.mb-tooltip-anchor):hover:after {
        height: 100%;
    }

    .demo-blade {
        background-color: var(--mdc-theme-surface, #fff);
        border-width: 0px 0px 0px 1px;
        border-style: solid;
        border-color: var(--mdc-segmented-button-outline-color, rgba(0, 0, 0, 0.12)); // --mdc-segmented-button-outline-color conveniently switches between light and dark themes
    }

    .demo-blade-main-content {
        min-width: 340px;
    }

    @media screen and (min-width: 600px) {
        .demo-blade-main-content {
            min-width: 480px;
        }
    }

    @media screen and (min-width: 840px) {
        .demo-blade-main-content {
            min-width: 640px;
        }
    }
}
