// stylelint-disable scss/dollar-variable-pattern

@use "sass:color";

@use "@material/theme" with (
    $primary: #90caf9,
    $secondary: #ffcc80,
    $error: #ef9a9a,
    $background:#263238,
    $surface: #37474f,
);

@use "@material/shape" with (
    $small-component-radius: 0,
    $medium-component-radius: 0,
    $large-component-radius: 0,
);

@use "@material/typography" with (
    $font-family: unquote("Rubik, sans-serif"),
    $styles-button: ( font-size: 14px, font-weight: 500, letter-spacing: 0.05em, ),
);

@use "@material/top-app-bar";

@use "material-components-web";
@use "./app";

.mdc-top-app-bar {
    @include top-app-bar.fill-color(#37474f);
    @include top-app-bar.ink-color(white);
}

@include app.app-classes();