// stylelint-disable scss/dollar-variable-pattern

@use "sass:color";

@use "@material/theme" with ( 
    $background: #eee,
);

@use "./material-components-web";
@use "./app";

@include app.app-classes();
