@namespace Material.Blazor
@inherits ComponentFoundation


<li @attributes="@AttributesToSplat()"
    role="menuitem">

    @if (LeadingIcon != null)
    {
        <span class="mdc-list-item__graphic mdc-menu__selection-group-icon">
            <MBIcon IconFoundry="@IconFoundry"
                    IconName="@LeadingIcon" />
        </span>
    }

    <span class="mdc-list-item__text">@Label</span>
</li>