@namespace Material.Blazor
@inherits ComponentFoundation


<div @ref="ElementReference"
     class="mdc-menu-surface @ActiveConditionalClasses @(@class)"
     style="@style"
     id="@id"
     @attributes="@AttributesToSplat()">

    @if (ChildContent != null)
    {
        @ChildContent
    }

</div>
