$shield-height: 20px;
$shield-font-family: "Verdana","Geneva","DejaVu Sans","sans-serif";
$shield-font-size: 10pt;
$shield-icon-font-size: 10pt;
$shield-inner-padding: 4px;
$shield-outer-padding: 4px;
$shield-icon-left-margin: -1px;
$shield-icon-right-margin: 3px;

:root {
    --mb-shield-label-color: white;
    --mb-shield-value-color: white;
    --mb-shield-label-background: var(--mb-color-blue-grey-700);
    --mb-shield-value-background: var(--mb-color-amber-700);
}

.mb-shield {
    user-select: none;
    -webkit-user-select: none;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    height: $shield-height;
    line-height: $shield-height;
    font-family: $shield-font-family;
    font-size: $shield-font-size;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
    vertical-align: middle
}

.mb-shield span, .mb-shield i {
    height: $shield-height;
    max-height: $shield-height;
}

.mb-shield i {
    font-size: $shield-icon-font-size;
    line-height: $shield-height;
    margin: 0 $shield-icon-right-margin 0 $shield-icon-left-margin;
}

[dir="rtl"] .mb-shield i {
    margin: 0 $shield-icon-left-margin 0 $shield-icon-right-margin;
}

.mb-shield--label {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    color: var(--mb-shield-label-color);
    background: var(--mb-shield-label-background);
    height: $shield-height;
    line-height: $shield-height;
    margin: 0;
    padding: 0 $shield-inner-padding 0 $shield-outer-padding;
    border: 0;
}

[dir="rtl"] .mb-shield--label {
    padding: 0 $shield-outer-padding 0 $shield-inner-padding;
}

.mb-shield--value {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    color: var(--mb-shield-value-color);
    background: var(--mb-shield-value-background);
    height: $shield-height;
    line-height: $shield-height;
    margin: 0;
    padding: 0 $shield-outer-padding 0 $shield-inner-padding;
    border: 0;
}

[dir="rtl"] .mb-shield--value {
    padding: 0 $shield-inner-padding 0 $shield-outer-padding;
}
