$toast-height: 66px;
$toast-spacing: 8px;
$heading-margin-bottom: 6px;
$icon-font: 24px;
$icon-horizontal-padding: 12px;


:root {
    --mb-toast-color-info: white;
    --mb-toast-color-success: white;
    --mb-toast-color-warning: white;
    --mb-toast-color-error: white;
    --mb-toast-filter-info: contrast(4) invert(1);
    --mb-toast-filter-success: contrast(4) invert(1);
    --mb-toast-filter-warning: contrast(4) invert(1);
    --mb-toast-filter-error: contrast(4) invert(1);
    --mb-toast-background-color-info: var(--mb-color-light-blue-700);
    --mb-toast-background-color-success: var(--mb-color-green-700);
    --mb-toast-background-color-warning: var(--mb-color-amber-800);
    --mb-toast-background-color-error: var(--mb-color-red-700);
}





.mb-toast-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    margin: 8px;
    pointer-events: none;
    position: fixed;
    right: 0;
    z-index: 8;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    h5 {
        margin: 0 0 $heading-margin-bottom 0;
    }
}


.mb-toast__header {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

.mb-toast__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 18px;
    height: 36px;
    padding: 0 0 0 $icon-horizontal-padding;
    pointer-events: auto;
    padding: 6px;
    width: 36px;
}

.mb-toast__icon.info-filter {
    filter: var(--mb-toast-filter-info);
}

.mb-toast__icon.success-filter {
    filter: var(--mb-toast-filter-success);
}

.mb-toast__icon.warning-filter {
    filter: var(--mb-toast-filter-warning);
}

.mb-toast__icon.error-filter {
    filter: var(--mb-toast-filter-error);
}


.mb-toast__label {
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 14px;
    width: 100%;
    word-break: break-word;
}

.mb-toast__surface {
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: flex-start;
    padding-left:0;
    padding-right: 8px;
    pointer-events: auto;
    transform: scale(0.8);
}

.mb-toast__top-left,
.mb-toast__top-right,
.mb-toast__top-center {
    top: 0;
    bottom: inherit;

    .mdc-snackbar__surface {
        margin-bottom: $toast-spacing;
    }
}

.mb-toast__center-left,
.mb-toast__center-right,
.mb-toast__center-center {
    top: 0;

    .mdc-snackbar__surface {
        margin: $toast-spacing*0.5 0;
    }
}

.mb-toast__bottom-left,
.mb-toast__bottom-right,
.mb-toast__bottom-center {
    .mdc-snackbar__surface {
        margin-top: $toast-spacing;
    }
}


@media (min-width: 576px) {
    .mb-toast__top-left,
    .mb-toast__center-left,
    .mb-toast__bottom-left {
        align-items: flex-start;
    }

    .mb-toast__top-right,
    .mb-toast__center-right,
    .mb-toast__bottom-right {
        align-items: flex-end;
    }
}

.mb-toast__text {
    display: flex;
    flex-flow: row nowrap;
}

.mb-toast--fade-in {
    animation: mbToastFadeIn 300ms;
}

.mb-toast--fade-out {
    animation: mbToastFadeOut 3000ms;
}

.mb-toast--hide {
    max-height: 0;
    visibility: hidden;

    .mdc-snackbar__label {
        visibility: hidden;
    }
}


@keyframes mbToastFadeIn {
    0% {
        opacity: 0;
        max-height: 0;
        margin: 0;
        animation-timing-function: ease-in-out;
    }

    40% {
        opacity: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }
}

@-webkit-keyframes mbToastFadeIn {
    0% {
        opacity: 0;
        max-height: 0;
        margin: 0;
        animation-timing-function: ease-in-out;
    }

    40% {
        opacity: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }
}


@keyframes mbToastFadeOut {
    0% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }

    6% {
        opacity: 0;
        animation-timing-function: ease-in-out;
    }

    10% {
        opacity: 0;
        max-height: 0;
        margin: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 0;
        max-height: 0;
        margin: 0;
    }
}

@-webkit-keyframes mbToastFadeOut {
    0% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }

    6% {
        opacity: 0;
        animation-timing-function: ease-in-out;
    }

    10% {
        opacity: 0;
        max-height: 0;
        margin: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 0;
        max-height: 0;
        margin: 0;
    }
}




.mb-toast__info {
    color: var(--mb-toast-color-info);
    background-color: var(--mb-toast-background-color-info);
    --mdc-theme-primary: var(--mb-toast-color-info);

    .mdc-snackbar__label, .mdc-snackbar__dismiss {
        color: var(--mb-toast-color-info);
    }
}

.mb-toast__success {
    color: var(--mb-toast-color-success);
    background-color: var(--mb-toast-background-color-success);
    --mdc-theme-primary: var(--mb-toast-color-success);

    .mdc-snackbar__label, .mdc-snackbar__dismiss {
        color: var(--mb-toast-color-success);
    }
}

.mb-toast__warning {
    color: var(--mb-toast-color-warning);
    background-color: var(--mb-toast-background-color-warning);
    --mdc-theme-primary: var(--mb-toast-color-warning);

    .mdc-snackbar__label, .mdc-snackbar__dismiss {
        color: var(--mb-toast-color-warning);
    }
}

.mb-toast__error {
    color: var(--mb-toast-color-error);
    background-color: var(--mb-toast-background-color-error);
    --mdc-theme-primary: var(--mb-toast-color-error);

    .mdc-snackbar__label, .mdc-snackbar__dismiss {
        color: var(--mb-toast-color-error);
    }
}
