$toast-height: 66px;
$toast-spacing: 8px;
$heading-margin-bottom: 6px;
$icon-font: 24px;
$icon-horizontal-padding: 12px;


:root {
    --mb-toast-color-info: white;
    --mb-toast-color-success: white;
    --mb-toast-color-warning: white;
    --mb-toast-color-error: white;
    --mb-toast-filter-info: contrast(4) invert(1);
    --mb-toast-filter-success: contrast(4) invert(1);
    --mb-toast-filter-warning: contrast(4) invert(1);
    --mb-toast-filter-error: contrast(4) invert(1);
    --mb-toast-background-color-info: var(--mb-color-light-blue-700);
    --mb-toast-background-color-success: var(--mb-color-green-700);
    --mb-toast-background-color-warning: var(--mb-color-amber-800);
    --mb-toast-background-color-error: var(--mb-color-red-700);
}


/*Attempt to get enough mdc-snackbar CSS to not require including the MDC snackbar SCSS --- FAILED */

.mdc-snackbar {
  z-index: 8;
  margin: 8px;
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mdc-snackbar__dismiss {
    color: rgba(255, 255, 255, 0.87);
}

.mdc-snackbar__dismiss .mdc-icon-button__ripple::before, .mdc-snackbar__dismiss .mdc-icon-button__ripple::after {
    background-color: rgba(255, 255, 255, 0.87);
    /* @alternate */
    background-color: var(--mdc-ripple-color, rgba(255, 255, 255, 0.87));
}

.mdc-snackbar__dismiss:hover .mdc-icon-button__ripple::before, .mdc-snackbar__dismiss.mdc-ripple-surface--hover .mdc-icon-button__ripple::before {
    opacity: 0.08;
    /* @alternate */
    opacity: var(--mdc-ripple-hover-opacity, 0.08);
}

.mdc-snackbar__dismiss.mdc-ripple-upgraded--background-focused .mdc-icon-button__ripple::before, .mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):focus .mdc-icon-button__ripple::before {
    transition-duration: 75ms;
    opacity: 0.24;
    /* @alternate */
    opacity: var(--mdc-ripple-focus-opacity, 0.24);
}

.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded) .mdc-icon-button__ripple::after {
    transition: opacity 150ms linear;
}

.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):active .mdc-icon-button__ripple::after {
    transition-duration: 75ms;
    opacity: 0.24;
    /* @alternate */
    opacity: var(--mdc-ripple-press-opacity, 0.24);
}

.mdc-snackbar__dismiss.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity, 0.24);
}

.mdc-snackbar__dismiss.mdc-snackbar__dismiss {
    width: 36px;
    height: 36px;
    padding: 6px;
    font-size: 18px;
}

.mdc-snackbar__dismiss.mdc-snackbar__dismiss .mdc-icon-button__focus-ring {
    display: none;
}

.mdc-snackbar__dismiss.mdc-snackbar__dismiss.mdc-ripple-upgraded--background-focused .mdc-icon-button__focus-ring, .mdc-snackbar__dismiss.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):focus .mdc-icon-button__focus-ring {
    display: block;
    max-height: 36px;
    max-width: 36px;
}

@media screen and (forced-colors: active) {
    .mdc-snackbar__dismiss.mdc-snackbar__dismiss.mdc-ripple-upgraded--background-focused .mdc-icon-button__focus-ring, .mdc-snackbar__dismiss.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):focus .mdc-icon-button__focus-ring {
        pointer-events: none;
        border: 2px solid transparent;
        border-radius: 6px;
        box-sizing: content-box;
        position: absolute;
        top: 50%;
        /* @noflip */
        /*rtl:ignore*/
        left: 50%;
        /* @noflip */
        /*rtl:ignore*/
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
    }
}

@media screen and (forced-colors: active) and (forced-colors: active) {
    .mdc-snackbar__dismiss.mdc-snackbar__dismiss.mdc-ripple-upgraded--background-focused .mdc-icon-button__focus-ring, .mdc-snackbar__dismiss.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):focus .mdc-icon-button__focus-ring {
        border-color: CanvasText;
    }
}

@media screen and (forced-colors: active) {
    .mdc-snackbar__dismiss.mdc-snackbar__dismiss.mdc-ripple-upgraded--background-focused .mdc-icon-button__focus-ring::after, .mdc-snackbar__dismiss.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):focus .mdc-icon-button__focus-ring::after {
        content: "";
        border: 2px solid transparent;
        border-radius: 8px;
        display: block;
        position: absolute;
        top: 50%;
        /* @noflip */
        /*rtl:ignore*/
        left: 50%;
        /* @noflip */
        /*rtl:ignore*/
        transform: translate(-50%, -50%);
        height: calc(100% + 4px);
        width: calc(100% + 4px);
    }
}

@media screen and (forced-colors: active) and (forced-colors: active) {
    .mdc-snackbar__dismiss.mdc-snackbar__dismiss.mdc-ripple-upgraded--background-focused .mdc-icon-button__focus-ring::after, .mdc-snackbar__dismiss.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):focus .mdc-icon-button__focus-ring::after {
        border-color: CanvasText;
    }
}

.mdc-snackbar__dismiss.mdc-snackbar__dismiss.mdc-icon-button--reduced-size .mdc-icon-button__ripple {
    width: 36px;
    height: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.mdc-snackbar__dismiss.mdc-snackbar__dismiss.mdc-icon-button--reduced-size.mdc-ripple-upgraded--background-focused .mdc-icon-button__focus-ring, .mdc-snackbar__dismiss.mdc-snackbar__dismiss.mdc-icon-button--reduced-size:not(.mdc-ripple-upgraded):focus .mdc-icon-button__focus-ring {
    max-height: 36px;
    max-width: 36px;
}

.mdc-snackbar__dismiss.mdc-snackbar__dismiss .mdc-icon-button__touch {
    position: absolute;
    top: 50%;
    height: 36px;
    /* @noflip */
    /*rtl:ignore*/
    left: 50%;
    width: 36px;
    transform: translate(-50%, -50%);
}

.mdc-snackbar__surface {
    background-color: #333333;
}

.mdc-snackbar__label {
    color: rgba(255, 255, 255, 0.87);
}

.mdc-snackbar__surface {
    min-width: 344px;
}

@media (max-width: 480px), (max-width: 344px) {
    .mdc-snackbar__surface {
        min-width: 100%;
    }
}

.mdc-snackbar__surface {
    max-width: 672px;
}

.mdc-snackbar__surface {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.mdc-snackbar__surface {
    border-radius: 4px;
}

.mdc-snackbar--opening,
.mdc-snackbar--open,
.mdc-snackbar--closing {
    display: flex;
}

.mdc-snackbar--open .mdc-snackbar__label,
.mdc-snackbar--open .mdc-snackbar__actions {
    visibility: visible;
}

.mdc-snackbar--open .mdc-snackbar__surface {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
    transition: opacity 150ms 0ms cubic-bezier(0, 0, 0.2, 1), transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1);
}

.mdc-snackbar--closing .mdc-snackbar__surface {
    transform: scale(1);
    transition: opacity 75ms 0ms cubic-bezier(0.4, 0, 1, 1);
}






.mb-toast-container {
    flex-direction: column;

    .mdc-snackbar__surface {
        transition: unset !important;
        transition-property: unset !important;
    }

    .mdc-snackbar__label {
        word-break: break-word;
    }

    h5 {
        margin: 0 0 $heading-margin-bottom 0;
    }
}

.mb-toast__top-left,
.mb-toast__top-right,
.mb-toast__top-center {
    top: 0;
    bottom: inherit;

    .mdc-snackbar__surface {
        margin-bottom: $toast-spacing;
    }
}

.mb-toast__center-left,
.mb-toast__center-right,
.mb-toast__center-center {
    top: 0;

    .mdc-snackbar__surface {
        margin: $toast-spacing*0.5 0;
    }
}

.mb-toast__bottom-left,
.mb-toast__bottom-right,
.mb-toast__bottom-center {
    .mdc-snackbar__surface {
        margin-top: $toast-spacing;
    }
}


@media (min-width: 576px) {
    .mb-toast__top-left,
    .mb-toast__center-left,
    .mb-toast__bottom-left {
        align-items: flex-start;
    }

    .mb-toast__top-right,
    .mb-toast__center-right,
    .mb-toast__bottom-right {
        align-items: flex-end;
    }
}

.mb-toast__text {
    display: flex;
    flex-flow: row nowrap;
}

.mb-toast--fade-in {
    animation: mbToastFadeIn 300ms;
}

.mb-toast--fade-out {
    animation: mbToastFadeOut 3000ms;
}

.mb-toast--hide {
    max-height: 0;
    visibility: hidden;
    
    .mdc-snackbar__label {
        visibility: hidden;
    }
}


@keyframes mbToastFadeIn {
    0% {
        opacity: 0;
        max-height: 0;
        margin: 0;
        animation-timing-function: ease-in-out;
    }

    40% {
        opacity: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }
}

@-webkit-keyframes mbToastFadeIn {
    0% {
        opacity: 0;
        max-height: 0;
        margin: 0;
        animation-timing-function: ease-in-out;
    }

    40% {
        opacity: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }
}


@keyframes mbToastFadeOut {
    0% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }

    6% {
        opacity: 0;
        animation-timing-function: ease-in-out;
    }

    10% {
        opacity: 0;
        max-height: 0;
        margin: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 0;
        max-height: 0;
        margin: 0;
    }
}

@-webkit-keyframes mbToastFadeOut {
    0% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }

    6% {
        opacity: 0;
        animation-timing-function: ease-in-out;
    }

    10% {
        opacity: 0;
        max-height: 0;
        margin: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 0;
        max-height: 0;
        margin: 0;
    }
}




.mb-toast__info {
    color: var(--mb-toast-color-info);
    background-color: var(--mb-toast-background-color-info);
    --mdc-theme-primary: var(--mb-toast-color-info);

    .mdc-snackbar__label, .mdc-snackbar__dismiss {
        color: var(--mb-toast-color-info);
    }
}

.mb-toast__success {
    color: var(--mb-toast-color-success);
    background-color: var(--mb-toast-background-color-success);
    --mdc-theme-primary: var(--mb-toast-color-success);

    .mdc-snackbar__label, .mdc-snackbar__dismiss {
        color: var(--mb-toast-color-success);
    }
}

.mb-toast__warning {
    color: var(--mb-toast-color-warning);
    background-color: var(--mb-toast-background-color-warning);
    --mdc-theme-primary: var(--mb-toast-color-warning);

    .mdc-snackbar__label, .mdc-snackbar__dismiss {
        color: var(--mb-toast-color-warning);
    }
}

.mb-toast__error {
    color: var(--mb-toast-color-error);
    background-color: var(--mb-toast-background-color-error);
    --mdc-theme-primary: var(--mb-toast-color-error);

    .mdc-snackbar__label, .mdc-snackbar__dismiss {
        color: var(--mb-toast-color-error);
    }
}

.mb-toast-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 0 0 $icon-horizontal-padding;
    font-size: $icon-font;
}

.mb-toast-icon.info-filter {
    filter: var(--mb-toast-filter-info);
}

.mb-toast-icon.success-filter {
    filter: var(--mb-toast-filter-success);
}

.mb-toast-icon.warning-filter {
    filter: var(--mb-toast-filter-warning);
}

.mb-toast-icon.error-filter {
    filter: var(--mb-toast-filter-error);
}
