@inject IJSRuntime jsRuntime

<aside @ref="drawerElem" class="@CssClass" id="app-drawer">
    <div class="mdc-drawer__content">
        <CascadingValue Value="@this">
            @ChildContent
        </CascadingValue>
    </div>
</aside>

@code {
    ElementReference drawerElem;
    bool isOpen;
    string CssClass => $"mdc-drawer mdc-drawer--dismissible { (StartOpen ? "mdc-drawer--open" : "") }";

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool StartOpen { get; set; }
    [Parameter] public bool CloseOnNavigate { get; set; } = true;

    protected override void OnInitialized()
    {
        isOpen = StartOpen;
    }

    public void Toggle()
        => Toggle(!isOpen);

    public void Toggle(bool open)
    {
        isOpen = open;
        StateHasChanged();
    }

    public void NotifyNavigation()
    {
        if (CloseOnNavigate)
        {
            Toggle(false);
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
        => await jsRuntime.InvokeAsync<object>(
            "BlazorMdc.drawer.toggle",
            drawerElem,
            isOpen);
}
