<div class="dmdc-disabled-container">
    @if (Disabled)
    {
        <div class="dmdc-disabled-overlay"></div>
    }

    <li class="mdc-list-item @disabledClass" role="menuitem" @onclick="myClick" disabled="@Disabled">
        @if (!(LeadingIcon is null))
        {
            <span class="mdc-list-item__graphic mdc-menu__selection-group-icon">
                <i class="material-icons">@LeadingIcon</i>
            </span>
        }
        <span class="mdc-list-item__text">@Text</span>
    </li>
</div>

@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public string? LeadingIcon { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public bool IsSelectionItem { get; set; }
    [Parameter] public Action OnClick { get; set; }

    private string disabledClass => Disabled ? " mdc-list-item--disabled" : "";
    private Action myClick => Disabled ? null : OnClick;
}