@namespace Material.Blazor.Internal
@inherits ComponentFoundation


<div class="mb-drag-and-drop-list__card-contents">
    @if (AppliedDisabled)
    {
        <div class="mb-drag-and-drop-list__draggable mb-drag-and-drop-list__disabled"
             disabled>

            <MBIcon IconName="drag_indicator" />
        </div>
    }
    else
    {
        <div class="mb-drag-and-drop-list__draggable"
             draggable="true"
             @ondragstart="@OnDragStart"
             @ondragend="@OnDragEnd">

            <MBIcon IconName="drag_indicator" />
        </div>
    }

    <div class="mb-drag-and-drop-list__user-content mb-card__autostyled">
        @ChildContent
    </div>
</div>
