$separator-height: 24px;
$drop-zone-overlap: 12px;
$drop-zone-height: $separator-height + 2 * $drop-zone-overlap;
$drag-zone-width: 60px;

.mb-drag-and-drop-list {
    display: flex;
    flex-flow: column nowrap;
}

.mb-drag-and-drop-list__card-contents {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.mb-drag-and-drop-list__draggable {
    height: 100%;
    width: $drag-zone-width;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    cursor: move;
}

.mb-drag-and-drop-list__user-content {
    height: fit-content;
    width: fit-content;
}

.mb-drag-and-drop-list__separator {
    height: $separator-height;
    width: 100%;
    z-index: 1;

    & > .mb-drag-and-drop-list__drop-target {
        width: 100%;
        height: $drop-zone-height;
        margin: -$drop-zone-overlap 0px;
        background-color: var(--mdc-theme-on-surface);
        opacity: 0;
        transition: ease-in-out 50ms;

        &.mb-drag-and-drop-list__hover {
            opacity: var(--mdc-ripple-hover-opacity, 0.04);
        }
    }
}
