@namespace BlazorMdc

@implements IDisposable

@inject IPMdcAnimatedNavigationManager PMdcAnimatedNavigationManager


<style>
    .bmdc-navigation-fade-in {
        @fadeInAnimation
        @fadeInAnimationWebkit
    }

    .bmdc-navigation-fade-out {
        @fadeOutAnimation
        @fadeOutAnimationWebkit
    }
</style>


<div class="@pageClass">
    @ChildContent
</div>


@code {
    [Parameter] public RenderFragment ChildContent { get; set; }


    private const string FadeIn = "bmdc-navigation-fade-in";
    private const string FadeOut = "bmdc-navigation-fade-out";


    private MarkupString fadeInAnimation => (MarkupString)$"animation: bmdcNavFadeIn ease {(PMdcAnimatedNavigationManager.FadeOutTime * 10).ToString("D")}ms;";
    private MarkupString fadeInAnimationWebkit => (MarkupString)$"-webkit-animation: bmdcNavFadeIn ease {(PMdcAnimatedNavigationManager.FadeOutTime * 10).ToString("D")}ms;";

    private MarkupString fadeOutAnimation => (MarkupString)$"animation: bmdcNavFadeOut ease {(PMdcAnimatedNavigationManager.FadeOutTime * 10).ToString("D")}ms;";
    private MarkupString fadeOutAnimationWebkit => (MarkupString)$"-webkit-animation: bmdcNavFadeOut ease {(PMdcAnimatedNavigationManager.FadeOutTime * 10).ToString("D")}ms;";


    private string pageClass = FadeIn;


    protected override void OnInitialized()
    {
        base.OnInitialized();

        PMdcAnimatedNavigationManager.RegisterNavigationComponent(this);
    }


    public void Dispose()
    {
        PMdcAnimatedNavigationManager.DeregisterNavigationComponent(this);
    }


    internal async Task<object> FadePageInAsync()
    {
        pageClass = FadeIn;
        StateHasChanged();

        await Task.CompletedTask;

        return null;
    }


    internal async Task<object> FadePageOutAsync()
    {
        pageClass = FadeOut;
        StateHasChanged();

        await Task.CompletedTask;

        await Task.Delay(PMdcAnimatedNavigationManager.FadeOutTime);

        return null;
    }


    internal void UnanimatePage()
    {
        pageClass = "";
    }
}