@inherits MdcComponentBase

@inject IJSRuntime jsRuntime


<div class="bmdc-dp-day-pad__button-container">
    <button @ref="elementReference" class="mdc-button bmdc-dp-day-pad__button @buttonStyleClass" @onclick="@OnClickAsync" disabled="@disabled" type="button">
        <div class="mdc-button__ripple bmdc-dp-day-pad__button__ripple"></div>
        <span class="mdc-button__label">@day</span>
    </button>
</div>


@code {
    [Parameter] public DateTime CurrentDate { get; set; }
    [Parameter] public DateTime DisplayDate { get; set; }
    [Parameter] public DateTime StartOfDisplayMonth { get; set; }
    [Parameter] public EventCallback<DateTime> OnItemClickAsync { get; set; }
    [Parameter] public MdcDateSelectionCriteria? DateSelectionCriteria { get; set; }
    [Parameter] public DateTime MinDate { get; set; }
    [Parameter] public DateTime MaxDate { get; set; }


    private ElementReference elementReference;
    private MdcDateSelectionCriteria myCriteria => AppliedDefaults.AppliedDateSelectionCriteria(DateSelectionCriteria);
    private string text => Utilities.DateToString(DisplayDate);
    private int day => DisplayDate.Day;
    private string buttonStyleClass => (DisplayDate == CurrentDate) ? "mdc-button--unelevated" : "";


    private bool disabled
    {
        get
        {
            if (DisplayDate.Month != StartOfDisplayMonth.Month)
            {
                return true;
            }

            switch (myCriteria)
            {
                case MdcDateSelectionCriteria.WeekendsOnly:
                    if ((DisplayDate.DayOfWeek != DayOfWeek.Sunday) && (DisplayDate.DayOfWeek != DayOfWeek.Saturday))
                    {
                        return true;
                    }
                    break;

                case MdcDateSelectionCriteria.WeekdaysOnly:
                    if ((DisplayDate.DayOfWeek == DayOfWeek.Sunday) || (DisplayDate.DayOfWeek == DayOfWeek.Saturday))
                    {
                        return true;
                    }
                    break;
            }

            return (DisplayDate < MinDate || DisplayDate > MaxDate);
        }
    }


    private async Task OnClickAsync()
    {
        await OnItemClickAsync.InvokeAsync(DisplayDate);
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeAsync<object>("BlazorMdc.button.init", elementReference);
        }
    }
}