@namespace Material.Blazor
@inherits ComponentFoundation


<span class="mb-badge @ActiveConditionalClasses @(@class)"
      style="@style">

    @if (BadgeStyle == MBBadgeStyle.ValueBearing)
    {
        <span class="mb-badge-value mdc-typography--caption">@Value</span>
    }
</span>
