@namespace BMdc
@inherits BBase.ComponentBase
@typeparam TItem


<div @ref="@ElementReference"
     @attributes="@AttributesToSplat()">

    <table class="mdc-data-table__table">
        <thead>
            @TableHeader
        </thead>

        <tbody class="mdc-data-table__content">
            @foreach (var item in Items)
            {
                <tr @key="@TableRow(item)" class="mdc-data-table__row">
                    @TableRow(item)
                </tr>
            }
        </tbody>
    </table>

</div>