@page "/"
@namespace Material.Blazor.Website.Server.Pages
@using Material.Blazor.Website.Components
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Material.Blazor</title>
    <base href="/" />
    <link href="_content/Material.Blazor.Website.Components/icon-512.png" rel="apple-touch-icon" sizes="512x512">
    <link href="_content/Material.Blazor.Website.Components/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
    <link href="_content/Material.Blazor.Website.Components/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
    <link href="/site.webmanifest" rel="manifest">
    <link href="_content/Material.Blazor/Material.Blazor.min.css" rel="stylesheet">
    <link id="app-style" href="_content/Material.Blazor.Website.Components/css/blue-square-theme.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css" crossorigin="anonymous" rel="stylesheet" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173249047-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-173249047-1', {
            cookie_flags: 'max-age=7200; samesite=none; secure'
        });
    </script>
</head>

<body class="mdc-typography mb-custom-scrollbars">
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Material.Blazor/Material.Blazor.-material-bundle.min.js"></script>
    <script src="_content/Material.Blazor.Website.Components/js/app.js"></script>
</body>
</html>
