@namespace Material.Blazor.Internal
@inherits ComponentFoundation

<div @ref="SnackbarReference" class="mdc-snackbar @Stacked @Leading">
    <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
        
        <div class="mdc-snackbar__label" aria-atomic="false">
            @((MarkupString)(Snackbar.Settings.Message ?? ""))
        </div>

        @{
            var hasAction = Snackbar.Settings.Action != null && Snackbar.Settings.ActionText != null;
            var hasDismiss = Snackbar.Settings.DismissIcon || Snackbar.Settings.AppliedTimeout < 0;
        }

        @if (hasAction || hasDismiss)
        {
            <div class="mdc-snackbar__actions" aria-atomic="true">
                @if (hasAction)
                {
                    <button type="button" class="mdc-button mdc-snackbar__action" @onclick="Snackbar.Settings.Action">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">@Snackbar.Settings.ActionText</span>
                    </button>
                }

                @if (hasDismiss)
                {
                    <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
                }
            </div>
        }

    </div>
</div>