@use '@material/theme/color-palette' as cp;

$mdc-theme-primary: cp.$indigo-800;
$mdc-theme-secondary: cp.$lime-800;
$mdc-theme-background: cp.$grey-200;

$mdc-typography-font-family: unquote("Josefin Sans, sans-serif");
$mdc-typography-styles-button: ( font-size: 14px, font-weight: 600, letter-spacing: 0.05em, );

$mdc-shape-small-component-radius: 12px 4px;
$mdc-shape-large-component-radius: 8px;