@charset "UTF-8";

@use '@material/theme';
@use '@material/theme/custom-properties';
@use '@material/theme/color-palette';
@use 'sass:string';

@function hexToRGB($color) {
    @return red($color), green($color), blue($color);
}

@function buildOnColor($color) {
    @return 'var(--mb-text-color-' + theme.contrast-tone($color) + ')';
}

:root {
    --mb-text-color-light: white;
    --mb-text-color-dark: black;
    --mb-color-red-50: #{color-palette.$red-50};
    --mb-color-red-100: #{color-palette.$red-100};
    --mb-color-red-200: #{color-palette.$red-200};
    --mb-color-red-300: #{color-palette.$red-300};
    --mb-color-red-400: #{color-palette.$red-400};
    --mb-color-red-500: #{color-palette.$red-500};
    --mb-color-red-600: #{color-palette.$red-600};
    --mb-color-red-700: #{color-palette.$red-700};
    --mb-color-red-800: #{color-palette.$red-800};
    --mb-color-red-900: #{color-palette.$red-900};
    --mb-color-red-a100: #{color-palette.$red-a100};
    --mb-color-red-a200: #{color-palette.$red-a200};
    --mb-color-red-a400: #{color-palette.$red-a400};
    --mb-color-red-a700: #{color-palette.$red-a700};
    --mb-color-pink-50: #{color-palette.$pink-50};
    --mb-color-pink-100: #{color-palette.$pink-100};
    --mb-color-pink-200: #{color-palette.$pink-200};
    --mb-color-pink-300: #{color-palette.$pink-300};
    --mb-color-pink-400: #{color-palette.$pink-400};
    --mb-color-pink-500: #{color-palette.$pink-500};
    --mb-color-pink-600: #{color-palette.$pink-600};
    --mb-color-pink-700: #{color-palette.$pink-700};
    --mb-color-pink-800: #{color-palette.$pink-800};
    --mb-color-pink-900: #{color-palette.$pink-900};
    --mb-color-pink-a100: #{color-palette.$pink-a100};
    --mb-color-pink-a200: #{color-palette.$pink-a200};
    --mb-color-pink-a400: #{color-palette.$pink-a400};
    --mb-color-pink-a700: #{color-palette.$pink-a700};
    --mb-color-purple-50: #{color-palette.$purple-50};
    --mb-color-purple-100: #{color-palette.$purple-100};
    --mb-color-purple-200: #{color-palette.$purple-200};
    --mb-color-purple-300: #{color-palette.$purple-300};
    --mb-color-purple-400: #{color-palette.$purple-400};
    --mb-color-purple-500: #{color-palette.$purple-500};
    --mb-color-purple-600: #{color-palette.$purple-600};
    --mb-color-purple-700: #{color-palette.$purple-700};
    --mb-color-purple-800: #{color-palette.$purple-800};
    --mb-color-purple-900: #{color-palette.$purple-900};
    --mb-color-purple-a100: #{color-palette.$purple-a100};
    --mb-color-purple-a200: #{color-palette.$purple-a200};
    --mb-color-purple-a400: #{color-palette.$purple-a400};
    --mb-color-purple-a700: #{color-palette.$purple-a700};
    --mb-color-deep-purple-50: #{color-palette.$deep-purple-50};
    --mb-color-deep-purple-100: #{color-palette.$deep-purple-100};
    --mb-color-deep-purple-200: #{color-palette.$deep-purple-200};
    --mb-color-deep-purple-300: #{color-palette.$deep-purple-300};
    --mb-color-deep-purple-400: #{color-palette.$deep-purple-400};
    --mb-color-deep-purple-500: #{color-palette.$deep-purple-500};
    --mb-color-deep-purple-600: #{color-palette.$deep-purple-600};
    --mb-color-deep-purple-700: #{color-palette.$deep-purple-700};
    --mb-color-deep-purple-800: #{color-palette.$deep-purple-800};
    --mb-color-deep-purple-900: #{color-palette.$deep-purple-900};
    --mb-color-deep-purple-a100: #{color-palette.$deep-purple-a100};
    --mb-color-deep-purple-a200: #{color-palette.$deep-purple-a200};
    --mb-color-deep-purple-a400: #{color-palette.$deep-purple-a400};
    --mb-color-deep-purple-a700: #{color-palette.$deep-purple-a700};
    --mb-color-indigo-50: #{color-palette.$indigo-50};
    --mb-color-indigo-100: #{color-palette.$indigo-100};
    --mb-color-indigo-200: #{color-palette.$indigo-200};
    --mb-color-indigo-300: #{color-palette.$indigo-300};
    --mb-color-indigo-400: #{color-palette.$indigo-400};
    --mb-color-indigo-500: #{color-palette.$indigo-500};
    --mb-color-indigo-600: #{color-palette.$indigo-600};
    --mb-color-indigo-700: #{color-palette.$indigo-700};
    --mb-color-indigo-800: #{color-palette.$indigo-800};
    --mb-color-indigo-900: #{color-palette.$indigo-900};
    --mb-color-indigo-a100: #{color-palette.$indigo-a100};
    --mb-color-indigo-a200: #{color-palette.$indigo-a200};
    --mb-color-indigo-a400: #{color-palette.$indigo-a400};
    --mb-color-indigo-a700: #{color-palette.$indigo-a700};
    --mb-color-blue-50: #{color-palette.$blue-50};
    --mb-color-blue-100: #{color-palette.$blue-100};
    --mb-color-blue-200: #{color-palette.$blue-200};
    --mb-color-blue-300: #{color-palette.$blue-300};
    --mb-color-blue-400: #{color-palette.$blue-400};
    --mb-color-blue-500: #{color-palette.$blue-500};
    --mb-color-blue-600: #{color-palette.$blue-600};
    --mb-color-blue-700: #{color-palette.$blue-700};
    --mb-color-blue-800: #{color-palette.$blue-800};
    --mb-color-blue-900: #{color-palette.$blue-900};
    --mb-color-blue-a100: #{color-palette.$blue-a100};
    --mb-color-blue-a200: #{color-palette.$blue-a200};
    --mb-color-blue-a400: #{color-palette.$blue-a400};
    --mb-color-blue-a700: #{color-palette.$blue-a700};
    --mb-color-light-blue-50: #{color-palette.$light-blue-50};
    --mb-color-light-blue-100: #{color-palette.$light-blue-100};
    --mb-color-light-blue-200: #{color-palette.$light-blue-200};
    --mb-color-light-blue-300: #{color-palette.$light-blue-300};
    --mb-color-light-blue-400: #{color-palette.$light-blue-400};
    --mb-color-light-blue-500: #{color-palette.$light-blue-500};
    --mb-color-light-blue-600: #{color-palette.$light-blue-600};
    --mb-color-light-blue-700: #{color-palette.$light-blue-700};
    --mb-color-light-blue-800: #{color-palette.$light-blue-800};
    --mb-color-light-blue-900: #{color-palette.$light-blue-900};
    --mb-color-light-blue-a100: #{color-palette.$light-blue-a100};
    --mb-color-light-blue-a200: #{color-palette.$light-blue-a200};
    --mb-color-light-blue-a400: #{color-palette.$light-blue-a400};
    --mb-color-light-blue-a700: #{color-palette.$light-blue-a700};
    --mb-color-cyan-50: #{color-palette.$cyan-50};
    --mb-color-cyan-100: #{color-palette.$cyan-100};
    --mb-color-cyan-200: #{color-palette.$cyan-200};
    --mb-color-cyan-300: #{color-palette.$cyan-300};
    --mb-color-cyan-400: #{color-palette.$cyan-400};
    --mb-color-cyan-500: #{color-palette.$cyan-500};
    --mb-color-cyan-600: #{color-palette.$cyan-600};
    --mb-color-cyan-700: #{color-palette.$cyan-700};
    --mb-color-cyan-800: #{color-palette.$cyan-800};
    --mb-color-cyan-900: #{color-palette.$cyan-900};
    --mb-color-cyan-a100: #{color-palette.$cyan-a100};
    --mb-color-cyan-a200: #{color-palette.$cyan-a200};
    --mb-color-cyan-a400: #{color-palette.$cyan-a400};
    --mb-color-cyan-a700: #{color-palette.$cyan-a700};
    --mb-color-teal-50: #{color-palette.$teal-50};
    --mb-color-teal-100: #{color-palette.$teal-100};
    --mb-color-teal-200: #{color-palette.$teal-200};
    --mb-color-teal-300: #{color-palette.$teal-300};
    --mb-color-teal-400: #{color-palette.$teal-400};
    --mb-color-teal-500: #{color-palette.$teal-500};
    --mb-color-teal-600: #{color-palette.$teal-600};
    --mb-color-teal-700: #{color-palette.$teal-700};
    --mb-color-teal-800: #{color-palette.$teal-800};
    --mb-color-teal-900: #{color-palette.$teal-900};
    --mb-color-teal-a100: #{color-palette.$teal-a100};
    --mb-color-teal-a200: #{color-palette.$teal-a200};
    --mb-color-teal-a400: #{color-palette.$teal-a400};
    --mb-color-teal-a700: #{color-palette.$teal-a700};
    --mb-color-green-50: #{color-palette.$green-50};
    --mb-color-green-100: #{color-palette.$green-100};
    --mb-color-green-200: #{color-palette.$green-200};
    --mb-color-green-300: #{color-palette.$green-300};
    --mb-color-green-400: #{color-palette.$green-400};
    --mb-color-green-500: #{color-palette.$green-500};
    --mb-color-green-600: #{color-palette.$green-600};
    --mb-color-green-700: #{color-palette.$green-700};
    --mb-color-green-800: #{color-palette.$green-800};
    --mb-color-green-900: #{color-palette.$green-900};
    --mb-color-green-a100: #{color-palette.$green-a100};
    --mb-color-green-a200: #{color-palette.$green-a200};
    --mb-color-green-a400: #{color-palette.$green-a400};
    --mb-color-green-a700: #{color-palette.$green-a700};
    --mb-color-light-green-50: #{color-palette.$light-green-50};
    --mb-color-light-green-100: #{color-palette.$light-green-100};
    --mb-color-light-green-200: #{color-palette.$light-green-200};
    --mb-color-light-green-300: #{color-palette.$light-green-300};
    --mb-color-light-green-400: #{color-palette.$light-green-400};
    --mb-color-light-green-500: #{color-palette.$light-green-500};
    --mb-color-light-green-600: #{color-palette.$light-green-600};
    --mb-color-light-green-700: #{color-palette.$light-green-700};
    --mb-color-light-green-800: #{color-palette.$light-green-800};
    --mb-color-light-green-900: #{color-palette.$light-green-900};
    --mb-color-light-green-a100: #{color-palette.$light-green-a100};
    --mb-color-light-green-a200: #{color-palette.$light-green-a200};
    --mb-color-light-green-a400: #{color-palette.$light-green-a400};
    --mb-color-light-green-a700: #{color-palette.$light-green-a700};
    --mb-color-lime-50: #{color-palette.$lime-50};
    --mb-color-lime-100: #{color-palette.$lime-100};
    --mb-color-lime-200: #{color-palette.$lime-200};
    --mb-color-lime-300: #{color-palette.$lime-300};
    --mb-color-lime-400: #{color-palette.$lime-400};
    --mb-color-lime-500: #{color-palette.$lime-500};
    --mb-color-lime-600: #{color-palette.$lime-600};
    --mb-color-lime-700: #{color-palette.$lime-700};
    --mb-color-lime-800: #{color-palette.$lime-800};
    --mb-color-lime-900: #{color-palette.$lime-900};
    --mb-color-lime-a100: #{color-palette.$lime-a100};
    --mb-color-lime-a200: #{color-palette.$lime-a200};
    --mb-color-lime-a400: #{color-palette.$lime-a400};
    --mb-color-lime-a700: #{color-palette.$lime-a700};
    --mb-color-yellow-50: #{color-palette.$yellow-50};
    --mb-color-yellow-100: #{color-palette.$yellow-100};
    --mb-color-yellow-200: #{color-palette.$yellow-200};
    --mb-color-yellow-300: #{color-palette.$yellow-300};
    --mb-color-yellow-400: #{color-palette.$yellow-400};
    --mb-color-yellow-500: #{color-palette.$yellow-500};
    --mb-color-yellow-600: #{color-palette.$yellow-600};
    --mb-color-yellow-700: #{color-palette.$yellow-700};
    --mb-color-yellow-800: #{color-palette.$yellow-800};
    --mb-color-yellow-900: #{color-palette.$yellow-900};
    --mb-color-yellow-a100: #{color-palette.$yellow-a100};
    --mb-color-yellow-a200: #{color-palette.$yellow-a200};
    --mb-color-yellow-a400: #{color-palette.$yellow-a400};
    --mb-color-yellow-a700: #{color-palette.$yellow-a700};
    --mb-color-amber-50: #{color-palette.$amber-50};
    --mb-color-amber-100: #{color-palette.$amber-100};
    --mb-color-amber-200: #{color-palette.$amber-200};
    --mb-color-amber-300: #{color-palette.$amber-300};
    --mb-color-amber-400: #{color-palette.$amber-400};
    --mb-color-amber-500: #{color-palette.$amber-500};
    --mb-color-amber-600: #{color-palette.$amber-600};
    --mb-color-amber-700: #{color-palette.$amber-700};
    --mb-color-amber-800: #{color-palette.$amber-800};
    --mb-color-amber-900: #{color-palette.$amber-900};
    --mb-color-amber-a100: #{color-palette.$amber-a100};
    --mb-color-amber-a200: #{color-palette.$amber-a200};
    --mb-color-amber-a400: #{color-palette.$amber-a400};
    --mb-color-amber-a700: #{color-palette.$amber-a700};
    --mb-color-orange-50: #{color-palette.$orange-50};
    --mb-color-orange-100: #{color-palette.$orange-100};
    --mb-color-orange-200: #{color-palette.$orange-200};
    --mb-color-orange-300: #{color-palette.$orange-300};
    --mb-color-orange-400: #{color-palette.$orange-400};
    --mb-color-orange-500: #{color-palette.$orange-500};
    --mb-color-orange-600: #{color-palette.$orange-600};
    --mb-color-orange-700: #{color-palette.$orange-700};
    --mb-color-orange-800: #{color-palette.$orange-800};
    --mb-color-orange-900: #{color-palette.$orange-900};
    --mb-color-orange-a100: #{color-palette.$orange-a100};
    --mb-color-orange-a200: #{color-palette.$orange-a200};
    --mb-color-orange-a400: #{color-palette.$orange-a400};
    --mb-color-orange-a700: #{color-palette.$orange-a700};
    --mb-color-deep-orange-50: #{color-palette.$deep-orange-50};
    --mb-color-deep-orange-100: #{color-palette.$deep-orange-100};
    --mb-color-deep-orange-200: #{color-palette.$deep-orange-200};
    --mb-color-deep-orange-300: #{color-palette.$deep-orange-300};
    --mb-color-deep-orange-400: #{color-palette.$deep-orange-400};
    --mb-color-deep-orange-500: #{color-palette.$deep-orange-500};
    --mb-color-deep-orange-600: #{color-palette.$deep-orange-600};
    --mb-color-deep-orange-700: #{color-palette.$deep-orange-700};
    --mb-color-deep-orange-800: #{color-palette.$deep-orange-800};
    --mb-color-deep-orange-900: #{color-palette.$deep-orange-900};
    --mb-color-deep-orange-a100: #{color-palette.$deep-orange-a100};
    --mb-color-deep-orange-a200: #{color-palette.$deep-orange-a200};
    --mb-color-deep-orange-a400: #{color-palette.$deep-orange-a400};
    --mb-color-deep-orange-a700: #{color-palette.$deep-orange-a700};
    --mb-color-brown-50: #{color-palette.$brown-50};
    --mb-color-brown-100: #{color-palette.$brown-100};
    --mb-color-brown-200: #{color-palette.$brown-200};
    --mb-color-brown-300: #{color-palette.$brown-300};
    --mb-color-brown-400: #{color-palette.$brown-400};
    --mb-color-brown-500: #{color-palette.$brown-500};
    --mb-color-brown-600: #{color-palette.$brown-600};
    --mb-color-brown-700: #{color-palette.$brown-700};
    --mb-color-brown-800: #{color-palette.$brown-800};
    --mb-color-brown-900: #{color-palette.$brown-900};
    --mb-color-grey-50: #{color-palette.$grey-50};
    --mb-color-grey-100: #{color-palette.$grey-100};
    --mb-color-grey-200: #{color-palette.$grey-200};
    --mb-color-grey-300: #{color-palette.$grey-300};
    --mb-color-grey-400: #{color-palette.$grey-400};
    --mb-color-grey-500: #{color-palette.$grey-500};
    --mb-color-grey-600: #{color-palette.$grey-600};
    --mb-color-grey-700: #{color-palette.$grey-700};
    --mb-color-grey-800: #{color-palette.$grey-800};
    --mb-color-grey-900: #{color-palette.$grey-900};
    --mb-color-blue-grey-50: #{color-palette.$blue-grey-50};
    --mb-color-blue-grey-100: #{color-palette.$blue-grey-100};
    --mb-color-blue-grey-200: #{color-palette.$blue-grey-200};
    --mb-color-blue-grey-300: #{color-palette.$blue-grey-300};
    --mb-color-blue-grey-400: #{color-palette.$blue-grey-400};
    --mb-color-blue-grey-500: #{color-palette.$blue-grey-500};
    --mb-color-blue-grey-600: #{color-palette.$blue-grey-600};
    --mb-color-blue-grey-700: #{color-palette.$blue-grey-700};
    --mb-color-blue-grey-800: #{color-palette.$blue-grey-800};
    --mb-color-blue-grey-900: #{color-palette.$blue-grey-900};
    --mb-color-on-red-50: #{buildOnColor(color-palette.$red-50)};
    --mb-color-on-red-100: #{buildOnColor(color-palette.$red-100)};
    --mb-color-on-red-200: #{buildOnColor(color-palette.$red-200)};
    --mb-color-on-red-300: #{buildOnColor(color-palette.$red-300)};
    --mb-color-on-red-400: #{buildOnColor(color-palette.$red-400)};
    --mb-color-on-red-500: #{buildOnColor(color-palette.$red-500)};
    --mb-color-on-red-600: #{buildOnColor(color-palette.$red-600)};
    --mb-color-on-red-700: #{buildOnColor(color-palette.$red-700)};
    --mb-color-on-red-800: #{buildOnColor(color-palette.$red-800)};
    --mb-color-on-red-900: #{buildOnColor(color-palette.$red-900)};
    --mb-color-on-red-a100: #{buildOnColor(color-palette.$red-a100)};
    --mb-color-on-red-a200: #{buildOnColor(color-palette.$red-a200)};
    --mb-color-on-red-a400: #{buildOnColor(color-palette.$red-a400)};
    --mb-color-on-red-a700: #{buildOnColor(color-palette.$red-a700)};
    --mb-color-on-pink-50: #{buildOnColor(color-palette.$pink-50)};
    --mb-color-on-pink-100: #{buildOnColor(color-palette.$pink-100)};
    --mb-color-on-pink-200: #{buildOnColor(color-palette.$pink-200)};
    --mb-color-on-pink-300: #{buildOnColor(color-palette.$pink-300)};
    --mb-color-on-pink-400: #{buildOnColor(color-palette.$pink-400)};
    --mb-color-on-pink-500: #{buildOnColor(color-palette.$pink-500)};
    --mb-color-on-pink-600: #{buildOnColor(color-palette.$pink-600)};
    --mb-color-on-pink-700: #{buildOnColor(color-palette.$pink-700)};
    --mb-color-on-pink-800: #{buildOnColor(color-palette.$pink-800)};
    --mb-color-on-pink-900: #{buildOnColor(color-palette.$pink-900)};
    --mb-color-on-pink-a100: #{buildOnColor(color-palette.$pink-a100)};
    --mb-color-on-pink-a200: #{buildOnColor(color-palette.$pink-a200)};
    --mb-color-on-pink-a400: #{buildOnColor(color-palette.$pink-a400)};
    --mb-color-on-pink-a700: #{buildOnColor(color-palette.$pink-a700)};
    --mb-color-on-purple-50: #{buildOnColor(color-palette.$purple-50)};
    --mb-color-on-purple-100: #{buildOnColor(color-palette.$purple-100)};
    --mb-color-on-purple-200: #{buildOnColor(color-palette.$purple-200)};
    --mb-color-on-purple-300: #{buildOnColor(color-palette.$purple-300)};
    --mb-color-on-purple-400: #{buildOnColor(color-palette.$purple-400)};
    --mb-color-on-purple-500: #{buildOnColor(color-palette.$purple-500)};
    --mb-color-on-purple-600: #{buildOnColor(color-palette.$purple-600)};
    --mb-color-on-purple-700: #{buildOnColor(color-palette.$purple-700)};
    --mb-color-on-purple-800: #{buildOnColor(color-palette.$purple-800)};
    --mb-color-on-purple-900: #{buildOnColor(color-palette.$purple-900)};
    --mb-color-on-purple-a100: #{buildOnColor(color-palette.$purple-a100)};
    --mb-color-on-purple-a200: #{buildOnColor(color-palette.$purple-a200)};
    --mb-color-on-purple-a400: #{buildOnColor(color-palette.$purple-a400)};
    --mb-color-on-purple-a700: #{buildOnColor(color-palette.$purple-a700)};
    --mb-color-on-deep-purple-50: #{buildOnColor(color-palette.$deep-purple-50)};
    --mb-color-on-deep-purple-100: #{buildOnColor(color-palette.$deep-purple-100)};
    --mb-color-on-deep-purple-200: #{buildOnColor(color-palette.$deep-purple-200)};
    --mb-color-on-deep-purple-300: #{buildOnColor(color-palette.$deep-purple-300)};
    --mb-color-on-deep-purple-400: #{buildOnColor(color-palette.$deep-purple-400)};
    --mb-color-on-deep-purple-500: #{buildOnColor(color-palette.$deep-purple-500)};
    --mb-color-on-deep-purple-600: #{buildOnColor(color-palette.$deep-purple-600)};
    --mb-color-on-deep-purple-700: #{buildOnColor(color-palette.$deep-purple-700)};
    --mb-color-on-deep-purple-800: #{buildOnColor(color-palette.$deep-purple-800)};
    --mb-color-on-deep-purple-900: #{buildOnColor(color-palette.$deep-purple-900)};
    --mb-color-on-deep-purple-a100: #{buildOnColor(color-palette.$deep-purple-a100)};
    --mb-color-on-deep-purple-a200: #{buildOnColor(color-palette.$deep-purple-a200)};
    --mb-color-on-deep-purple-a400: #{buildOnColor(color-palette.$deep-purple-a400)};
    --mb-color-on-deep-purple-a700: #{buildOnColor(color-palette.$deep-purple-a700)};
    --mb-color-on-indigo-50: #{buildOnColor(color-palette.$indigo-50)};
    --mb-color-on-indigo-100: #{buildOnColor(color-palette.$indigo-100)};
    --mb-color-on-indigo-200: #{buildOnColor(color-palette.$indigo-200)};
    --mb-color-on-indigo-300: #{buildOnColor(color-palette.$indigo-300)};
    --mb-color-on-indigo-400: #{buildOnColor(color-palette.$indigo-400)};
    --mb-color-on-indigo-500: #{buildOnColor(color-palette.$indigo-500)};
    --mb-color-on-indigo-600: #{buildOnColor(color-palette.$indigo-600)};
    --mb-color-on-indigo-700: #{buildOnColor(color-palette.$indigo-700)};
    --mb-color-on-indigo-800: #{buildOnColor(color-palette.$indigo-800)};
    --mb-color-on-indigo-900: #{buildOnColor(color-palette.$indigo-900)};
    --mb-color-on-indigo-a100: #{buildOnColor(color-palette.$indigo-a100)};
    --mb-color-on-indigo-a200: #{buildOnColor(color-palette.$indigo-a200)};
    --mb-color-on-indigo-a400: #{buildOnColor(color-palette.$indigo-a400)};
    --mb-color-on-indigo-a700: #{buildOnColor(color-palette.$indigo-a700)};
    --mb-color-on-blue-50: #{buildOnColor(color-palette.$blue-50)};
    --mb-color-on-blue-100: #{buildOnColor(color-palette.$blue-100)};
    --mb-color-on-blue-200: #{buildOnColor(color-palette.$blue-200)};
    --mb-color-on-blue-300: #{buildOnColor(color-palette.$blue-300)};
    --mb-color-on-blue-400: #{buildOnColor(color-palette.$blue-400)};
    --mb-color-on-blue-500: #{buildOnColor(color-palette.$blue-500)};
    --mb-color-on-blue-600: #{buildOnColor(color-palette.$blue-600)};
    --mb-color-on-blue-700: #{buildOnColor(color-palette.$blue-700)};
    --mb-color-on-blue-800: #{buildOnColor(color-palette.$blue-800)};
    --mb-color-on-blue-900: #{buildOnColor(color-palette.$blue-900)};
    --mb-color-on-blue-a100: #{buildOnColor(color-palette.$blue-a100)};
    --mb-color-on-blue-a200: #{buildOnColor(color-palette.$blue-a200)};
    --mb-color-on-blue-a400: #{buildOnColor(color-palette.$blue-a400)};
    --mb-color-on-blue-a700: #{buildOnColor(color-palette.$blue-a700)};
    --mb-color-on-light-blue-50: #{buildOnColor(color-palette.$light-blue-50)};
    --mb-color-on-light-blue-100: #{buildOnColor(color-palette.$light-blue-100)};
    --mb-color-on-light-blue-200: #{buildOnColor(color-palette.$light-blue-200)};
    --mb-color-on-light-blue-300: #{buildOnColor(color-palette.$light-blue-300)};
    --mb-color-on-light-blue-400: #{buildOnColor(color-palette.$light-blue-400)};
    --mb-color-on-light-blue-500: #{buildOnColor(color-palette.$light-blue-500)};
    --mb-color-on-light-blue-600: #{buildOnColor(color-palette.$light-blue-600)};
    --mb-color-on-light-blue-700: #{buildOnColor(color-palette.$light-blue-700)};
    --mb-color-on-light-blue-800: #{buildOnColor(color-palette.$light-blue-800)};
    --mb-color-on-light-blue-900: #{buildOnColor(color-palette.$light-blue-900)};
    --mb-color-on-light-blue-a100: #{buildOnColor(color-palette.$light-blue-a100)};
    --mb-color-on-light-blue-a200: #{buildOnColor(color-palette.$light-blue-a200)};
    --mb-color-on-light-blue-a400: #{buildOnColor(color-palette.$light-blue-a400)};
    --mb-color-on-light-blue-a700: #{buildOnColor(color-palette.$light-blue-a700)};
    --mb-color-on-cyan-50: #{buildOnColor(color-palette.$cyan-50)};
    --mb-color-on-cyan-100: #{buildOnColor(color-palette.$cyan-100)};
    --mb-color-on-cyan-200: #{buildOnColor(color-palette.$cyan-200)};
    --mb-color-on-cyan-300: #{buildOnColor(color-palette.$cyan-300)};
    --mb-color-on-cyan-400: #{buildOnColor(color-palette.$cyan-400)};
    --mb-color-on-cyan-500: #{buildOnColor(color-palette.$cyan-500)};
    --mb-color-on-cyan-600: #{buildOnColor(color-palette.$cyan-600)};
    --mb-color-on-cyan-700: #{buildOnColor(color-palette.$cyan-700)};
    --mb-color-on-cyan-800: #{buildOnColor(color-palette.$cyan-800)};
    --mb-color-on-cyan-900: #{buildOnColor(color-palette.$cyan-900)};
    --mb-color-on-cyan-a100: #{buildOnColor(color-palette.$cyan-a100)};
    --mb-color-on-cyan-a200: #{buildOnColor(color-palette.$cyan-a200)};
    --mb-color-on-cyan-a400: #{buildOnColor(color-palette.$cyan-a400)};
    --mb-color-on-cyan-a700: #{buildOnColor(color-palette.$cyan-a700)};
    --mb-color-on-teal-50: #{buildOnColor(color-palette.$teal-50)};
    --mb-color-on-teal-100: #{buildOnColor(color-palette.$teal-100)};
    --mb-color-on-teal-200: #{buildOnColor(color-palette.$teal-200)};
    --mb-color-on-teal-300: #{buildOnColor(color-palette.$teal-300)};
    --mb-color-on-teal-400: #{buildOnColor(color-palette.$teal-400)};
    --mb-color-on-teal-500: #{buildOnColor(color-palette.$teal-500)};
    --mb-color-on-teal-600: #{buildOnColor(color-palette.$teal-600)};
    --mb-color-on-teal-700: #{buildOnColor(color-palette.$teal-700)};
    --mb-color-on-teal-800: #{buildOnColor(color-palette.$teal-800)};
    --mb-color-on-teal-900: #{buildOnColor(color-palette.$teal-900)};
    --mb-color-on-teal-a100: #{buildOnColor(color-palette.$teal-a100)};
    --mb-color-on-teal-a200: #{buildOnColor(color-palette.$teal-a200)};
    --mb-color-on-teal-a400: #{buildOnColor(color-palette.$teal-a400)};
    --mb-color-on-teal-a700: #{buildOnColor(color-palette.$teal-a700)};
    --mb-color-on-green-50: #{buildOnColor(color-palette.$green-50)};
    --mb-color-on-green-100: #{buildOnColor(color-palette.$green-100)};
    --mb-color-on-green-200: #{buildOnColor(color-palette.$green-200)};
    --mb-color-on-green-300: #{buildOnColor(color-palette.$green-300)};
    --mb-color-on-green-400: #{buildOnColor(color-palette.$green-400)};
    --mb-color-on-green-500: #{buildOnColor(color-palette.$green-500)};
    --mb-color-on-green-600: #{buildOnColor(color-palette.$green-600)};
    --mb-color-on-green-700: #{buildOnColor(color-palette.$green-700)};
    --mb-color-on-green-800: #{buildOnColor(color-palette.$green-800)};
    --mb-color-on-green-900: #{buildOnColor(color-palette.$green-900)};
    --mb-color-on-green-a100: #{buildOnColor(color-palette.$green-a100)};
    --mb-color-on-green-a200: #{buildOnColor(color-palette.$green-a200)};
    --mb-color-on-green-a400: #{buildOnColor(color-palette.$green-a400)};
    --mb-color-on-green-a700: #{buildOnColor(color-palette.$green-a700)};
    --mb-color-on-light-green-50: #{buildOnColor(color-palette.$light-green-50)};
    --mb-color-on-light-green-100: #{buildOnColor(color-palette.$light-green-100)};
    --mb-color-on-light-green-200: #{buildOnColor(color-palette.$light-green-200)};
    --mb-color-on-light-green-300: #{buildOnColor(color-palette.$light-green-300)};
    --mb-color-on-light-green-400: #{buildOnColor(color-palette.$light-green-400)};
    --mb-color-on-light-green-500: #{buildOnColor(color-palette.$light-green-500)};
    --mb-color-on-light-green-600: #{buildOnColor(color-palette.$light-green-600)};
    --mb-color-on-light-green-700: #{buildOnColor(color-palette.$light-green-700)};
    --mb-color-on-light-green-800: #{buildOnColor(color-palette.$light-green-800)};
    --mb-color-on-light-green-900: #{buildOnColor(color-palette.$light-green-900)};
    --mb-color-on-light-green-a100: #{buildOnColor(color-palette.$light-green-a100)};
    --mb-color-on-light-green-a200: #{buildOnColor(color-palette.$light-green-a200)};
    --mb-color-on-light-green-a400: #{buildOnColor(color-palette.$light-green-a400)};
    --mb-color-on-light-green-a700: #{buildOnColor(color-palette.$light-green-a700)};
    --mb-color-on-lime-50: #{buildOnColor(color-palette.$lime-50)};
    --mb-color-on-lime-100: #{buildOnColor(color-palette.$lime-100)};
    --mb-color-on-lime-200: #{buildOnColor(color-palette.$lime-200)};
    --mb-color-on-lime-300: #{buildOnColor(color-palette.$lime-300)};
    --mb-color-on-lime-400: #{buildOnColor(color-palette.$lime-400)};
    --mb-color-on-lime-500: #{buildOnColor(color-palette.$lime-500)};
    --mb-color-on-lime-600: #{buildOnColor(color-palette.$lime-600)};
    --mb-color-on-lime-700: #{buildOnColor(color-palette.$lime-700)};
    --mb-color-on-lime-800: #{buildOnColor(color-palette.$lime-800)};
    --mb-color-on-lime-900: #{buildOnColor(color-palette.$lime-900)};
    --mb-color-on-lime-a100: #{buildOnColor(color-palette.$lime-a100)};
    --mb-color-on-lime-a200: #{buildOnColor(color-palette.$lime-a200)};
    --mb-color-on-lime-a400: #{buildOnColor(color-palette.$lime-a400)};
    --mb-color-on-lime-a700: #{buildOnColor(color-palette.$lime-a700)};
    --mb-color-on-yellow-50: #{buildOnColor(color-palette.$yellow-50)};
    --mb-color-on-yellow-100: #{buildOnColor(color-palette.$yellow-100)};
    --mb-color-on-yellow-200: #{buildOnColor(color-palette.$yellow-200)};
    --mb-color-on-yellow-300: #{buildOnColor(color-palette.$yellow-300)};
    --mb-color-on-yellow-400: #{buildOnColor(color-palette.$yellow-400)};
    --mb-color-on-yellow-500: #{buildOnColor(color-palette.$yellow-500)};
    --mb-color-on-yellow-600: #{buildOnColor(color-palette.$yellow-600)};
    --mb-color-on-yellow-700: #{buildOnColor(color-palette.$yellow-700)};
    --mb-color-on-yellow-800: #{buildOnColor(color-palette.$yellow-800)};
    --mb-color-on-yellow-900: #{buildOnColor(color-palette.$yellow-900)};
    --mb-color-on-yellow-a100: #{buildOnColor(color-palette.$yellow-a100)};
    --mb-color-on-yellow-a200: #{buildOnColor(color-palette.$yellow-a200)};
    --mb-color-on-yellow-a400: #{buildOnColor(color-palette.$yellow-a400)};
    --mb-color-on-yellow-a700: #{buildOnColor(color-palette.$yellow-a700)};
    --mb-color-on-amber-50: #{buildOnColor(color-palette.$amber-50)};
    --mb-color-on-amber-100: #{buildOnColor(color-palette.$amber-100)};
    --mb-color-on-amber-200: #{buildOnColor(color-palette.$amber-200)};
    --mb-color-on-amber-300: #{buildOnColor(color-palette.$amber-300)};
    --mb-color-on-amber-400: #{buildOnColor(color-palette.$amber-400)};
    --mb-color-on-amber-500: #{buildOnColor(color-palette.$amber-500)};
    --mb-color-on-amber-600: #{buildOnColor(color-palette.$amber-600)};
    --mb-color-on-amber-700: #{buildOnColor(color-palette.$amber-700)};
    --mb-color-on-amber-800: #{buildOnColor(color-palette.$amber-800)};
    --mb-color-on-amber-900: #{buildOnColor(color-palette.$amber-900)};
    --mb-color-on-amber-a100: #{buildOnColor(color-palette.$amber-a100)};
    --mb-color-on-amber-a200: #{buildOnColor(color-palette.$amber-a200)};
    --mb-color-on-amber-a400: #{buildOnColor(color-palette.$amber-a400)};
    --mb-color-on-amber-a700: #{buildOnColor(color-palette.$amber-a700)};
    --mb-color-on-orange-50: #{buildOnColor(color-palette.$orange-50)};
    --mb-color-on-orange-100: #{buildOnColor(color-palette.$orange-100)};
    --mb-color-on-orange-200: #{buildOnColor(color-palette.$orange-200)};
    --mb-color-on-orange-300: #{buildOnColor(color-palette.$orange-300)};
    --mb-color-on-orange-400: #{buildOnColor(color-palette.$orange-400)};
    --mb-color-on-orange-500: #{buildOnColor(color-palette.$orange-500)};
    --mb-color-on-orange-600: #{buildOnColor(color-palette.$orange-600)};
    --mb-color-on-orange-700: #{buildOnColor(color-palette.$orange-700)};
    --mb-color-on-orange-800: #{buildOnColor(color-palette.$orange-800)};
    --mb-color-on-orange-900: #{buildOnColor(color-palette.$orange-900)};
    --mb-color-on-orange-a100: #{buildOnColor(color-palette.$orange-a100)};
    --mb-color-on-orange-a200: #{buildOnColor(color-palette.$orange-a200)};
    --mb-color-on-orange-a400: #{buildOnColor(color-palette.$orange-a400)};
    --mb-color-on-orange-a700: #{buildOnColor(color-palette.$orange-a700)};
    --mb-color-on-deep-orange-50: #{buildOnColor(color-palette.$deep-orange-50)};
    --mb-color-on-deep-orange-100: #{buildOnColor(color-palette.$deep-orange-100)};
    --mb-color-on-deep-orange-200: #{buildOnColor(color-palette.$deep-orange-200)};
    --mb-color-on-deep-orange-300: #{buildOnColor(color-palette.$deep-orange-300)};
    --mb-color-on-deep-orange-400: #{buildOnColor(color-palette.$deep-orange-400)};
    --mb-color-on-deep-orange-500: #{buildOnColor(color-palette.$deep-orange-500)};
    --mb-color-on-deep-orange-600: #{buildOnColor(color-palette.$deep-orange-600)};
    --mb-color-on-deep-orange-700: #{buildOnColor(color-palette.$deep-orange-700)};
    --mb-color-on-deep-orange-800: #{buildOnColor(color-palette.$deep-orange-800)};
    --mb-color-on-deep-orange-900: #{buildOnColor(color-palette.$deep-orange-900)};
    --mb-color-on-deep-orange-a100: #{buildOnColor(color-palette.$deep-orange-a100)};
    --mb-color-on-deep-orange-a200: #{buildOnColor(color-palette.$deep-orange-a200)};
    --mb-color-on-deep-orange-a400: #{buildOnColor(color-palette.$deep-orange-a400)};
    --mb-color-on-deep-orange-a700: #{buildOnColor(color-palette.$deep-orange-a700)};
    --mb-color-on-brown-50: #{buildOnColor(color-palette.$brown-50)};
    --mb-color-on-brown-100: #{buildOnColor(color-palette.$brown-100)};
    --mb-color-on-brown-200: #{buildOnColor(color-palette.$brown-200)};
    --mb-color-on-brown-300: #{buildOnColor(color-palette.$brown-300)};
    --mb-color-on-brown-400: #{buildOnColor(color-palette.$brown-400)};
    --mb-color-on-brown-500: #{buildOnColor(color-palette.$brown-500)};
    --mb-color-on-brown-600: #{buildOnColor(color-palette.$brown-600)};
    --mb-color-on-brown-700: #{buildOnColor(color-palette.$brown-700)};
    --mb-color-on-brown-800: #{buildOnColor(color-palette.$brown-800)};
    --mb-color-on-brown-900: #{buildOnColor(color-palette.$brown-900)};
    --mb-color-on-grey-50: #{buildOnColor(color-palette.$grey-50)};
    --mb-color-on-grey-100: #{buildOnColor(color-palette.$grey-100)};
    --mb-color-on-grey-200: #{buildOnColor(color-palette.$grey-200)};
    --mb-color-on-grey-300: #{buildOnColor(color-palette.$grey-300)};
    --mb-color-on-grey-400: #{buildOnColor(color-palette.$grey-400)};
    --mb-color-on-grey-500: #{buildOnColor(color-palette.$grey-500)};
    --mb-color-on-grey-600: #{buildOnColor(color-palette.$grey-600)};
    --mb-color-on-grey-700: #{buildOnColor(color-palette.$grey-700)};
    --mb-color-on-grey-800: #{buildOnColor(color-palette.$grey-800)};
    --mb-color-on-grey-900: #{buildOnColor(color-palette.$grey-900)};
    --mb-color-on-blue-grey-50: #{buildOnColor(color-palette.$blue-grey-50)};
    --mb-color-on-blue-grey-100: #{buildOnColor(color-palette.$blue-grey-100)};
    --mb-color-on-blue-grey-200: #{buildOnColor(color-palette.$blue-grey-200)};
    --mb-color-on-blue-grey-300: #{buildOnColor(color-palette.$blue-grey-300)};
    --mb-color-on-blue-grey-400: #{buildOnColor(color-palette.$blue-grey-400)};
    --mb-color-on-blue-grey-500: #{buildOnColor(color-palette.$blue-grey-500)};
    --mb-color-on-blue-grey-600: #{buildOnColor(color-palette.$blue-grey-600)};
    --mb-color-on-blue-grey-700: #{buildOnColor(color-palette.$blue-grey-700)};
    --mb-color-on-blue-grey-800: #{buildOnColor(color-palette.$blue-grey-800)};
    --mb-color-on-blue-grey-900: #{buildOnColor(color-palette.$blue-grey-900)};
    --mb-color-red-50-rgb: #{hexToRGB(color-palette.$red-50)};
    --mb-color-red-100-rgb: #{hexToRGB(color-palette.$red-100)};
    --mb-color-red-200-rgb: #{hexToRGB(color-palette.$red-200)};
    --mb-color-red-300-rgb: #{hexToRGB(color-palette.$red-300)};
    --mb-color-red-400-rgb: #{hexToRGB(color-palette.$red-400)};
    --mb-color-red-500-rgb: #{hexToRGB(color-palette.$red-500)};
    --mb-color-red-600-rgb: #{hexToRGB(color-palette.$red-600)};
    --mb-color-red-700-rgb: #{hexToRGB(color-palette.$red-700)};
    --mb-color-red-800-rgb: #{hexToRGB(color-palette.$red-800)};
    --mb-color-red-900-rgb: #{hexToRGB(color-palette.$red-900)};
    --mb-color-red-a100-rgb: #{hexToRGB(color-palette.$red-a100)};
    --mb-color-red-a200-rgb: #{hexToRGB(color-palette.$red-a200)};
    --mb-color-red-a400-rgb: #{hexToRGB(color-palette.$red-a400)};
    --mb-color-red-a700-rgb: #{hexToRGB(color-palette.$red-a700)};
    --mb-color-pink-50-rgb: #{hexToRGB(color-palette.$pink-50)};
    --mb-color-pink-100-rgb: #{hexToRGB(color-palette.$pink-100)};
    --mb-color-pink-200-rgb: #{hexToRGB(color-palette.$pink-200)};
    --mb-color-pink-300-rgb: #{hexToRGB(color-palette.$pink-300)};
    --mb-color-pink-400-rgb: #{hexToRGB(color-palette.$pink-400)};
    --mb-color-pink-500-rgb: #{hexToRGB(color-palette.$pink-500)};
    --mb-color-pink-600-rgb: #{hexToRGB(color-palette.$pink-600)};
    --mb-color-pink-700-rgb: #{hexToRGB(color-palette.$pink-700)};
    --mb-color-pink-800-rgb: #{hexToRGB(color-palette.$pink-800)};
    --mb-color-pink-900-rgb: #{hexToRGB(color-palette.$pink-900)};
    --mb-color-pink-a100-rgb: #{hexToRGB(color-palette.$pink-a100)};
    --mb-color-pink-a200-rgb: #{hexToRGB(color-palette.$pink-a200)};
    --mb-color-pink-a400-rgb: #{hexToRGB(color-palette.$pink-a400)};
    --mb-color-pink-a700-rgb: #{hexToRGB(color-palette.$pink-a700)};
    --mb-color-purple-50-rgb: #{hexToRGB(color-palette.$purple-50)};
    --mb-color-purple-100-rgb: #{hexToRGB(color-palette.$purple-100)};
    --mb-color-purple-200-rgb: #{hexToRGB(color-palette.$purple-200)};
    --mb-color-purple-300-rgb: #{hexToRGB(color-palette.$purple-300)};
    --mb-color-purple-400-rgb: #{hexToRGB(color-palette.$purple-400)};
    --mb-color-purple-500-rgb: #{hexToRGB(color-palette.$purple-500)};
    --mb-color-purple-600-rgb: #{hexToRGB(color-palette.$purple-600)};
    --mb-color-purple-700-rgb: #{hexToRGB(color-palette.$purple-700)};
    --mb-color-purple-800-rgb: #{hexToRGB(color-palette.$purple-800)};
    --mb-color-purple-900-rgb: #{hexToRGB(color-palette.$purple-900)};
    --mb-color-purple-a100-rgb: #{hexToRGB(color-palette.$purple-a100)};
    --mb-color-purple-a200-rgb: #{hexToRGB(color-palette.$purple-a200)};
    --mb-color-purple-a400-rgb: #{hexToRGB(color-palette.$purple-a400)};
    --mb-color-purple-a700-rgb: #{hexToRGB(color-palette.$purple-a700)};
    --mb-color-deep-purple-50-rgb: #{hexToRGB(color-palette.$deep-purple-50)};
    --mb-color-deep-purple-100-rgb: #{hexToRGB(color-palette.$deep-purple-100)};
    --mb-color-deep-purple-200-rgb: #{hexToRGB(color-palette.$deep-purple-200)};
    --mb-color-deep-purple-300-rgb: #{hexToRGB(color-palette.$deep-purple-300)};
    --mb-color-deep-purple-400-rgb: #{hexToRGB(color-palette.$deep-purple-400)};
    --mb-color-deep-purple-500-rgb: #{hexToRGB(color-palette.$deep-purple-500)};
    --mb-color-deep-purple-600-rgb: #{hexToRGB(color-palette.$deep-purple-600)};
    --mb-color-deep-purple-700-rgb: #{hexToRGB(color-palette.$deep-purple-700)};
    --mb-color-deep-purple-800-rgb: #{hexToRGB(color-palette.$deep-purple-800)};
    --mb-color-deep-purple-900-rgb: #{hexToRGB(color-palette.$deep-purple-900)};
    --mb-color-deep-purple-a100-rgb: #{hexToRGB(color-palette.$deep-purple-a100)};
    --mb-color-deep-purple-a200-rgb: #{hexToRGB(color-palette.$deep-purple-a200)};
    --mb-color-deep-purple-a400-rgb: #{hexToRGB(color-palette.$deep-purple-a400)};
    --mb-color-deep-purple-a700-rgb: #{hexToRGB(color-palette.$deep-purple-a700)};
    --mb-color-indigo-50-rgb: #{hexToRGB(color-palette.$indigo-50)};
    --mb-color-indigo-100-rgb: #{hexToRGB(color-palette.$indigo-100)};
    --mb-color-indigo-200-rgb: #{hexToRGB(color-palette.$indigo-200)};
    --mb-color-indigo-300-rgb: #{hexToRGB(color-palette.$indigo-300)};
    --mb-color-indigo-400-rgb: #{hexToRGB(color-palette.$indigo-400)};
    --mb-color-indigo-500-rgb: #{hexToRGB(color-palette.$indigo-500)};
    --mb-color-indigo-600-rgb: #{hexToRGB(color-palette.$indigo-600)};
    --mb-color-indigo-700-rgb: #{hexToRGB(color-palette.$indigo-700)};
    --mb-color-indigo-800-rgb: #{hexToRGB(color-palette.$indigo-800)};
    --mb-color-indigo-900-rgb: #{hexToRGB(color-palette.$indigo-900)};
    --mb-color-indigo-a100-rgb: #{hexToRGB(color-palette.$indigo-a100)};
    --mb-color-indigo-a200-rgb: #{hexToRGB(color-palette.$indigo-a200)};
    --mb-color-indigo-a400-rgb: #{hexToRGB(color-palette.$indigo-a400)};
    --mb-color-indigo-a700-rgb: #{hexToRGB(color-palette.$indigo-a700)};
    --mb-color-blue-50-rgb: #{hexToRGB(color-palette.$blue-50)};
    --mb-color-blue-100-rgb: #{hexToRGB(color-palette.$blue-100)};
    --mb-color-blue-200-rgb: #{hexToRGB(color-palette.$blue-200)};
    --mb-color-blue-300-rgb: #{hexToRGB(color-palette.$blue-300)};
    --mb-color-blue-400-rgb: #{hexToRGB(color-palette.$blue-400)};
    --mb-color-blue-500-rgb: #{hexToRGB(color-palette.$blue-500)};
    --mb-color-blue-600-rgb: #{hexToRGB(color-palette.$blue-600)};
    --mb-color-blue-700-rgb: #{hexToRGB(color-palette.$blue-700)};
    --mb-color-blue-800-rgb: #{hexToRGB(color-palette.$blue-800)};
    --mb-color-blue-900-rgb: #{hexToRGB(color-palette.$blue-900)};
    --mb-color-blue-a100-rgb: #{hexToRGB(color-palette.$blue-a100)};
    --mb-color-blue-a200-rgb: #{hexToRGB(color-palette.$blue-a200)};
    --mb-color-blue-a400-rgb: #{hexToRGB(color-palette.$blue-a400)};
    --mb-color-blue-a700-rgb: #{hexToRGB(color-palette.$blue-a700)};
    --mb-color-light-blue-50-rgb: #{hexToRGB(color-palette.$light-blue-50)};
    --mb-color-light-blue-100-rgb: #{hexToRGB(color-palette.$light-blue-100)};
    --mb-color-light-blue-200-rgb: #{hexToRGB(color-palette.$light-blue-200)};
    --mb-color-light-blue-300-rgb: #{hexToRGB(color-palette.$light-blue-300)};
    --mb-color-light-blue-400-rgb: #{hexToRGB(color-palette.$light-blue-400)};
    --mb-color-light-blue-500-rgb: #{hexToRGB(color-palette.$light-blue-500)};
    --mb-color-light-blue-600-rgb: #{hexToRGB(color-palette.$light-blue-600)};
    --mb-color-light-blue-700-rgb: #{hexToRGB(color-palette.$light-blue-700)};
    --mb-color-light-blue-800-rgb: #{hexToRGB(color-palette.$light-blue-800)};
    --mb-color-light-blue-900-rgb: #{hexToRGB(color-palette.$light-blue-900)};
    --mb-color-light-blue-a100-rgb: #{hexToRGB(color-palette.$light-blue-a100)};
    --mb-color-light-blue-a200-rgb: #{hexToRGB(color-palette.$light-blue-a200)};
    --mb-color-light-blue-a400-rgb: #{hexToRGB(color-palette.$light-blue-a400)};
    --mb-color-light-blue-a700-rgb: #{hexToRGB(color-palette.$light-blue-a700)};
    --mb-color-cyan-50-rgb: #{hexToRGB(color-palette.$cyan-50)};
    --mb-color-cyan-100-rgb: #{hexToRGB(color-palette.$cyan-100)};
    --mb-color-cyan-200-rgb: #{hexToRGB(color-palette.$cyan-200)};
    --mb-color-cyan-300-rgb: #{hexToRGB(color-palette.$cyan-300)};
    --mb-color-cyan-400-rgb: #{hexToRGB(color-palette.$cyan-400)};
    --mb-color-cyan-500-rgb: #{hexToRGB(color-palette.$cyan-500)};
    --mb-color-cyan-600-rgb: #{hexToRGB(color-palette.$cyan-600)};
    --mb-color-cyan-700-rgb: #{hexToRGB(color-palette.$cyan-700)};
    --mb-color-cyan-800-rgb: #{hexToRGB(color-palette.$cyan-800)};
    --mb-color-cyan-900-rgb: #{hexToRGB(color-palette.$cyan-900)};
    --mb-color-cyan-a100-rgb: #{hexToRGB(color-palette.$cyan-a100)};
    --mb-color-cyan-a200-rgb: #{hexToRGB(color-palette.$cyan-a200)};
    --mb-color-cyan-a400-rgb: #{hexToRGB(color-palette.$cyan-a400)};
    --mb-color-cyan-a700-rgb: #{hexToRGB(color-palette.$cyan-a700)};
    --mb-color-teal-50-rgb: #{hexToRGB(color-palette.$teal-50)};
    --mb-color-teal-100-rgb: #{hexToRGB(color-palette.$teal-100)};
    --mb-color-teal-200-rgb: #{hexToRGB(color-palette.$teal-200)};
    --mb-color-teal-300-rgb: #{hexToRGB(color-palette.$teal-300)};
    --mb-color-teal-400-rgb: #{hexToRGB(color-palette.$teal-400)};
    --mb-color-teal-500-rgb: #{hexToRGB(color-palette.$teal-500)};
    --mb-color-teal-600-rgb: #{hexToRGB(color-palette.$teal-600)};
    --mb-color-teal-700-rgb: #{hexToRGB(color-palette.$teal-700)};
    --mb-color-teal-800-rgb: #{hexToRGB(color-palette.$teal-800)};
    --mb-color-teal-900-rgb: #{hexToRGB(color-palette.$teal-900)};
    --mb-color-teal-a100-rgb: #{hexToRGB(color-palette.$teal-a100)};
    --mb-color-teal-a200-rgb: #{hexToRGB(color-palette.$teal-a200)};
    --mb-color-teal-a400-rgb: #{hexToRGB(color-palette.$teal-a400)};
    --mb-color-teal-a700-rgb: #{hexToRGB(color-palette.$teal-a700)};
    --mb-color-green-50-rgb: #{hexToRGB(color-palette.$green-50)};
    --mb-color-green-100-rgb: #{hexToRGB(color-palette.$green-100)};
    --mb-color-green-200-rgb: #{hexToRGB(color-palette.$green-200)};
    --mb-color-green-300-rgb: #{hexToRGB(color-palette.$green-300)};
    --mb-color-green-400-rgb: #{hexToRGB(color-palette.$green-400)};
    --mb-color-green-500-rgb: #{hexToRGB(color-palette.$green-500)};
    --mb-color-green-600-rgb: #{hexToRGB(color-palette.$green-600)};
    --mb-color-green-700-rgb: #{hexToRGB(color-palette.$green-700)};
    --mb-color-green-800-rgb: #{hexToRGB(color-palette.$green-800)};
    --mb-color-green-900-rgb: #{hexToRGB(color-palette.$green-900)};
    --mb-color-green-a100-rgb: #{hexToRGB(color-palette.$green-a100)};
    --mb-color-green-a200-rgb: #{hexToRGB(color-palette.$green-a200)};
    --mb-color-green-a400-rgb: #{hexToRGB(color-palette.$green-a400)};
    --mb-color-green-a700-rgb: #{hexToRGB(color-palette.$green-a700)};
    --mb-color-light-green-50-rgb: #{hexToRGB(color-palette.$light-green-50)};
    --mb-color-light-green-100-rgb: #{hexToRGB(color-palette.$light-green-100)};
    --mb-color-light-green-200-rgb: #{hexToRGB(color-palette.$light-green-200)};
    --mb-color-light-green-300-rgb: #{hexToRGB(color-palette.$light-green-300)};
    --mb-color-light-green-400-rgb: #{hexToRGB(color-palette.$light-green-400)};
    --mb-color-light-green-500-rgb: #{hexToRGB(color-palette.$light-green-500)};
    --mb-color-light-green-600-rgb: #{hexToRGB(color-palette.$light-green-600)};
    --mb-color-light-green-700-rgb: #{hexToRGB(color-palette.$light-green-700)};
    --mb-color-light-green-800-rgb: #{hexToRGB(color-palette.$light-green-800)};
    --mb-color-light-green-900-rgb: #{hexToRGB(color-palette.$light-green-900)};
    --mb-color-light-green-a100-rgb: #{hexToRGB(color-palette.$light-green-a100)};
    --mb-color-light-green-a200-rgb: #{hexToRGB(color-palette.$light-green-a200)};
    --mb-color-light-green-a400-rgb: #{hexToRGB(color-palette.$light-green-a400)};
    --mb-color-light-green-a700-rgb: #{hexToRGB(color-palette.$light-green-a700)};
    --mb-color-lime-50-rgb: #{hexToRGB(color-palette.$lime-50)};
    --mb-color-lime-100-rgb: #{hexToRGB(color-palette.$lime-100)};
    --mb-color-lime-200-rgb: #{hexToRGB(color-palette.$lime-200)};
    --mb-color-lime-300-rgb: #{hexToRGB(color-palette.$lime-300)};
    --mb-color-lime-400-rgb: #{hexToRGB(color-palette.$lime-400)};
    --mb-color-lime-500-rgb: #{hexToRGB(color-palette.$lime-500)};
    --mb-color-lime-600-rgb: #{hexToRGB(color-palette.$lime-600)};
    --mb-color-lime-700-rgb: #{hexToRGB(color-palette.$lime-700)};
    --mb-color-lime-800-rgb: #{hexToRGB(color-palette.$lime-800)};
    --mb-color-lime-900-rgb: #{hexToRGB(color-palette.$lime-900)};
    --mb-color-lime-a100-rgb: #{hexToRGB(color-palette.$lime-a100)};
    --mb-color-lime-a200-rgb: #{hexToRGB(color-palette.$lime-a200)};
    --mb-color-lime-a400-rgb: #{hexToRGB(color-palette.$lime-a400)};
    --mb-color-lime-a700-rgb: #{hexToRGB(color-palette.$lime-a700)};
    --mb-color-yellow-50-rgb: #{hexToRGB(color-palette.$yellow-50)};
    --mb-color-yellow-100-rgb: #{hexToRGB(color-palette.$yellow-100)};
    --mb-color-yellow-200-rgb: #{hexToRGB(color-palette.$yellow-200)};
    --mb-color-yellow-300-rgb: #{hexToRGB(color-palette.$yellow-300)};
    --mb-color-yellow-400-rgb: #{hexToRGB(color-palette.$yellow-400)};
    --mb-color-yellow-500-rgb: #{hexToRGB(color-palette.$yellow-500)};
    --mb-color-yellow-600-rgb: #{hexToRGB(color-palette.$yellow-600)};
    --mb-color-yellow-700-rgb: #{hexToRGB(color-palette.$yellow-700)};
    --mb-color-yellow-800-rgb: #{hexToRGB(color-palette.$yellow-800)};
    --mb-color-yellow-900-rgb: #{hexToRGB(color-palette.$yellow-900)};
    --mb-color-yellow-a100-rgb: #{hexToRGB(color-palette.$yellow-a100)};
    --mb-color-yellow-a200-rgb: #{hexToRGB(color-palette.$yellow-a200)};
    --mb-color-yellow-a400-rgb: #{hexToRGB(color-palette.$yellow-a400)};
    --mb-color-yellow-a700-rgb: #{hexToRGB(color-palette.$yellow-a700)};
    --mb-color-amber-50-rgb: #{hexToRGB(color-palette.$amber-50)};
    --mb-color-amber-100-rgb: #{hexToRGB(color-palette.$amber-100)};
    --mb-color-amber-200-rgb: #{hexToRGB(color-palette.$amber-200)};
    --mb-color-amber-300-rgb: #{hexToRGB(color-palette.$amber-300)};
    --mb-color-amber-400-rgb: #{hexToRGB(color-palette.$amber-400)};
    --mb-color-amber-500-rgb: #{hexToRGB(color-palette.$amber-500)};
    --mb-color-amber-600-rgb: #{hexToRGB(color-palette.$amber-600)};
    --mb-color-amber-700-rgb: #{hexToRGB(color-palette.$amber-700)};
    --mb-color-amber-800-rgb: #{hexToRGB(color-palette.$amber-800)};
    --mb-color-amber-900-rgb: #{hexToRGB(color-palette.$amber-900)};
    --mb-color-amber-a100-rgb: #{hexToRGB(color-palette.$amber-a100)};
    --mb-color-amber-a200-rgb: #{hexToRGB(color-palette.$amber-a200)};
    --mb-color-amber-a400-rgb: #{hexToRGB(color-palette.$amber-a400)};
    --mb-color-amber-a700-rgb: #{hexToRGB(color-palette.$amber-a700)};
    --mb-color-orange-50-rgb: #{hexToRGB(color-palette.$orange-50)};
    --mb-color-orange-100-rgb: #{hexToRGB(color-palette.$orange-100)};
    --mb-color-orange-200-rgb: #{hexToRGB(color-palette.$orange-200)};
    --mb-color-orange-300-rgb: #{hexToRGB(color-palette.$orange-300)};
    --mb-color-orange-400-rgb: #{hexToRGB(color-palette.$orange-400)};
    --mb-color-orange-500-rgb: #{hexToRGB(color-palette.$orange-500)};
    --mb-color-orange-600-rgb: #{hexToRGB(color-palette.$orange-600)};
    --mb-color-orange-700-rgb: #{hexToRGB(color-palette.$orange-700)};
    --mb-color-orange-800-rgb: #{hexToRGB(color-palette.$orange-800)};
    --mb-color-orange-900-rgb: #{hexToRGB(color-palette.$orange-900)};
    --mb-color-orange-a100-rgb: #{hexToRGB(color-palette.$orange-a100)};
    --mb-color-orange-a200-rgb: #{hexToRGB(color-palette.$orange-a200)};
    --mb-color-orange-a400-rgb: #{hexToRGB(color-palette.$orange-a400)};
    --mb-color-orange-a700-rgb: #{hexToRGB(color-palette.$orange-a700)};
    --mb-color-deep-orange-50-rgb: #{hexToRGB(color-palette.$deep-orange-50)};
    --mb-color-deep-orange-100-rgb: #{hexToRGB(color-palette.$deep-orange-100)};
    --mb-color-deep-orange-200-rgb: #{hexToRGB(color-palette.$deep-orange-200)};
    --mb-color-deep-orange-300-rgb: #{hexToRGB(color-palette.$deep-orange-300)};
    --mb-color-deep-orange-400-rgb: #{hexToRGB(color-palette.$deep-orange-400)};
    --mb-color-deep-orange-500-rgb: #{hexToRGB(color-palette.$deep-orange-500)};
    --mb-color-deep-orange-600-rgb: #{hexToRGB(color-palette.$deep-orange-600)};
    --mb-color-deep-orange-700-rgb: #{hexToRGB(color-palette.$deep-orange-700)};
    --mb-color-deep-orange-800-rgb: #{hexToRGB(color-palette.$deep-orange-800)};
    --mb-color-deep-orange-900-rgb: #{hexToRGB(color-palette.$deep-orange-900)};
    --mb-color-deep-orange-a100-rgb: #{hexToRGB(color-palette.$deep-orange-a100)};
    --mb-color-deep-orange-a200-rgb: #{hexToRGB(color-palette.$deep-orange-a200)};
    --mb-color-deep-orange-a400-rgb: #{hexToRGB(color-palette.$deep-orange-a400)};
    --mb-color-deep-orange-a700-rgb: #{hexToRGB(color-palette.$deep-orange-a700)};
    --mb-color-brown-50-rgb: #{hexToRGB(color-palette.$brown-50)};
    --mb-color-brown-100-rgb: #{hexToRGB(color-palette.$brown-100)};
    --mb-color-brown-200-rgb: #{hexToRGB(color-palette.$brown-200)};
    --mb-color-brown-300-rgb: #{hexToRGB(color-palette.$brown-300)};
    --mb-color-brown-400-rgb: #{hexToRGB(color-palette.$brown-400)};
    --mb-color-brown-500-rgb: #{hexToRGB(color-palette.$brown-500)};
    --mb-color-brown-600-rgb: #{hexToRGB(color-palette.$brown-600)};
    --mb-color-brown-700-rgb: #{hexToRGB(color-palette.$brown-700)};
    --mb-color-brown-800-rgb: #{hexToRGB(color-palette.$brown-800)};
    --mb-color-brown-900-rgb: #{hexToRGB(color-palette.$brown-900)};
    --mb-color-grey-50-rgb: #{hexToRGB(color-palette.$grey-50)};
    --mb-color-grey-100-rgb: #{hexToRGB(color-palette.$grey-100)};
    --mb-color-grey-200-rgb: #{hexToRGB(color-palette.$grey-200)};
    --mb-color-grey-300-rgb: #{hexToRGB(color-palette.$grey-300)};
    --mb-color-grey-400-rgb: #{hexToRGB(color-palette.$grey-400)};
    --mb-color-grey-500-rgb: #{hexToRGB(color-palette.$grey-500)};
    --mb-color-grey-600-rgb: #{hexToRGB(color-palette.$grey-600)};
    --mb-color-grey-700-rgb: #{hexToRGB(color-palette.$grey-700)};
    --mb-color-grey-800-rgb: #{hexToRGB(color-palette.$grey-800)};
    --mb-color-grey-900-rgb: #{hexToRGB(color-palette.$grey-900)};
    --mb-color-blue-grey-50-rgb: #{hexToRGB(color-palette.$blue-grey-50)};
    --mb-color-blue-grey-100-rgb: #{hexToRGB(color-palette.$blue-grey-100)};
    --mb-color-blue-grey-200-rgb: #{hexToRGB(color-palette.$blue-grey-200)};
    --mb-color-blue-grey-300-rgb: #{hexToRGB(color-palette.$blue-grey-300)};
    --mb-color-blue-grey-400-rgb: #{hexToRGB(color-palette.$blue-grey-400)};
    --mb-color-blue-grey-500-rgb: #{hexToRGB(color-palette.$blue-grey-500)};
    --mb-color-blue-grey-600-rgb: #{hexToRGB(color-palette.$blue-grey-600)};
    --mb-color-blue-grey-700-rgb: #{hexToRGB(color-palette.$blue-grey-700)};
    --mb-color-blue-grey-800-rgb: #{hexToRGB(color-palette.$blue-grey-800)};
    --mb-color-blue-grey-900-rgb: #{hexToRGB(color-palette.$blue-grey-900)};
}