@charset "UTF-8";

@use "../workingwwwroot/material-components-icons.css";
/*@use "../workingwwwroot/font-awesome-icons.css";
@use "../workingwwwroot/open-iconic-icons.css";
*/

@use '_colors.scss';

@use '../Components/AutocompleteTextField/MBAutocompleteTextField.scss';
@use '../Components/BladeSet/MBBladeSet.scss';
@use '../Components/Button/MBButton.scss';
@use '../Components/Checkbox/MBCheckbox.scss';
@use '../Components/AnimatedNavigation/MBAnimatedNavigation.scss';
@use '../Components/Card/MBCard.scss';
@use '../Components/DataTable/MBDataTable.scss';
@use '../Components/DatePicker/MBDatePicker.scss';
@use '../Components/Dialog/MBDialog.scss';
@use '../Components/IconButton/MBIconButton.scss';
@use '../Components/Grid/MBGrid.scss';
@use '../Components/List/MBList.scss';
@use '../Components/Paginator/MBPaginator.scss';
@use '../Components/RadioButton/MBRadioButton.scss';
@use '../Components/RadioButtonGroup/MBRadioButtonGroup.scss';
@use '../Components/Shield/MBShield.scss';
@use '../Components/SlidingContent/MBSlidingContent.scss';
@use '../Components/Select/MBSelect.scss';
@use '../Components/Switch/MBSwitch.scss';
@use '../Components/TabBar/MBTabBar.scss';
@use '../Components/TextField/MBTextField.scss';
@use '../Components/Toast/MBToast.scss';
@use '../Components/TopAppBar/MBTopAppBar.scss';

@use 'sass:color';


:root {
    --mb-scroll-color: var(--mdc-theme-primary);
    --mb-scroll-track-color: rgba(0, 0, 0, 0);
    --mb-scrollbar-width: thin;
    --mb-scroll-webkit-margin-right: 4px;
    --mb-scroll-webkit-width: 8px;
    --mb-scroll-webkit-border-radius: 4px;
}


.mb-custom-scrollbars {
    scrollbar-width: var(--mb-scrollbar-width);
    scrollbar-color: var(--mb-scroll-color) var(--mb-scroll-track-color);

    /* Scrollbar width */
    ::-webkit-scrollbar {
        width: var(--mb-scroll-webkit-width);
        height: var(--mb-scroll-webkit-width);
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background-color: var(--mb-scroll-track-color);
        margin-right: var(--mb-scroll-webkit-margin-right);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--mb-scroll-color);
        border-radius: var(--mb-scroll-webkit-border-radius);
    }
}

.mb-custom-scrollbars * {
    scrollbar-width: inherit;
    scrollbar-color: inherit;
}


.mb-align-left {
    text-align: left;
}

.mb-align-center {
    text-align: center;
}

.mb-align-right {
    text-align: right;
}

.mb-full-width {
    width: 100%;
}