@charset "UTF-8";

@use '_colors.scss';
@use "_material-components-icons.scss";

@use '../Components/AutocompleteTextField/MBAutocompleteTextField.scss';
@use '../Components/Badge/MBBadge.scss';
@use '../Components/BladeSet/MBBladeSet.scss';
@use '../Components/Button/MBButton.scss';
@use '../Components/Checkbox/MBCheckbox.scss';
@use '../Components/Card/MBCard.scss';
@use '../Components/Carousel/MBCarousel.scss';
@use '../Components/DataTable/MBDataTable.scss';
@use '../Components/DatePicker/MBDatePicker.scss';
@use '../Components/Dialog/MBDialog.scss';
@use '../Components/IconButton/MBIconButton.scss';
@use '../Components/Grid/MBGrid.scss';
@use '../Components/List/MBList.scss';
@use '../Components/Paginator/MBPaginator.scss';
@use '../Components/RadioButton/MBRadioButton.scss';
@use '../Components/RadioButtonGroup/MBRadioButtonGroup.scss';
@use '../Components/Select/MBSelect.scss';
@use '../Components/Shield/MBShield.scss';
@use '../Components/SlidingContent/MBSlidingContent.scss';
@use '../Components/Snackbar/MBSnackbar.scss';
@use '../Components/TabBar/MBTabBar.scss';
@use '../Components/TextField/MBTextField.scss';
@use '../Components/Toast/MBToast.scss';
@use '../Components/TopAppBar/MBTopAppBar.scss';


.mb-align-left {
    text-align: left;
}

.mb-align-center {
    text-align: center;
}

.mb-align-right {
    text-align: right;
}

.mb-full-width {
    width: 100%;
}