@charset "UTF-8";

@use '_colors.scss';
@use '_material-icons.scss';
@use '_material-symbols-outlined.scss';
@use '_material-symbols-rounded.scss';
@use '_material-symbols-sharp.scss';

@use '../Components/AutocompletePagedField/MBAutocompletePagedField.scss';
@use '../Components/AutocompleteTextField/MBAutocompleteTextField.scss';
@use '../Components/Badge/MBBadge.scss';
@use '../Components/BladeSet/MBBladeSet.scss';
@use '../Components/Button/MBButton.scss';
@use '../Components/Checkbox/MBCheckbox.scss';
@use '../Components/Card/MBCard.scss';
@use '../Components/Carousel/MBCarousel.scss';
@use '../Components/DataTable/MBDataTable.scss';
@use '../Components/DatePicker/MBDatePicker.scss';
@use '../Components/Dialog/MBDialog.scss';
@use '../Components/DragAndDropList/MBDragAndDropList.scss';
@use '../Components/FileUpload/MBFileUpload.scss';
@use '../Components/IconButton/MBIconButton.scss';
@use '../Components/List/MBList.scss';
@use '../Components/Paginator/MBPaginator.scss';
@use '../Components/RadioButton/MBRadioButton.scss';
@use '../Components/RadioButtonGroup/MBRadioButtonGroup.scss';
@use '../Components/SegmentedButtonMulti/MBSegmentedButtonMulti.scss';
@use '../Components/Select/MBSelect.scss';
@use '../Components/Shield/MBShield.scss';
@use '../Components/SlidingContent/MBSlidingContent.scss';
@use '../Components/Snackbar/MBSnackbar.scss';
@use '../Components/Switch/MBSwitch.scss';
@use '../Components/TabBar/MBTabBar.scss';
@use '../Components/TextField/MBTextField.scss';
@use '../Components/Toast/MBToast.scss';
@use '../Components/TopAppBar/MBTopAppBar.scss';


.mb-align-left {
    text-align: left;
}

.mb-align-center {
    text-align: center;
}

.mb-align-right {
    text-align: right;
}

.mb-full-width {
    width: 100%;
}

[dir="rtl"] .mb-rtl-reversed-icon i {
    transform: scaleX(-1);
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}
