@namespace Material.Blazor.Internal
@inherits ComponentFoundation

<div class="mb-scheduler-div-appointment"
     draggable="true"
     @ondragstart="HandleDragStart"
     style="@styleString">

    <div style="padding: 4px; ">
        @SchedulerAppointment.Title
    </div>

</div>
