@charset "UTF-8";

.mb-scheduler-div-outer {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mb-scheduler-div-header {
    font-family: Arial;
    font-weight: bolder;
    padding: 0;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}

.mb-scheduler-div-body {
    font-family: Arial;
    background: lightblue;
    font-weight: normal;
    padding: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}

.mb-scheduler-div-column {
    font-family: Arial;
    background: lightblue;
    font-weight: normal;
    padding: 0;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}

.mb-scheduler-table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    flex-grow: 1;
    overflow: hidden;
    font-size: 1.0rem;
    table-layout: fixed;
    text-align: center;
    text-indent: unset;
    text-overflow: ellipsis;
    text-wrap: none;
    vertical-align: middle;
    width: 100%;
}

.mb-scheduler-colgroup {
    display: table-column-group;
}

.mb-scheduler-thead {
}

.mb-scheduler-tbody {
}

.mb-scheduler-tr {
}

.mb-scheduler-td {
    cursor: default;
    display: table-cell;
    flex: 0 0 auto;
    padding: 4px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    letter-spacing: initial;
}

.mb-scheduler-td-group {
    display: table-cell;
    color: black;
    border-bottom: 0px;
    border-left: 1px solid darkblue;
    border-right: 1px solid darkblue;
    border-top: 2px solid darkblue;
    font-size: x-large;
    font-weight: bolder;
    flex: 0 0 auto;
}

.mb-scheduler-header {
    background: lightgray;
    background-color: lightgray;
    color : black;
}

.mb-scheduler-color-row-even-normal {
    background-color: khaki;
    color: black;
}
.mb-scheduler-color-row-even-hidden {
    background-color: khaki;
    color: khaki;
}

.mb-scheduler-color-row-odd-normal {
    background-color: lemonchiffon;
    color: black;
}
.mb-scheduler-color-row-odd-hidden {
    background-color: lemonchiffon;
    color: lemonchiffon;
}

.mb-scheduler-div-appointment {
    cursor: grab;
}

.mb-scheduler-div-appointment:active {
    cursor: grabbing;
}

.mb-scheduler-div-appointment {
    cursor: grabbing;
}


