@namespace BlazorMdc.Demo

@page "/debouncedtextfield"

@inject IJSRuntime jsRuntime

<h1 class="mdc-typography--headline4">Debounced text field samples</h1>

<p>See <code>DebouncedTextFieldSample.razor</code> for sources.</p>

<BMdcPlus.RadioButtonGroup @bind-Value="@interval"
                      Items="intervals"
                      ItemValidation="@EItemValidation.DefaultToFirst" />

<p style="margin-top: 3rem;">Debounce Text</p>
<p><BMdcPlus.DebouncedTextField Label="Debounced Text" @bind-Value="@currentValue" TextInputStyle="ETextInputStyle.Outlined" LeadingIcon="account_balance_wallet" DebounceInterval="interval" /></p>

<ul style="margin-top: 2rem;">
    @foreach (var logEntry in log)
    {
        <li>@logEntry</li>
    }
</ul>

@code {
    private string _currentValue = "Starting Text";
    private string currentValue
    {
        get => _currentValue;
        set
        {
            _currentValue = value;
            log.Add(value);
        }
    }


    private int _interval = 300;
    private int interval
    {
        get => _interval;
        set
        {
            _interval = value;
            log.Clear();
        }
    }


    ListElement<int>[] intervals = new ListElement<int>[]
    {
        new ListElement<int> { SelectedValue = 300, Label = "300 ms" },
        new ListElement<int> { SelectedValue = 500, Label = "500 ms" },
        new ListElement<int> { SelectedValue = 1000, Label = "1,000 ms" }
    };


    private List<string> log = new List<string>();
}
