@namespace BlazorMdc.Demo

@page "/debouncedtextfield"

@inject IJSRuntime jsRuntime

<h1 class="mdc-typography--headline4">Debounced text field samples</h1>

<p>See <code>DebouncedTextFieldSample.razor</code> for sources.</p>

<MTRadioButtonGroup @bind-Value="@interval"
                    Items="intervals"
                    ItemValidation="@MTItemValidation.DefaultToFirst" />

<p style="margin-top: 3rem;">Debounce Text</p>
<p><MTDebouncedTextField Label="Debounced Text"
                         @bind-Value="@currentValue"
                         TextInputStyle="MTTextInputStyle.Outlined"
                         LeadingIcon="account_balance_wallet"
                         DebounceInterval="interval" /></p>

<ul style="margin-top: 2rem;">
    @foreach (var logEntry in log)
    {
        <li>@logEntry</li>
    }
</ul>

@code {
    private string _currentValue = "Starting Text";
    private string currentValue
    {
        get => _currentValue;
        set
        {
            _currentValue = value;
            log.Add(value);
        }
    }


    private int _interval = 300;
    private int interval
    {
        get => _interval;
        set
        {
            _interval = value;
            log.Clear();
        }
    }


    MTListElement<int>[] intervals = new MTListElement<int>[]
    {
        new MTListElement<int> { SelectedValue = 300, Label = "300 ms" },
        new MTListElement<int> { SelectedValue = 500, Label = "500 ms" },
        new MTListElement<int> { SelectedValue = 1000, Label = "1,000 ms" }
        };


    private List<string> log = new List<string>();
}
