$paginator-height: 48px;
$paginator-spacing: 18px;
$position-text-spacing: 6px;


.bmdc-paginator {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: left;
    box-sizing: content-box;
    height: $paginator-height;
    line-height: $paginator-height;
    font-weight: bold;
    user-select: none;
}


.bmdc-paginator__position-text {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 $position-text-spacing 0 $position-text-spacing;
    text-align: center;
}


.bmdc-paginator__position-text-hidden {
    height: 0;
    overflow: hidden;
}