@namespace Material.Blazor
@inherits ComponentFoundation


<header @ref="HeaderElem"
        @attributes="AttributesToSplat(SplatType.ExcludeEvents)"
        id="app-bar">

    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <MBIconButton @attributes="@AttributesToSplat(SplatType.EventsOnly)"
                          class="mdc-top-app-bar__action-item--unbounded"
                          Icon="@NavIcon"
                          IconFoundry="@IconFoundry" />

            <span class="mdc-top-app-bar__title">@Title</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" style="padding-right: 20px;">
            @if (ChildContent != null)
            {
                @ChildContent
            }
        </section>
    </div>
</header>