:root {
    --bmdc-select-width: 200px;
    --bmdc-select-scroll-width: 8px;
    --bmdc-select-scroll-border-radius: 4px;
    --bmdc-select-scroll-track-color: rgba(0, 0, 0, 0);
    --bmdc-select-scroll-color: var(--bmdc-color-bluegray-400);
    --bmdc-select-scroll-color__hover: var(--bmdc-color-bluegray-700);
}

.mdc-select--outlined .mdc-select__selected-text {
    display: block;
}

.bmdc-select-width {
    width: var(--bmdc-select-width);
}