@namespace BMdc
@inherits BMdcBase.ComponentBase


<li role="menuitem"
    @attributes="@AttributesToSplat()"
    @onclick="InternalClickHandler">

    @if (LeadingIcon != null)
    {
        <span class="mdc-list-item__graphic mdc-menu__selection-group-icon">
            <BMdcPlus.Icon IconName="@LeadingIcon" IconFoundry="@IconFoundry" />
        </span>
    }

    <span class="mdc-list-item__text">@Text</span>
</li>