@namespace BMdc
@inherits BBase.ComponentBase


<div @ref="ElementReference"
     @attributes="@AttributesToSplat()">

    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
        @ChildContent
    </ul>

</div>