@inherits LayoutComponentBase

<MdcDrawer @ref="@sidebar">
    <div class="mdc-list">
        <MdcNavLink Href="" Icon="home" Text="Home" Match=NavLinkMatch.All />
        <MdcNavLink Href="cascadingdefaults" Icon="web" Text="Cascading Defaults" />
        <MdcNavLink Href="autocomplete" Icon="keyboard" Text="Autocomplete" />
        <MdcNavLink Href="button" Icon="touch_app" Text="Button" />
        <MdcNavLink Href="card" Icon="dashboard" Text="Card" />
        <MdcNavLink Href="checkbox" Icon="check_box" Text="Checkbox" />
        <MdcNavLink Href="datepicker" Icon="date_range" Text="Date Picker" />
        <MdcNavLink Href="dialog" Icon="picture_in_picture" Text="Dialog" />
        <MdcNavLink Href="list" Icon="list" Text="List" />
        <MdcNavLink Href="menu" Icon="menu" Text="Menu" />
        <MdcNavLink Href="numericfield" Icon="money" Text="Numeric Field" />
        <MdcNavLink Href="progress" Icon="access_time" Text="Progress" />
        <MdcNavLink Href="radiobuttons" Icon="radio_button_checked" Text="Radio Buttons" />
        <MdcNavLink Href="select" Icon="arrow_drop_down" Text="Select" />
        <MdcNavLink Href="switch" Icon="toggle_on" Text="Switch" />
        <MdcNavLink Href="textarea" Icon="assignment" Text="Text Area" />
        <MdcNavLink Href="textfield" Icon="text_format" Text="Text Field" />
        <MdcNavLink Href="tabbar" Icon="tab" Text="Tab Bar" />
    </div>
</MdcDrawer>

<div class="mdc-drawer-app-content">
    <MdcTopAppBar Title="BlazorMdc - Material Theme components for Blazor" OnNavClicked="@(() => sidebar.Toggle())" NavIcon="menu" NavAriaLabel="Menu" ScrollTarget="#main-content" Type="short" CssClassExtra="mdc-top-app-bar--short-has-action-item">
        <div id="account-target">
            <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded" aria-label="Account">person</button>
        </div>
    </MdcTopAppBar>

    <main class="main-content" id="main-content">
        <div class="mdc-top-app-bar--fixed-adjust">
            <div class="mdc-card main-content-card">
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-12">
                            @Body
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@code {
    MdcDrawer sidebar;
}
