<div class="mdc-top-app-bar--dense-fixed-adjust" style="width: 333px;">
    <h3>BladeContent</h3>

    <p>Reference: '@BladeReference'</p>
</div>

@code {
    [Parameter] public string BladeReference { get; set; }
}
