.mb-grid-div-header {
    font-family: Arial;
    font-weight: bolder;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    align-items: stretch;
}

.mb-grid-div-body {
    font-family: Arial;
    background: lightblue;
    font-weight: normal;
    padding: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    text-align: left;
    box-sizing: border-box;
}

.mb-grid-table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    flex-grow: 1;
    overflow: hidden;
    font-size: 1.0rem;
    table-layout: fixed;
    text-align: left;
    text-indent: unset;
    text-overflow: ellipsis;
    text-wrap: none;
    vertical-align: middle;
    width: 100%;
}

.mb-grid-colgroup {
    display: table-column-group;
}

.mb-grid-thead {
}

.mb-grid-tbody {
}

.mb-grid-tr {
}

.mb-grid-td {
    cursor: default;
    display: table-cell;
    flex: 0 0 auto;
    padding: 4px;
    font-size: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    letter-spacing: initial;
}

.mb-grid-td-group {
    display: table-cell;
    color: black;
    border-bottom: 0px;
    border-left: 1px solid darkblue;
    border-right: 1px solid darkblue;
    border-top: 2px solid darkblue;
    font-size: x-large;
    font-weight: bolder;
    flex: 0 0 auto;
}

.mb-grid-backgroundcolor-header-background {
    background: lightgray;
    background-color: lightgray;
}

.mb-grid-backgroundcolor-row-even {
    background-color: khaki;
}

.mb-grid-backgroundcolor-row-odd {
    background-color: lemonchiffon;
}

.mb-grid-backgroundcolor-row-group {
    background-color: lightblue;
}

.mb-grid-backgroundcolor-row-selected {
    background-color: lightgreen;
}

.mb-grid-header-td-measure {
    font-family: Arial;
    font-weight: bolder;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    text-align: left;
    text-indent: unset;
    display: table-cell;
    flex: 0 0 auto;
    padding: 4px;
    font-size: inherit;
    text-overflow: unset;
    letter-spacing: initial;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    background: #d3d3d3;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    color: Black;
    background-color: LightGray;
}

.mb-grid-body-td-measure {
    font-family: Arial;
    font-weight: normal;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    text-align: left;
    text-indent: unset;
    display: table-cell;
    flex: 0 0 auto;
    padding: 4px;
    font-size: inherit;
    text-overflow: unset;
    letter-spacing: initial;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    background-color: khaki;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: black;
    color: #000000;
    cursor: default;
}
