.mb-radiobuttongroup__horizontal {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    align-items: flex-start;
}

.mb-radiobuttongroup__vertical {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: flex-start;
}
