@use '@material/theme';
@use '@material/theme/custom-properties';
@use '@material/theme/color-palette';
@use 'sass:string';

:root {
    --bmdc-text-color-light: white;
    --bmdc-text-color-dark: black;
    --bmdc-color-red-50: #{color-palette.$red-50};
    --bmdc-color-red-100: #{color-palette.$red-100};
    --bmdc-color-red-200: #{color-palette.$red-200};
    --bmdc-color-red-300: #{color-palette.$red-300};
    --bmdc-color-red-400: #{color-palette.$red-400};
    --bmdc-color-red-500: #{color-palette.$red-500};
    --bmdc-color-red-600: #{color-palette.$red-600};
    --bmdc-color-red-700: #{color-palette.$red-700};
    --bmdc-color-red-800: #{color-palette.$red-800};
    --bmdc-color-red-900: #{color-palette.$red-900};
    --bmdc-color-red-a100: #{color-palette.$red-a100};
    --bmdc-color-red-a200: #{color-palette.$red-a200};
    --bmdc-color-red-a400: #{color-palette.$red-a400};
    --bmdc-color-red-a700: #{color-palette.$red-a700};
    --bmdc-color-pink-50: #{color-palette.$pink-50};
    --bmdc-color-pink-100: #{color-palette.$pink-100};
    --bmdc-color-pink-200: #{color-palette.$pink-200};
    --bmdc-color-pink-300: #{color-palette.$pink-300};
    --bmdc-color-pink-400: #{color-palette.$pink-400};
    --bmdc-color-pink-500: #{color-palette.$pink-500};
    --bmdc-color-pink-600: #{color-palette.$pink-600};
    --bmdc-color-pink-700: #{color-palette.$pink-700};
    --bmdc-color-pink-800: #{color-palette.$pink-800};
    --bmdc-color-pink-900: #{color-palette.$pink-900};
    --bmdc-color-pink-a100: #{color-palette.$pink-a100};
    --bmdc-color-pink-a200: #{color-palette.$pink-a200};
    --bmdc-color-pink-a400: #{color-palette.$pink-a400};
    --bmdc-color-pink-a700: #{color-palette.$pink-a700};
    --bmdc-color-purple-50: #{color-palette.$purple-50};
    --bmdc-color-purple-100: #{color-palette.$purple-100};
    --bmdc-color-purple-200: #{color-palette.$purple-200};
    --bmdc-color-purple-300: #{color-palette.$purple-300};
    --bmdc-color-purple-400: #{color-palette.$purple-400};
    --bmdc-color-purple-500: #{color-palette.$purple-500};
    --bmdc-color-purple-600: #{color-palette.$purple-600};
    --bmdc-color-purple-700: #{color-palette.$purple-700};
    --bmdc-color-purple-800: #{color-palette.$purple-800};
    --bmdc-color-purple-900: #{color-palette.$purple-900};
    --bmdc-color-purple-a100: #{color-palette.$purple-a100};
    --bmdc-color-purple-a200: #{color-palette.$purple-a200};
    --bmdc-color-purple-a400: #{color-palette.$purple-a400};
    --bmdc-color-purple-a700: #{color-palette.$purple-a700};
    --bmdc-color-deep-purple-50: #{color-palette.$deep-purple-50};
    --bmdc-color-deep-purple-100: #{color-palette.$deep-purple-100};
    --bmdc-color-deep-purple-200: #{color-palette.$deep-purple-200};
    --bmdc-color-deep-purple-300: #{color-palette.$deep-purple-300};
    --bmdc-color-deep-purple-400: #{color-palette.$deep-purple-400};
    --bmdc-color-deep-purple-500: #{color-palette.$deep-purple-500};
    --bmdc-color-deep-purple-600: #{color-palette.$deep-purple-600};
    --bmdc-color-deep-purple-700: #{color-palette.$deep-purple-700};
    --bmdc-color-deep-purple-800: #{color-palette.$deep-purple-800};
    --bmdc-color-deep-purple-900: #{color-palette.$deep-purple-900};
    --bmdc-color-deep-purple-a100: #{color-palette.$deep-purple-a100};
    --bmdc-color-deep-purple-a200: #{color-palette.$deep-purple-a200};
    --bmdc-color-deep-purple-a400: #{color-palette.$deep-purple-a400};
    --bmdc-color-deep-purple-a700: #{color-palette.$deep-purple-a700};
    --bmdc-color-indigo-50: #{color-palette.$indigo-50};
    --bmdc-color-indigo-100: #{color-palette.$indigo-100};
    --bmdc-color-indigo-200: #{color-palette.$indigo-200};
    --bmdc-color-indigo-300: #{color-palette.$indigo-300};
    --bmdc-color-indigo-400: #{color-palette.$indigo-400};
    --bmdc-color-indigo-500: #{color-palette.$indigo-500};
    --bmdc-color-indigo-600: #{color-palette.$indigo-600};
    --bmdc-color-indigo-700: #{color-palette.$indigo-700};
    --bmdc-color-indigo-800: #{color-palette.$indigo-800};
    --bmdc-color-indigo-900: #{color-palette.$indigo-900};
    --bmdc-color-indigo-a100: #{color-palette.$indigo-a100};
    --bmdc-color-indigo-a200: #{color-palette.$indigo-a200};
    --bmdc-color-indigo-a400: #{color-palette.$indigo-a400};
    --bmdc-color-indigo-a700: #{color-palette.$indigo-a700};
    --bmdc-color-blue-50: #{color-palette.$blue-50};
    --bmdc-color-blue-100: #{color-palette.$blue-100};
    --bmdc-color-blue-200: #{color-palette.$blue-200};
    --bmdc-color-blue-300: #{color-palette.$blue-300};
    --bmdc-color-blue-400: #{color-palette.$blue-400};
    --bmdc-color-blue-500: #{color-palette.$blue-500};
    --bmdc-color-blue-600: #{color-palette.$blue-600};
    --bmdc-color-blue-700: #{color-palette.$blue-700};
    --bmdc-color-blue-800: #{color-palette.$blue-800};
    --bmdc-color-blue-900: #{color-palette.$blue-900};
    --bmdc-color-blue-a100: #{color-palette.$blue-a100};
    --bmdc-color-blue-a200: #{color-palette.$blue-a200};
    --bmdc-color-blue-a400: #{color-palette.$blue-a400};
    --bmdc-color-blue-a700: #{color-palette.$blue-a700};
    --bmdc-color-light-blue-50: #{color-palette.$light-blue-50};
    --bmdc-color-light-blue-100: #{color-palette.$light-blue-100};
    --bmdc-color-light-blue-200: #{color-palette.$light-blue-200};
    --bmdc-color-light-blue-300: #{color-palette.$light-blue-300};
    --bmdc-color-light-blue-400: #{color-palette.$light-blue-400};
    --bmdc-color-light-blue-500: #{color-palette.$light-blue-500};
    --bmdc-color-light-blue-600: #{color-palette.$light-blue-600};
    --bmdc-color-light-blue-700: #{color-palette.$light-blue-700};
    --bmdc-color-light-blue-800: #{color-palette.$light-blue-800};
    --bmdc-color-light-blue-900: #{color-palette.$light-blue-900};
    --bmdc-color-light-blue-a100: #{color-palette.$light-blue-a100};
    --bmdc-color-light-blue-a200: #{color-palette.$light-blue-a200};
    --bmdc-color-light-blue-a400: #{color-palette.$light-blue-a400};
    --bmdc-color-light-blue-a700: #{color-palette.$light-blue-a700};
    --bmdc-color-cyan-50: #{color-palette.$cyan-50};
    --bmdc-color-cyan-100: #{color-palette.$cyan-100};
    --bmdc-color-cyan-200: #{color-palette.$cyan-200};
    --bmdc-color-cyan-300: #{color-palette.$cyan-300};
    --bmdc-color-cyan-400: #{color-palette.$cyan-400};
    --bmdc-color-cyan-500: #{color-palette.$cyan-500};
    --bmdc-color-cyan-600: #{color-palette.$cyan-600};
    --bmdc-color-cyan-700: #{color-palette.$cyan-700};
    --bmdc-color-cyan-800: #{color-palette.$cyan-800};
    --bmdc-color-cyan-900: #{color-palette.$cyan-900};
    --bmdc-color-cyan-a100: #{color-palette.$cyan-a100};
    --bmdc-color-cyan-a200: #{color-palette.$cyan-a200};
    --bmdc-color-cyan-a400: #{color-palette.$cyan-a400};
    --bmdc-color-cyan-a700: #{color-palette.$cyan-a700};
    --bmdc-color-teal-50: #{color-palette.$teal-50};
    --bmdc-color-teal-100: #{color-palette.$teal-100};
    --bmdc-color-teal-200: #{color-palette.$teal-200};
    --bmdc-color-teal-300: #{color-palette.$teal-300};
    --bmdc-color-teal-400: #{color-palette.$teal-400};
    --bmdc-color-teal-500: #{color-palette.$teal-500};
    --bmdc-color-teal-600: #{color-palette.$teal-600};
    --bmdc-color-teal-700: #{color-palette.$teal-700};
    --bmdc-color-teal-800: #{color-palette.$teal-800};
    --bmdc-color-teal-900: #{color-palette.$teal-900};
    --bmdc-color-teal-a100: #{color-palette.$teal-a100};
    --bmdc-color-teal-a200: #{color-palette.$teal-a200};
    --bmdc-color-teal-a400: #{color-palette.$teal-a400};
    --bmdc-color-teal-a700: #{color-palette.$teal-a700};
    --bmdc-color-green-50: #{color-palette.$green-50};
    --bmdc-color-green-100: #{color-palette.$green-100};
    --bmdc-color-green-200: #{color-palette.$green-200};
    --bmdc-color-green-300: #{color-palette.$green-300};
    --bmdc-color-green-400: #{color-palette.$green-400};
    --bmdc-color-green-500: #{color-palette.$green-500};
    --bmdc-color-green-600: #{color-palette.$green-600};
    --bmdc-color-green-700: #{color-palette.$green-700};
    --bmdc-color-green-800: #{color-palette.$green-800};
    --bmdc-color-green-900: #{color-palette.$green-900};
    --bmdc-color-green-a100: #{color-palette.$green-a100};
    --bmdc-color-green-a200: #{color-palette.$green-a200};
    --bmdc-color-green-a400: #{color-palette.$green-a400};
    --bmdc-color-green-a700: #{color-palette.$green-a700};
    --bmdc-color-light-green-50: #{color-palette.$light-green-50};
    --bmdc-color-light-green-100: #{color-palette.$light-green-100};
    --bmdc-color-light-green-200: #{color-palette.$light-green-200};
    --bmdc-color-light-green-300: #{color-palette.$light-green-300};
    --bmdc-color-light-green-400: #{color-palette.$light-green-400};
    --bmdc-color-light-green-500: #{color-palette.$light-green-500};
    --bmdc-color-light-green-600: #{color-palette.$light-green-600};
    --bmdc-color-light-green-700: #{color-palette.$light-green-700};
    --bmdc-color-light-green-800: #{color-palette.$light-green-800};
    --bmdc-color-light-green-900: #{color-palette.$light-green-900};
    --bmdc-color-light-green-a100: #{color-palette.$light-green-a100};
    --bmdc-color-light-green-a200: #{color-palette.$light-green-a200};
    --bmdc-color-light-green-a400: #{color-palette.$light-green-a400};
    --bmdc-color-light-green-a700: #{color-palette.$light-green-a700};
    --bmdc-color-lime-50: #{color-palette.$lime-50};
    --bmdc-color-lime-100: #{color-palette.$lime-100};
    --bmdc-color-lime-200: #{color-palette.$lime-200};
    --bmdc-color-lime-300: #{color-palette.$lime-300};
    --bmdc-color-lime-400: #{color-palette.$lime-400};
    --bmdc-color-lime-500: #{color-palette.$lime-500};
    --bmdc-color-lime-600: #{color-palette.$lime-600};
    --bmdc-color-lime-700: #{color-palette.$lime-700};
    --bmdc-color-lime-800: #{color-palette.$lime-800};
    --bmdc-color-lime-900: #{color-palette.$lime-900};
    --bmdc-color-lime-a100: #{color-palette.$lime-a100};
    --bmdc-color-lime-a200: #{color-palette.$lime-a200};
    --bmdc-color-lime-a400: #{color-palette.$lime-a400};
    --bmdc-color-lime-a700: #{color-palette.$lime-a700};
    --bmdc-color-yellow-50: #{color-palette.$yellow-50};
    --bmdc-color-yellow-100: #{color-palette.$yellow-100};
    --bmdc-color-yellow-200: #{color-palette.$yellow-200};
    --bmdc-color-yellow-300: #{color-palette.$yellow-300};
    --bmdc-color-yellow-400: #{color-palette.$yellow-400};
    --bmdc-color-yellow-500: #{color-palette.$yellow-500};
    --bmdc-color-yellow-600: #{color-palette.$yellow-600};
    --bmdc-color-yellow-700: #{color-palette.$yellow-700};
    --bmdc-color-yellow-800: #{color-palette.$yellow-800};
    --bmdc-color-yellow-900: #{color-palette.$yellow-900};
    --bmdc-color-yellow-a100: #{color-palette.$yellow-a100};
    --bmdc-color-yellow-a200: #{color-palette.$yellow-a200};
    --bmdc-color-yellow-a400: #{color-palette.$yellow-a400};
    --bmdc-color-yellow-a700: #{color-palette.$yellow-a700};
    --bmdc-color-amber-50: #{color-palette.$amber-50};
    --bmdc-color-amber-100: #{color-palette.$amber-100};
    --bmdc-color-amber-200: #{color-palette.$amber-200};
    --bmdc-color-amber-300: #{color-palette.$amber-300};
    --bmdc-color-amber-400: #{color-palette.$amber-400};
    --bmdc-color-amber-500: #{color-palette.$amber-500};
    --bmdc-color-amber-600: #{color-palette.$amber-600};
    --bmdc-color-amber-700: #{color-palette.$amber-700};
    --bmdc-color-amber-800: #{color-palette.$amber-800};
    --bmdc-color-amber-900: #{color-palette.$amber-900};
    --bmdc-color-amber-a100: #{color-palette.$amber-a100};
    --bmdc-color-amber-a200: #{color-palette.$amber-a200};
    --bmdc-color-amber-a400: #{color-palette.$amber-a400};
    --bmdc-color-amber-a700: #{color-palette.$amber-a700};
    --bmdc-color-orange-50: #{color-palette.$orange-50};
    --bmdc-color-orange-100: #{color-palette.$orange-100};
    --bmdc-color-orange-200: #{color-palette.$orange-200};
    --bmdc-color-orange-300: #{color-palette.$orange-300};
    --bmdc-color-orange-400: #{color-palette.$orange-400};
    --bmdc-color-orange-500: #{color-palette.$orange-500};
    --bmdc-color-orange-600: #{color-palette.$orange-600};
    --bmdc-color-orange-700: #{color-palette.$orange-700};
    --bmdc-color-orange-800: #{color-palette.$orange-800};
    --bmdc-color-orange-900: #{color-palette.$orange-900};
    --bmdc-color-orange-a100: #{color-palette.$orange-a100};
    --bmdc-color-orange-a200: #{color-palette.$orange-a200};
    --bmdc-color-orange-a400: #{color-palette.$orange-a400};
    --bmdc-color-orange-a700: #{color-palette.$orange-a700};
    --bmdc-color-deep-orange-50: #{color-palette.$deep-orange-50};
    --bmdc-color-deep-orange-100: #{color-palette.$deep-orange-100};
    --bmdc-color-deep-orange-200: #{color-palette.$deep-orange-200};
    --bmdc-color-deep-orange-300: #{color-palette.$deep-orange-300};
    --bmdc-color-deep-orange-400: #{color-palette.$deep-orange-400};
    --bmdc-color-deep-orange-500: #{color-palette.$deep-orange-500};
    --bmdc-color-deep-orange-600: #{color-palette.$deep-orange-600};
    --bmdc-color-deep-orange-700: #{color-palette.$deep-orange-700};
    --bmdc-color-deep-orange-800: #{color-palette.$deep-orange-800};
    --bmdc-color-deep-orange-900: #{color-palette.$deep-orange-900};
    --bmdc-color-deep-orange-a100: #{color-palette.$deep-orange-a100};
    --bmdc-color-deep-orange-a200: #{color-palette.$deep-orange-a200};
    --bmdc-color-deep-orange-a400: #{color-palette.$deep-orange-a400};
    --bmdc-color-deep-orange-a700: #{color-palette.$deep-orange-a700};
    --bmdc-color-brown-50: #{color-palette.$brown-50};
    --bmdc-color-brown-100: #{color-palette.$brown-100};
    --bmdc-color-brown-200: #{color-palette.$brown-200};
    --bmdc-color-brown-300: #{color-palette.$brown-300};
    --bmdc-color-brown-400: #{color-palette.$brown-400};
    --bmdc-color-brown-500: #{color-palette.$brown-500};
    --bmdc-color-brown-600: #{color-palette.$brown-600};
    --bmdc-color-brown-700: #{color-palette.$brown-700};
    --bmdc-color-brown-800: #{color-palette.$brown-800};
    --bmdc-color-brown-900: #{color-palette.$brown-900};
    --bmdc-color-grey-50: #{color-palette.$grey-50};
    --bmdc-color-grey-100: #{color-palette.$grey-100};
    --bmdc-color-grey-200: #{color-palette.$grey-200};
    --bmdc-color-grey-300: #{color-palette.$grey-300};
    --bmdc-color-grey-400: #{color-palette.$grey-400};
    --bmdc-color-grey-500: #{color-palette.$grey-500};
    --bmdc-color-grey-600: #{color-palette.$grey-600};
    --bmdc-color-grey-700: #{color-palette.$grey-700};
    --bmdc-color-grey-800: #{color-palette.$grey-800};
    --bmdc-color-grey-900: #{color-palette.$grey-900};
    --bmdc-color-blue-grey-50: #{color-palette.$blue-grey-50};
    --bmdc-color-blue-grey-100: #{color-palette.$blue-grey-100};
    --bmdc-color-blue-grey-200: #{color-palette.$blue-grey-200};
    --bmdc-color-blue-grey-300: #{color-palette.$blue-grey-300};
    --bmdc-color-blue-grey-400: #{color-palette.$blue-grey-400};
    --bmdc-color-blue-grey-500: #{color-palette.$blue-grey-500};
    --bmdc-color-blue-grey-600: #{color-palette.$blue-grey-600};
    --bmdc-color-blue-grey-700: #{color-palette.$blue-grey-700};
    --bmdc-color-blue-grey-800: #{color-palette.$blue-grey-800};
    --bmdc-color-blue-grey-900: #{color-palette.$blue-grey-900};
    --bmdc-color-on-red-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-50) + ')'};
    --bmdc-color-on-red-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-100) + ')'};
    --bmdc-color-on-red-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-200) + ')'};
    --bmdc-color-on-red-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-300) + ')'};
    --bmdc-color-on-red-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-400) + ')'};
    --bmdc-color-on-red-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-500) + ')'};
    --bmdc-color-on-red-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-600) + ')'};
    --bmdc-color-on-red-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-700) + ')'};
    --bmdc-color-on-red-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-800) + ')'};
    --bmdc-color-on-red-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-900) + ')'};
    --bmdc-color-on-red-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-a100) + ')'};
    --bmdc-color-on-red-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-a200) + ')'};
    --bmdc-color-on-red-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-a400) + ')'};
    --bmdc-color-on-red-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$red-a700) + ')'};
    --bmdc-color-on-pink-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-50) + ')'};
    --bmdc-color-on-pink-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-100) + ')'};
    --bmdc-color-on-pink-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-200) + ')'};
    --bmdc-color-on-pink-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-300) + ')'};
    --bmdc-color-on-pink-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-400) + ')'};
    --bmdc-color-on-pink-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-500) + ')'};
    --bmdc-color-on-pink-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-600) + ')'};
    --bmdc-color-on-pink-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-700) + ')'};
    --bmdc-color-on-pink-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-800) + ')'};
    --bmdc-color-on-pink-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-900) + ')'};
    --bmdc-color-on-pink-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-a100) + ')'};
    --bmdc-color-on-pink-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-a200) + ')'};
    --bmdc-color-on-pink-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-a400) + ')'};
    --bmdc-color-on-pink-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$pink-a700) + ')'};
    --bmdc-color-on-purple-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-50) + ')'};
    --bmdc-color-on-purple-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-100) + ')'};
    --bmdc-color-on-purple-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-200) + ')'};
    --bmdc-color-on-purple-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-300) + ')'};
    --bmdc-color-on-purple-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-400) + ')'};
    --bmdc-color-on-purple-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-500) + ')'};
    --bmdc-color-on-purple-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-600) + ')'};
    --bmdc-color-on-purple-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-700) + ')'};
    --bmdc-color-on-purple-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-800) + ')'};
    --bmdc-color-on-purple-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-900) + ')'};
    --bmdc-color-on-purple-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-a100) + ')'};
    --bmdc-color-on-purple-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-a200) + ')'};
    --bmdc-color-on-purple-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-a400) + ')'};
    --bmdc-color-on-purple-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$purple-a700) + ')'};
    --bmdc-color-on-deep-purple-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-50) + ')'};
    --bmdc-color-on-deep-purple-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-100) + ')'};
    --bmdc-color-on-deep-purple-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-200) + ')'};
    --bmdc-color-on-deep-purple-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-300) + ')'};
    --bmdc-color-on-deep-purple-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-400) + ')'};
    --bmdc-color-on-deep-purple-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-500) + ')'};
    --bmdc-color-on-deep-purple-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-600) + ')'};
    --bmdc-color-on-deep-purple-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-700) + ')'};
    --bmdc-color-on-deep-purple-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-800) + ')'};
    --bmdc-color-on-deep-purple-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-900) + ')'};
    --bmdc-color-on-deep-purple-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-a100) + ')'};
    --bmdc-color-on-deep-purple-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-a200) + ')'};
    --bmdc-color-on-deep-purple-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-a400) + ')'};
    --bmdc-color-on-deep-purple-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-purple-a700) + ')'};
    --bmdc-color-on-indigo-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-50) + ')'};
    --bmdc-color-on-indigo-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-100) + ')'};
    --bmdc-color-on-indigo-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-200) + ')'};
    --bmdc-color-on-indigo-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-300) + ')'};
    --bmdc-color-on-indigo-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-400) + ')'};
    --bmdc-color-on-indigo-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-500) + ')'};
    --bmdc-color-on-indigo-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-600) + ')'};
    --bmdc-color-on-indigo-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-700) + ')'};
    --bmdc-color-on-indigo-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-800) + ')'};
    --bmdc-color-on-indigo-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-900) + ')'};
    --bmdc-color-on-indigo-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-a100) + ')'};
    --bmdc-color-on-indigo-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-a200) + ')'};
    --bmdc-color-on-indigo-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-a400) + ')'};
    --bmdc-color-on-indigo-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$indigo-a700) + ')'};
    --bmdc-color-on-blue-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-50) + ')'};
    --bmdc-color-on-blue-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-100) + ')'};
    --bmdc-color-on-blue-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-200) + ')'};
    --bmdc-color-on-blue-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-300) + ')'};
    --bmdc-color-on-blue-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-400) + ')'};
    --bmdc-color-on-blue-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-500) + ')'};
    --bmdc-color-on-blue-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-600) + ')'};
    --bmdc-color-on-blue-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-700) + ')'};
    --bmdc-color-on-blue-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-800) + ')'};
    --bmdc-color-on-blue-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-900) + ')'};
    --bmdc-color-on-blue-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-a100) + ')'};
    --bmdc-color-on-blue-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-a200) + ')'};
    --bmdc-color-on-blue-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-a400) + ')'};
    --bmdc-color-on-blue-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-a700) + ')'};
    --bmdc-color-on-light-blue-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-50) + ')'};
    --bmdc-color-on-light-blue-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-100) + ')'};
    --bmdc-color-on-light-blue-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-200) + ')'};
    --bmdc-color-on-light-blue-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-300) + ')'};
    --bmdc-color-on-light-blue-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-400) + ')'};
    --bmdc-color-on-light-blue-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-500) + ')'};
    --bmdc-color-on-light-blue-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-600) + ')'};
    --bmdc-color-on-light-blue-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-700) + ')'};
    --bmdc-color-on-light-blue-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-800) + ')'};
    --bmdc-color-on-light-blue-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-900) + ')'};
    --bmdc-color-on-light-blue-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-a100) + ')'};
    --bmdc-color-on-light-blue-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-a200) + ')'};
    --bmdc-color-on-light-blue-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-a400) + ')'};
    --bmdc-color-on-light-blue-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-blue-a700) + ')'};
    --bmdc-color-on-cyan-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-50) + ')'};
    --bmdc-color-on-cyan-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-100) + ')'};
    --bmdc-color-on-cyan-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-200) + ')'};
    --bmdc-color-on-cyan-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-300) + ')'};
    --bmdc-color-on-cyan-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-400) + ')'};
    --bmdc-color-on-cyan-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-500) + ')'};
    --bmdc-color-on-cyan-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-600) + ')'};
    --bmdc-color-on-cyan-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-700) + ')'};
    --bmdc-color-on-cyan-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-800) + ')'};
    --bmdc-color-on-cyan-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-900) + ')'};
    --bmdc-color-on-cyan-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-a100) + ')'};
    --bmdc-color-on-cyan-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-a200) + ')'};
    --bmdc-color-on-cyan-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-a400) + ')'};
    --bmdc-color-on-cyan-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$cyan-a700) + ')'};
    --bmdc-color-on-teal-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-50) + ')'};
    --bmdc-color-on-teal-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-100) + ')'};
    --bmdc-color-on-teal-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-200) + ')'};
    --bmdc-color-on-teal-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-300) + ')'};
    --bmdc-color-on-teal-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-400) + ')'};
    --bmdc-color-on-teal-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-500) + ')'};
    --bmdc-color-on-teal-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-600) + ')'};
    --bmdc-color-on-teal-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-700) + ')'};
    --bmdc-color-on-teal-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-800) + ')'};
    --bmdc-color-on-teal-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-900) + ')'};
    --bmdc-color-on-teal-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-a100) + ')'};
    --bmdc-color-on-teal-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-a200) + ')'};
    --bmdc-color-on-teal-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-a400) + ')'};
    --bmdc-color-on-teal-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$teal-a700) + ')'};
    --bmdc-color-on-green-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-50) + ')'};
    --bmdc-color-on-green-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-100) + ')'};
    --bmdc-color-on-green-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-200) + ')'};
    --bmdc-color-on-green-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-300) + ')'};
    --bmdc-color-on-green-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-400) + ')'};
    --bmdc-color-on-green-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-500) + ')'};
    --bmdc-color-on-green-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-600) + ')'};
    --bmdc-color-on-green-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-700) + ')'};
    --bmdc-color-on-green-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-800) + ')'};
    --bmdc-color-on-green-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-900) + ')'};
    --bmdc-color-on-green-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-a100) + ')'};
    --bmdc-color-on-green-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-a200) + ')'};
    --bmdc-color-on-green-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-a400) + ')'};
    --bmdc-color-on-green-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$green-a700) + ')'};
    --bmdc-color-on-light-green-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-50) + ')'};
    --bmdc-color-on-light-green-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-100) + ')'};
    --bmdc-color-on-light-green-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-200) + ')'};
    --bmdc-color-on-light-green-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-300) + ')'};
    --bmdc-color-on-light-green-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-400) + ')'};
    --bmdc-color-on-light-green-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-500) + ')'};
    --bmdc-color-on-light-green-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-600) + ')'};
    --bmdc-color-on-light-green-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-700) + ')'};
    --bmdc-color-on-light-green-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-800) + ')'};
    --bmdc-color-on-light-green-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-900) + ')'};
    --bmdc-color-on-light-green-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-a100) + ')'};
    --bmdc-color-on-light-green-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-a200) + ')'};
    --bmdc-color-on-light-green-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-a400) + ')'};
    --bmdc-color-on-light-green-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$light-green-a700) + ')'};
    --bmdc-color-on-lime-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-50) + ')'};
    --bmdc-color-on-lime-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-100) + ')'};
    --bmdc-color-on-lime-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-200) + ')'};
    --bmdc-color-on-lime-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-300) + ')'};
    --bmdc-color-on-lime-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-400) + ')'};
    --bmdc-color-on-lime-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-500) + ')'};
    --bmdc-color-on-lime-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-600) + ')'};
    --bmdc-color-on-lime-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-700) + ')'};
    --bmdc-color-on-lime-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-800) + ')'};
    --bmdc-color-on-lime-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-900) + ')'};
    --bmdc-color-on-lime-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-a100) + ')'};
    --bmdc-color-on-lime-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-a200) + ')'};
    --bmdc-color-on-lime-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-a400) + ')'};
    --bmdc-color-on-lime-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$lime-a700) + ')'};
    --bmdc-color-on-yellow-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-50) + ')'};
    --bmdc-color-on-yellow-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-100) + ')'};
    --bmdc-color-on-yellow-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-200) + ')'};
    --bmdc-color-on-yellow-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-300) + ')'};
    --bmdc-color-on-yellow-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-400) + ')'};
    --bmdc-color-on-yellow-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-500) + ')'};
    --bmdc-color-on-yellow-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-600) + ')'};
    --bmdc-color-on-yellow-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-700) + ')'};
    --bmdc-color-on-yellow-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-800) + ')'};
    --bmdc-color-on-yellow-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-900) + ')'};
    --bmdc-color-on-yellow-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-a100) + ')'};
    --bmdc-color-on-yellow-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-a200) + ')'};
    --bmdc-color-on-yellow-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-a400) + ')'};
    --bmdc-color-on-yellow-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$yellow-a700) + ')'};
    --bmdc-color-on-amber-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-50) + ')'};
    --bmdc-color-on-amber-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-100) + ')'};
    --bmdc-color-on-amber-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-200) + ')'};
    --bmdc-color-on-amber-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-300) + ')'};
    --bmdc-color-on-amber-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-400) + ')'};
    --bmdc-color-on-amber-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-500) + ')'};
    --bmdc-color-on-amber-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-600) + ')'};
    --bmdc-color-on-amber-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-700) + ')'};
    --bmdc-color-on-amber-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-800) + ')'};
    --bmdc-color-on-amber-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-900) + ')'};
    --bmdc-color-on-amber-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-a100) + ')'};
    --bmdc-color-on-amber-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-a200) + ')'};
    --bmdc-color-on-amber-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-a400) + ')'};
    --bmdc-color-on-amber-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$amber-a700) + ')'};
    --bmdc-color-on-orange-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-50) + ')'};
    --bmdc-color-on-orange-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-100) + ')'};
    --bmdc-color-on-orange-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-200) + ')'};
    --bmdc-color-on-orange-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-300) + ')'};
    --bmdc-color-on-orange-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-400) + ')'};
    --bmdc-color-on-orange-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-500) + ')'};
    --bmdc-color-on-orange-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-600) + ')'};
    --bmdc-color-on-orange-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-700) + ')'};
    --bmdc-color-on-orange-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-800) + ')'};
    --bmdc-color-on-orange-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-900) + ')'};
    --bmdc-color-on-orange-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-a100) + ')'};
    --bmdc-color-on-orange-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-a200) + ')'};
    --bmdc-color-on-orange-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-a400) + ')'};
    --bmdc-color-on-orange-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$orange-a700) + ')'};
    --bmdc-color-on-deep-orange-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-50) + ')'};
    --bmdc-color-on-deep-orange-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-100) + ')'};
    --bmdc-color-on-deep-orange-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-200) + ')'};
    --bmdc-color-on-deep-orange-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-300) + ')'};
    --bmdc-color-on-deep-orange-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-400) + ')'};
    --bmdc-color-on-deep-orange-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-500) + ')'};
    --bmdc-color-on-deep-orange-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-600) + ')'};
    --bmdc-color-on-deep-orange-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-700) + ')'};
    --bmdc-color-on-deep-orange-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-800) + ')'};
    --bmdc-color-on-deep-orange-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-900) + ')'};
    --bmdc-color-on-deep-orange-a100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-a100) + ')'};
    --bmdc-color-on-deep-orange-a200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-a200) + ')'};
    --bmdc-color-on-deep-orange-a400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-a400) + ')'};
    --bmdc-color-on-deep-orange-a700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$deep-orange-a700) + ')'};
    --bmdc-color-on-brown-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$brown-50) + ')'};
    --bmdc-color-on-brown-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$brown-100) + ')'};
    --bmdc-color-on-brown-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$brown-200) + ')'};
    --bmdc-color-on-brown-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$brown-300) + ')'};
    --bmdc-color-on-brown-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$brown-400) + ')'};
    --bmdc-color-on-brown-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$brown-500) + ')'};
    --bmdc-color-on-brown-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$brown-600) + ')'};
    --bmdc-color-on-brown-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$brown-700) + ')'};
    --bmdc-color-on-brown-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$brown-800) + ')'};
    --bmdc-color-on-brown-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$brown-900) + ')'};
    --bmdc-color-on-grey-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$grey-50) + ')'};
    --bmdc-color-on-grey-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$grey-100) + ')'};
    --bmdc-color-on-grey-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$grey-200) + ')'};
    --bmdc-color-on-grey-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$grey-300) + ')'};
    --bmdc-color-on-grey-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$grey-400) + ')'};
    --bmdc-color-on-grey-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$grey-500) + ')'};
    --bmdc-color-on-grey-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$grey-600) + ')'};
    --bmdc-color-on-grey-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$grey-700) + ')'};
    --bmdc-color-on-grey-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$grey-800) + ')'};
    --bmdc-color-on-grey-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$grey-900) + ')'};
    --bmdc-color-on-blue-grey-50: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-grey-50) + ')'};
    --bmdc-color-on-blue-grey-100: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-grey-100) + ')'};
    --bmdc-color-on-blue-grey-200: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-grey-200) + ')'};
    --bmdc-color-on-blue-grey-300: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-grey-300) + ')'};
    --bmdc-color-on-blue-grey-400: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-grey-400) + ')'};
    --bmdc-color-on-blue-grey-500: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-grey-500) + ')'};
    --bmdc-color-on-blue-grey-600: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-grey-600) + ')'};
    --bmdc-color-on-blue-grey-700: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-grey-700) + ')'};
    --bmdc-color-on-blue-grey-800: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-grey-800) + ')'};
    --bmdc-color-on-blue-grey-900: #{'var(--bmdc-text-color-' + theme.contrast-tone(color-palette.$blue-grey-900) + ')'};
}