@use '@material/theme/color-palette' as cp;

:root {
    --bmdc-color-red-50: #{cp.$red-50};
    --bmdc-color-red-100: #{cp.$red-100};
    --bmdc-color-red-200: #{cp.$red-200};
    --bmdc-color-red-300: #{cp.$red-300};
    --bmdc-color-red-400: #{cp.$red-400};
    --bmdc-color-red-500: #{cp.$red-500};
    --bmdc-color-red-600: #{cp.$red-600};
    --bmdc-color-red-700: #{cp.$red-700};
    --bmdc-color-red-800: #{cp.$red-800};
    --bmdc-color-red-900: #{cp.$red-900};
    --bmdc-color-red-a100: #{cp.$red-a100};
    --bmdc-color-red-a200: #{cp.$red-a200};
    --bmdc-color-red-a400: #{cp.$red-a400};
    --bmdc-color-red-a700: #{cp.$red-a700};
    --bmdc-color-pink-50: #{cp.$pink-50};
    --bmdc-color-pink-100: #{cp.$pink-100};
    --bmdc-color-pink-200: #{cp.$pink-200};
    --bmdc-color-pink-300: #{cp.$pink-300};
    --bmdc-color-pink-400: #{cp.$pink-400};
    --bmdc-color-pink-500: #{cp.$pink-500};
    --bmdc-color-pink-600: #{cp.$pink-600};
    --bmdc-color-pink-700: #{cp.$pink-700};
    --bmdc-color-pink-800: #{cp.$pink-800};
    --bmdc-color-pink-900: #{cp.$pink-900};
    --bmdc-color-pink-a100: #{cp.$pink-a100};
    --bmdc-color-pink-a200: #{cp.$pink-a200};
    --bmdc-color-pink-a400: #{cp.$pink-a400};
    --bmdc-color-pink-a700: #{cp.$pink-a700};
    --bmdc-color-purple-50: #{cp.$purple-50};
    --bmdc-color-purple-100: #{cp.$purple-100};
    --bmdc-color-purple-200: #{cp.$purple-200};
    --bmdc-color-purple-300: #{cp.$purple-300};
    --bmdc-color-purple-400: #{cp.$purple-400};
    --bmdc-color-purple-500: #{cp.$purple-500};
    --bmdc-color-purple-600: #{cp.$purple-600};
    --bmdc-color-purple-700: #{cp.$purple-700};
    --bmdc-color-purple-800: #{cp.$purple-800};
    --bmdc-color-purple-900: #{cp.$purple-900};
    --bmdc-color-purple-a100: #{cp.$purple-a100};
    --bmdc-color-purple-a200: #{cp.$purple-a200};
    --bmdc-color-purple-a400: #{cp.$purple-a400};
    --bmdc-color-purple-a700: #{cp.$purple-a700};
    --bmdc-color-deep-purple-50: #{cp.$deep-purple-50};
    --bmdc-color-deep-purple-100: #{cp.$deep-purple-100};
    --bmdc-color-deep-purple-200: #{cp.$deep-purple-200};
    --bmdc-color-deep-purple-300: #{cp.$deep-purple-300};
    --bmdc-color-deep-purple-400: #{cp.$deep-purple-400};
    --bmdc-color-deep-purple-500: #{cp.$deep-purple-500};
    --bmdc-color-deep-purple-600: #{cp.$deep-purple-600};
    --bmdc-color-deep-purple-700: #{cp.$deep-purple-700};
    --bmdc-color-deep-purple-800: #{cp.$deep-purple-800};
    --bmdc-color-deep-purple-900: #{cp.$deep-purple-900};
    --bmdc-color-deep-purple-a100: #{cp.$deep-purple-a100};
    --bmdc-color-deep-purple-a200: #{cp.$deep-purple-a200};
    --bmdc-color-deep-purple-a400: #{cp.$deep-purple-a400};
    --bmdc-color-deep-purple-a700: #{cp.$deep-purple-a700};
    --bmdc-color-indigo-50: #{cp.$indigo-50};
    --bmdc-color-indigo-100: #{cp.$indigo-100};
    --bmdc-color-indigo-200: #{cp.$indigo-200};
    --bmdc-color-indigo-300: #{cp.$indigo-300};
    --bmdc-color-indigo-400: #{cp.$indigo-400};
    --bmdc-color-indigo-500: #{cp.$indigo-500};
    --bmdc-color-indigo-600: #{cp.$indigo-600};
    --bmdc-color-indigo-700: #{cp.$indigo-700};
    --bmdc-color-indigo-800: #{cp.$indigo-800};
    --bmdc-color-indigo-900: #{cp.$indigo-900};
    --bmdc-color-indigo-a100: #{cp.$indigo-a100};
    --bmdc-color-indigo-a200: #{cp.$indigo-a200};
    --bmdc-color-indigo-a400: #{cp.$indigo-a400};
    --bmdc-color-indigo-a700: #{cp.$indigo-a700};
    --bmdc-color-blue-50: #{cp.$blue-50};
    --bmdc-color-blue-100: #{cp.$blue-100};
    --bmdc-color-blue-200: #{cp.$blue-200};
    --bmdc-color-blue-300: #{cp.$blue-300};
    --bmdc-color-blue-400: #{cp.$blue-400};
    --bmdc-color-blue-500: #{cp.$blue-500};
    --bmdc-color-blue-600: #{cp.$blue-600};
    --bmdc-color-blue-700: #{cp.$blue-700};
    --bmdc-color-blue-800: #{cp.$blue-800};
    --bmdc-color-blue-900: #{cp.$blue-900};
    --bmdc-color-blue-a100: #{cp.$blue-a100};
    --bmdc-color-blue-a200: #{cp.$blue-a200};
    --bmdc-color-blue-a400: #{cp.$blue-a400};
    --bmdc-color-blue-a700: #{cp.$blue-a700};
    --bmdc-color-light-blue-50: #{cp.$light-blue-50};
    --bmdc-color-light-blue-100: #{cp.$light-blue-100};
    --bmdc-color-light-blue-200: #{cp.$light-blue-200};
    --bmdc-color-light-blue-300: #{cp.$light-blue-300};
    --bmdc-color-light-blue-400: #{cp.$light-blue-400};
    --bmdc-color-light-blue-500: #{cp.$light-blue-500};
    --bmdc-color-light-blue-600: #{cp.$light-blue-600};
    --bmdc-color-light-blue-700: #{cp.$light-blue-700};
    --bmdc-color-light-blue-800: #{cp.$light-blue-800};
    --bmdc-color-light-blue-900: #{cp.$light-blue-900};
    --bmdc-color-light-blue-a100: #{cp.$light-blue-a100};
    --bmdc-color-light-blue-a200: #{cp.$light-blue-a200};
    --bmdc-color-light-blue-a400: #{cp.$light-blue-a400};
    --bmdc-color-light-blue-a700: #{cp.$light-blue-a700};
    --bmdc-color-cyan-50: #{cp.$cyan-50};
    --bmdc-color-cyan-100: #{cp.$cyan-100};
    --bmdc-color-cyan-200: #{cp.$cyan-200};
    --bmdc-color-cyan-300: #{cp.$cyan-300};
    --bmdc-color-cyan-400: #{cp.$cyan-400};
    --bmdc-color-cyan-500: #{cp.$cyan-500};
    --bmdc-color-cyan-600: #{cp.$cyan-600};
    --bmdc-color-cyan-700: #{cp.$cyan-700};
    --bmdc-color-cyan-800: #{cp.$cyan-800};
    --bmdc-color-cyan-900: #{cp.$cyan-900};
    --bmdc-color-cyan-a100: #{cp.$cyan-a100};
    --bmdc-color-cyan-a200: #{cp.$cyan-a200};
    --bmdc-color-cyan-a400: #{cp.$cyan-a400};
    --bmdc-color-cyan-a700: #{cp.$cyan-a700};
    --bmdc-color-teal-50: #{cp.$teal-50};
    --bmdc-color-teal-100: #{cp.$teal-100};
    --bmdc-color-teal-200: #{cp.$teal-200};
    --bmdc-color-teal-300: #{cp.$teal-300};
    --bmdc-color-teal-400: #{cp.$teal-400};
    --bmdc-color-teal-500: #{cp.$teal-500};
    --bmdc-color-teal-600: #{cp.$teal-600};
    --bmdc-color-teal-700: #{cp.$teal-700};
    --bmdc-color-teal-800: #{cp.$teal-800};
    --bmdc-color-teal-900: #{cp.$teal-900};
    --bmdc-color-teal-a100: #{cp.$teal-a100};
    --bmdc-color-teal-a200: #{cp.$teal-a200};
    --bmdc-color-teal-a400: #{cp.$teal-a400};
    --bmdc-color-teal-a700: #{cp.$teal-a700};
    --bmdc-color-green-50: #{cp.$green-50};
    --bmdc-color-green-100: #{cp.$green-100};
    --bmdc-color-green-200: #{cp.$green-200};
    --bmdc-color-green-300: #{cp.$green-300};
    --bmdc-color-green-400: #{cp.$green-400};
    --bmdc-color-green-500: #{cp.$green-500};
    --bmdc-color-green-600: #{cp.$green-600};
    --bmdc-color-green-700: #{cp.$green-700};
    --bmdc-color-green-800: #{cp.$green-800};
    --bmdc-color-green-900: #{cp.$green-900};
    --bmdc-color-green-a100: #{cp.$green-a100};
    --bmdc-color-green-a200: #{cp.$green-a200};
    --bmdc-color-green-a400: #{cp.$green-a400};
    --bmdc-color-green-a700: #{cp.$green-a700};
    --bmdc-color-light-green-50: #{cp.$light-green-50};
    --bmdc-color-light-green-100: #{cp.$light-green-100};
    --bmdc-color-light-green-200: #{cp.$light-green-200};
    --bmdc-color-light-green-300: #{cp.$light-green-300};
    --bmdc-color-light-green-400: #{cp.$light-green-400};
    --bmdc-color-light-green-500: #{cp.$light-green-500};
    --bmdc-color-light-green-600: #{cp.$light-green-600};
    --bmdc-color-light-green-700: #{cp.$light-green-700};
    --bmdc-color-light-green-800: #{cp.$light-green-800};
    --bmdc-color-light-green-900: #{cp.$light-green-900};
    --bmdc-color-light-green-a100: #{cp.$light-green-a100};
    --bmdc-color-light-green-a200: #{cp.$light-green-a200};
    --bmdc-color-light-green-a400: #{cp.$light-green-a400};
    --bmdc-color-light-green-a700: #{cp.$light-green-a700};
    --bmdc-color-lime-50: #{cp.$lime-50};
    --bmdc-color-lime-100: #{cp.$lime-100};
    --bmdc-color-lime-200: #{cp.$lime-200};
    --bmdc-color-lime-300: #{cp.$lime-300};
    --bmdc-color-lime-400: #{cp.$lime-400};
    --bmdc-color-lime-500: #{cp.$lime-500};
    --bmdc-color-lime-600: #{cp.$lime-600};
    --bmdc-color-lime-700: #{cp.$lime-700};
    --bmdc-color-lime-800: #{cp.$lime-800};
    --bmdc-color-lime-900: #{cp.$lime-900};
    --bmdc-color-lime-a100: #{cp.$lime-a100};
    --bmdc-color-lime-a200: #{cp.$lime-a200};
    --bmdc-color-lime-a400: #{cp.$lime-a400};
    --bmdc-color-lime-a700: #{cp.$lime-a700};
    --bmdc-color-yellow-50: #{cp.$yellow-50};
    --bmdc-color-yellow-100: #{cp.$yellow-100};
    --bmdc-color-yellow-200: #{cp.$yellow-200};
    --bmdc-color-yellow-300: #{cp.$yellow-300};
    --bmdc-color-yellow-400: #{cp.$yellow-400};
    --bmdc-color-yellow-500: #{cp.$yellow-500};
    --bmdc-color-yellow-600: #{cp.$yellow-600};
    --bmdc-color-yellow-700: #{cp.$yellow-700};
    --bmdc-color-yellow-800: #{cp.$yellow-800};
    --bmdc-color-yellow-900: #{cp.$yellow-900};
    --bmdc-color-yellow-a100: #{cp.$yellow-a100};
    --bmdc-color-yellow-a200: #{cp.$yellow-a200};
    --bmdc-color-yellow-a400: #{cp.$yellow-a400};
    --bmdc-color-yellow-a700: #{cp.$yellow-a700};
    --bmdc-color-amber-50: #{cp.$amber-50};
    --bmdc-color-amber-100: #{cp.$amber-100};
    --bmdc-color-amber-200: #{cp.$amber-200};
    --bmdc-color-amber-300: #{cp.$amber-300};
    --bmdc-color-amber-400: #{cp.$amber-400};
    --bmdc-color-amber-500: #{cp.$amber-500};
    --bmdc-color-amber-600: #{cp.$amber-600};
    --bmdc-color-amber-700: #{cp.$amber-700};
    --bmdc-color-amber-800: #{cp.$amber-800};
    --bmdc-color-amber-900: #{cp.$amber-900};
    --bmdc-color-amber-a100: #{cp.$amber-a100};
    --bmdc-color-amber-a200: #{cp.$amber-a200};
    --bmdc-color-amber-a400: #{cp.$amber-a400};
    --bmdc-color-amber-a700: #{cp.$amber-a700};
    --bmdc-color-orange-50: #{cp.$orange-50};
    --bmdc-color-orange-100: #{cp.$orange-100};
    --bmdc-color-orange-200: #{cp.$orange-200};
    --bmdc-color-orange-300: #{cp.$orange-300};
    --bmdc-color-orange-400: #{cp.$orange-400};
    --bmdc-color-orange-500: #{cp.$orange-500};
    --bmdc-color-orange-600: #{cp.$orange-600};
    --bmdc-color-orange-700: #{cp.$orange-700};
    --bmdc-color-orange-800: #{cp.$orange-800};
    --bmdc-color-orange-900: #{cp.$orange-900};
    --bmdc-color-orange-a100: #{cp.$orange-a100};
    --bmdc-color-orange-a200: #{cp.$orange-a200};
    --bmdc-color-orange-a400: #{cp.$orange-a400};
    --bmdc-color-orange-a700: #{cp.$orange-a700};
    --bmdc-color-deep-orange-50: #{cp.$deep-orange-50};
    --bmdc-color-deep-orange-100: #{cp.$deep-orange-100};
    --bmdc-color-deep-orange-200: #{cp.$deep-orange-200};
    --bmdc-color-deep-orange-300: #{cp.$deep-orange-300};
    --bmdc-color-deep-orange-400: #{cp.$deep-orange-400};
    --bmdc-color-deep-orange-500: #{cp.$deep-orange-500};
    --bmdc-color-deep-orange-600: #{cp.$deep-orange-600};
    --bmdc-color-deep-orange-700: #{cp.$deep-orange-700};
    --bmdc-color-deep-orange-800: #{cp.$deep-orange-800};
    --bmdc-color-deep-orange-900: #{cp.$deep-orange-900};
    --bmdc-color-deep-orange-a100: #{cp.$deep-orange-a100};
    --bmdc-color-deep-orange-a200: #{cp.$deep-orange-a200};
    --bmdc-color-deep-orange-a400: #{cp.$deep-orange-a400};
    --bmdc-color-deep-orange-a700: #{cp.$deep-orange-a700};
    --bmdc-color-brown-50: #{cp.$brown-50};
    --bmdc-color-brown-100: #{cp.$brown-100};
    --bmdc-color-brown-200: #{cp.$brown-200};
    --bmdc-color-brown-300: #{cp.$brown-300};
    --bmdc-color-brown-400: #{cp.$brown-400};
    --bmdc-color-brown-500: #{cp.$brown-500};
    --bmdc-color-brown-600: #{cp.$brown-600};
    --bmdc-color-brown-700: #{cp.$brown-700};
    --bmdc-color-brown-800: #{cp.$brown-800};
    --bmdc-color-brown-900: #{cp.$brown-900};
    --bmdc-color-grey-50: #{cp.$grey-50};
    --bmdc-color-grey-100: #{cp.$grey-100};
    --bmdc-color-grey-200: #{cp.$grey-200};
    --bmdc-color-grey-300: #{cp.$grey-300};
    --bmdc-color-grey-400: #{cp.$grey-400};
    --bmdc-color-grey-500: #{cp.$grey-500};
    --bmdc-color-grey-600: #{cp.$grey-600};
    --bmdc-color-grey-700: #{cp.$grey-700};
    --bmdc-color-grey-800: #{cp.$grey-800};
    --bmdc-color-grey-900: #{cp.$grey-900};
    --bmdc-color-blue-grey-50: #{cp.$blue-grey-50};
    --bmdc-color-blue-grey-100: #{cp.$blue-grey-100};
    --bmdc-color-blue-grey-200: #{cp.$blue-grey-200};
    --bmdc-color-blue-grey-300: #{cp.$blue-grey-300};
    --bmdc-color-blue-grey-400: #{cp.$blue-grey-400};
    --bmdc-color-blue-grey-500: #{cp.$blue-grey-500};
    --bmdc-color-blue-grey-600: #{cp.$blue-grey-600};
    --bmdc-color-blue-grey-700: #{cp.$blue-grey-700};
    --bmdc-color-blue-grey-800: #{cp.$blue-grey-800};
    --bmdc-color-blue-grey-900: #{cp.$blue-grey-900};
}
