@charset "UTF-8";

@use "../wip/material-components-icons.css";

@use '_colors.scss';

@use '../Components/Autocomplete/MTAutocomplete.scss';
@use '../Components/Button/MTButton.scss';
@use '../Components/Checkbox/MTCheckbox.scss';
@use '../Components/AnimatedNavigation/MTAnimatedNavigation.scss';
@use '../Components/Card/MTCard.scss';
@use '../Components/DataTable/MTDataTable.scss';
@use '../Components/DatePicker/MTDatePicker.scss';
@use '../Components/Dialog/MTDialog.scss';
@use '../Components/IconButton/MTIconButton.scss';
@use '../Components/List/MTList.scss';
@use '../Components/Paginator/MTPaginator.scss';
@use '../Components/RadioButton/MTRadioButton.scss';
@use '../Components/RadioButtonGroup/MTRadioButtonGroup.scss';
@use '../Components/Shield/MTShield.scss';
@use '../Components/SlidingContent/MTSlidingContent.scss';
@use '../Components/Select/MTSelect.scss';
@use '../Components/Switch/MTSwitch.scss';
@use '../Components/TabBar/MTTabBar.scss';
@use '../Components/TextField/MTTextField.scss';
@use '../Components/Toast/MTToast.scss';
@use '../Components/TopAppBar/MTTopAppBar.scss';

@use 'sass:color';


:root {
    --bmdc-scroll-color: var(--mdc-theme-primary);
    --bmdc-scroll-track-color: rgba(0, 0, 0, 0);
    --bmdc-scrollbar-width: thin;
    --bmdc-scroll-webkit-margin-right: 4px;
    --bmdc-scroll-webkit-width: 8px;
    --bmdc-scroll-webkit-border-radius: 4px;
}


.bmdc-custom-scrollbars {
    scrollbar-width: var(--bmdc-scrollbar-width);
    scrollbar-color: var(--bmdc-scroll-color) var(--bmdc-scroll-track-color);

    /* Scrollbar width */
    ::-webkit-scrollbar {
        width: var(--bmdc-scroll-webkit-width);
        height: var(--bmdc-scroll-webkit-width);
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background-color: var(--bmdc-scroll-track-color);
        margin-right: var(--bmdc-scroll-webkit-margin-right);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--bmdc-scroll-color);
        border-radius: var(--bmdc-scroll-webkit-border-radius);
    }
}

.bmdc-custom-scrollbars * {
    scrollbar-width: inherit;
    scrollbar-color: inherit;
}


.bmdc-align-left {
    text-align: left;
}

.bmdc-align-center {
    text-align: center;
}

.bmdc-align-right {
    text-align: right;
}

.bmdc-full-width {
    width: 100%;
}