@use "../wip/material-components-icons.min.css";

@use '_colors.scss';

@use '../Components/Autocomplete/MTAutocomplete.scss';
@use '../Components/Button/MTButton.scss';
@use '../Components/Checkbox/MTCheckbox.scss';
@use '../Components/AnimatedNavigation/MTAnimatedNavigation.scss';
@use '../Components/Card/MTCard.scss';
@use '../Components/DataTable/MTDataTable.scss';
@use '../Components/DatePicker/MTDatePicker.scss';
@use '../Components/Dialog/MTDialog.scss';
@use '../Components/IconButton/MTIconButton.scss';
@use '../Components/List/MTList.scss';
@use '../Components/Paginator/MTPaginator.scss';
@use '../Components/RadioButton/MTRadioButton.scss';
@use '../Components/RadioButtonGroup/MTRadioButtonGroup.scss';
@use '../Components/Shield/MTShield.scss';
@use '../Components/SlidingContent/MTSlidingContent.scss';
@use '../Components/Select/MTSelect.scss';
@use '../Components/Switch/MTSwitch.scss';
@use '../Components/TabBar/MTTabBar.scss';
@use '../Components/TextField/MTTextField.scss';
@use '../Components/Toast/MTToast.scss';
@use '../Components/TopAppBar/MTTopAppBar.scss';

@use 'sass:color';


:root {
    --bmdc-dialog-firefox-scrollbar-width: thin;
    --bmdc-select-firefox-scrollbar-width: thin;
    --bmdc-dialog-scroll-margin-right: 4px;
    --bmdc-dialog-scroll-width: 8px;
    --bmdc-dialog-scroll-border-radius: 4px;
    --bmdc-select-scroll-margin-right: 4px;
    --bmdc-select-scroll-width: 8px;
    --bmdc-select-scroll-border-radius: 4px;
    --bmdc-scroll-track-color: rgba(0, 0, 0, 0);
    --bmdc-scroll-color: var(--mdc-theme-primary);
    --bmdc-scroll-color__hover: var(--mdc-theme-primary);
}


.mdc-text-field__affix {
    user-select: none;
}


.bmdc-custom-scrollbars .mdc-dialog__content {
    scrollbar-width: var(--bmdc-dialog-firefox-scrollbar-width) !important;
}


.bmdc-custom-scrollbars {
/*.bmdc-custom-scrollbars .mdc-drawer__content,
.bmdc-custom-scrollbars .mdc-menu-surface,
.bmdc-custom-scrollbars .bmdc-dp-year-pad {*/
    scrollbar-width: var(--bmdc-select-firefox-scrollbar-width) !important;
}


.bmdc-custom-scrollbars {
//.bmdc-custom-scrollbars .mdc-dialog {
    ::-webkit-scrollbar {
        width: var(--bmdc-dialog-scroll-width);
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background-color: var(--bmdc-dialog-scroll-track-color);
        margin-right: var(--bmdc-dialog-scroll-margin-right);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--bmdc-scroll-color);
        border-radius: var(--bmdc-dialog-scroll-border-radius);
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--bmdc-scroll-color__hover);
    }
}


/*.bmdc-custom-scrollbars .mdc-select,
.bmdc-custom-scrollbars .mdc-menu-surface--anchor,
.bmdc-custom-scrollbars .mdc-drawer {
    ::-webkit-scrollbar {
        width: var(--bmdc-select-scroll-width);
    }*/
    /* Track */
    /*::-webkit-scrollbar-track {
        background-color: var(--bmdc-select-scroll-track-color);
        margin-right: var(--bmdc-select-scroll-margin-right);
    }*/
    /* Handle */
    /*::-webkit-scrollbar-thumb {
        background: var(--bmdc-scroll-color);
        border-radius: var(--bmdc-select-scroll-border-radius);
    }*/
    /* Handle on hover */
    /*::-webkit-scrollbar-thumb:hover {
        background: var(--bmdc-scroll-color__hover);
    }
}*/




.bmdc-align-left {
    text-align: left;
}

.bmdc-align-center {
    text-align: center;
}

.bmdc-align-right {
    text-align: right;
}

.bmdc-full-width {
    width: 100%;
}