
@import 'colors.scss';

@import '../Components/MdcCard/MdcCard.scss';
@import '../Components/MdcDialog/MdcDialog.scss';
@import '../Components/MdcSelect/MdcSelect.scss';
@import '../Components/MdcTopAppBar/MdcTopAppBar.scss';

@import '../Plus/PMdcAnimatedNavigation/PMdcAnimatedNavigation.scss';
@import '../Plus/PMdcDatePicker/PMdcDatePicker.scss';
@import '../Plus/PMdcPaginator/PMdcPaginator.scss';
@import '../Plus/PMdcRadioButtonGroup/PMdcRadioButtonGroup.scss';
@import '../Plus/PMdcSlidingContent/PMdcSlidingContent.scss';
@import '../Plus/PMdcToast/PMdcToast.scss';


.bmdc-align-left {
    text-align: left;
}

.bmdc-align-center {
    text-align: center;
}

.bmdc-align-right {
    text-align: right;
}

.bmdc-full-width {
    width: 100%;
}
