@namespace BlazorMdc.Demo

@page "/form"


@if (!HideHeading)
{
    <h1 class="mdc-typography--headline4">Form samples</h1>

    <p>See <code>FormSample.razor, PINLogonDialog.razor, and PINLogonDTO.cs</code> for sources.</p>

    <p>There is no form component per se; This demo demonstrates the use of a form with BlazorMdc Components.
    It shows that the underlying input components function as expected in a forms validation environment.</p>
}


<p><BMdc.Button Label="Show create PIN dialog"
              @onclick="@ShowDialog1"
              ButtonStyle="BMdcModel.ButtonStyle.ContainedRaised" /></p>

<p>Result: <string>'@(result1 ?? "")'</string></p>

<PINLogonDialog @ref="pinLogonDialogReference1"
                dialogStyle="PINLogonDialog.ePINDialogStyle.CreatePIN" />

<p><BMdc.Button Label="Show logon with PIN dialog (Valid PIN is 3141)"
              @onclick="@ShowDialog2"
              ButtonStyle="BMdcModel.ButtonStyle.ContainedRaised"/></p>

<p>Result: <string>'@(result2 ?? "")'</string></p>

<PINLogonDialog @ref="pinLogonDialogReference2"
                dialogStyle="PINLogonDialog.ePINDialogStyle.EnterPIN"
                validationPIN="3141" />

@code {
    [Parameter] public bool HideHeading { get; set; }

    PINLogonDialog pinLogonDialogReference1;
    public string result1 = "";

    async Task ShowDialog1()
    {
        result1 = await pinLogonDialogReference1.OpenPINLogonDialogAsync();
    }

    PINLogonDialog pinLogonDialogReference2;
    public string result2 = "";

    async Task ShowDialog2()
    {
        result2 = await pinLogonDialogReference2.OpenPINLogonDialogAsync();
    }
}
