@namespace Material.Blazor.Internal.MD2
@inherits ComponentFoundationMD2

<aside class="mdc-snackbar @Stacked @Leading"
       @ref="SnackbarReference">

    <div aria-relevant="additions"
         class="mdc-snackbar__surface @Snackbar.Settings.AdditionalClass"
         role="status">

        <div aria-atomic="false"
             class="mdc-snackbar__label">

            @((MarkupString)(Snackbar.Settings.AppliedMessage))
        </div>

        @{
            var hasAction = Snackbar.Settings.AppliedAction != null && Snackbar.Settings.AppliedActionText != null;
            var hasDismiss = Snackbar.Settings.AppliedCloseMethod != Material.Blazor.MD2.MBNotifierCloseMethod.Timeout;
        }

        @if (hasAction || hasDismiss)
        {
            <div aria-atomic="true"
                 class="mdc-snackbar__actions">

                @if (hasAction)
                {
                    <button class="mdc-button mdc-snackbar__action"
                            type="button"
                            @onclick="Snackbar.Settings.AppliedAction">

                        <div class="mdc-button__ripple">

                        </div>

                        <span class="mdc-button__label">
                            @Snackbar.Settings.AppliedActionText
                        </span>
                    </button>
                }

                @if (hasDismiss)
                {
                    <button class="mdc-icon-button mdc-snackbar__dismiss material-icons"
                            title="Dismiss"
                            type="button">
                        close
                    </button>
                }
            </div>
        }

    </div>
</aside>