@charset "UTF-8";

@use '@material/theme';
@use '@material/theme/custom-properties';
@use '@material/theme/color-palette';
@use 'sass:string';

$border-color: color-palette.$blue-grey-500;
$header-color: color-palette.$blue-grey-100;

$group-row-color: color-palette.$blue-100;
$group-row-color-hover: darken($group-row-color, 4%);

$odd-row-color: color-palette.$yellow-100;
$odd-row-color-hover: darken($odd-row-color, 4%);

$even-row-color: color-palette.$yellow-200;
$even-row-color-hover: darken($even-row-color, 4%);

$selected-row-color: color-palette.$green-100;
$selected-row-color-hover: darken($selected-row-color, 4%);

:root {
    --mb-grid-border-color: #{$border-color};
    --mb-grid-header-color: #{$header-color};
    --mb-grid-group-row-color: #{$group-row-color};
    --mb-grid-group-row-color-hover: #{$group-row-color-hover};
    --mb-grid-odd-row-color: #{$odd-row-color};
    --mb-grid-odd-row-color-hover: #{$odd-row-color-hover};
    --mb-grid-even-row-color: #{$even-row-color};
    --mb-grid-even-row-color-hover: #{$even-row-color-hover};
    --mb-grid-selected-row-color: #{$selected-row-color};
    --mb-grid-selected-row-color-hover: #{$selected-row-color-hover};
}

.mb-mgrid {
    border-radius: 0px;

    .mdc-data-table__header-cell:first-child {
        border-top-left-radius: 0px;
    }

    .mdc-data-table__header-cell:last-child {
        border-top-right-radius: 0px;
    }
}

.mb-mgrid__colored {
    border-color: var(--mb-grid-border-color);

    .mdc-data-table__header-cell {
        background-color: var(--mb-grid-header-color);
        border-left-color: var(--mb-grid-border-color);
        border-bottom-color: var(--mb-grid-border-color);
    }

    tbody td {
        border-left-color: var(--mb-grid-border-color);
        border-bottom-color: var(--mb-grid-border-color);
    }

    .mb-mgrid__group-row {
        background-color: var(--mb-grid-group-row-color);

        &:hover {
            background-color: var(--mb-grid-group-row-color-hover);
        }
    }

    .mb-mgrid__row:nth-child(odd):not(.mb-mgrid__row-selected) {
        background-color: var(--mb-grid-odd-row-color);

        &:hover {
            background-color: var(--mb-grid-odd-row-color-hover);
        }
    }

    .mb-mgrid__row:nth-child(even):not(.mb-mgrid__row-selected) {
        background-color: var(--mb-grid-even-row-color);

        &:hover {
            background-color: var(--mb-grid-even-row-color-hover);
        }
    }

    .mb-mgrid__row-selected {
        background-color: var(--mb-grid-selected-row-color);

        &:hover {
            background-color: var(--mb-grid-selected-row-color-hover);
        }
    }
}


.mb-mgrid__vertical-dividers {
    .mdc-data-table__header-cell:not(:first-child), .mb-mgrid__group-row td:not(:first-child), .mb-mgrid__row td:not(:first-child) {
        padding-left: 15px;
        border-left-width: 1px;
        border-left-style: solid;
    }
}


/* Original grid */

.mb-grid-div-outer {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mb-grid-div-header {
    font-family: Arial;
    font-weight: bolder;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    align-items: stretch;
}

.mb-grid-div-body {
    font-family: Arial;
    background: lightblue;
    font-weight: normal;
    padding: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    text-align: left;
    box-sizing: border-box;
}

.mb-grid-table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    flex-grow: 1;
    overflow: hidden;
    font-size: 1.0rem;
    table-layout: fixed;
    text-align: left;
    text-indent: unset;
    text-overflow: ellipsis;
    text-wrap: none;
    vertical-align: middle;
    width: 100%;
}

.mb-grid-colgroup {
    display: table-column-group;
}

.mb-grid-thead {
}

.mb-grid-tbody {
}

.mb-grid-tr {
}

.mb-grid-td {
    cursor: default;
    display: table-cell;
    flex: 0 0 auto;
    padding: 4px;
    font-size: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    letter-spacing: initial;
}

.mb-grid-td-group {
    display: table-cell;
    color: black;
    border-bottom: 0px;
    border-left: 1px solid darkblue;
    border-right: 1px solid darkblue;
    border-top: 2px solid darkblue;
    font-size: x-large;
    font-weight: bolder;
    flex: 0 0 auto;
}

.mb-grid-backgroundcolor-header-background {
    background: lightgray;
    background-color: lightgray;
}

.mb-grid-backgroundcolor-row-even {
    background-color: khaki;
}

.mb-grid-backgroundcolor-row-odd {
    background-color: lemonchiffon;
}

.mb-grid-backgroundcolor-row-group {
    background-color: lightblue;
}

.mb-grid-backgroundcolor-row-selected {
    background-color: lightgreen;
}

.mb-grid-header-td-measure {
    font-family: Arial;
    font-weight: bolder;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    text-align: left;
    text-indent: unset;
    display: table-cell;
    flex: 0 0 auto;
    padding: 4px;
    font-size: inherit;
    text-overflow: unset;
    letter-spacing: initial;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    background: #d3d3d3;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    color: Black;
    background-color: LightGray;
}

.mb-grid-body-td-measure {
    font-family: Arial;
    font-weight: normal;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    text-align: left;
    text-indent: unset;
    display: table-cell;
    flex: 0 0 auto;
    padding: 4px;
    font-size: inherit;
    text-overflow: unset;
    letter-spacing: initial;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    background-color: khaki;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: black;
    color: #000000;
    cursor: default;
}

