@namespace Material.Blazor
@inherits ComponentFoundation


<button @ref="@ElementReference"
        @attributes="@AttributesToSplat()"
        type="button">

    <MBIcon IconName="@Icon" IconFoundry="@IconFoundry" />
</button>