@namespace Material.Blazor
@inherits ComponentFoundation


<button @ref="@ElementReference"
        @attributes="@AttributesToSplat()">

    <MBIcon IconFoundry="@IconFoundry"
            IconName="@Icon" />
</button>