@page "/tabbar"

<h1 class="@MdcTypography.Heading4">Tab Bar samples</h1>

<p>See <code>TabBarSample.razor</code> for sources.</p>

<MdcSwitch @bind-Value="stacked" Label="Stack Icons" />

<p style="margin-bottom: 2em;">&nbsp;</p>

<MdcTabBar @bind-TabIndex="selectedTab" TabItems="items" StackIcons="stacked" />

<p style="margin-top: 2em;">Selected Tab: @selectedTab / @items.ElementAt(selectedTab).Title</p>

@code {
    private int selectedTab = 5;
    private IEnumerable<MdcTabBar.TabItem> items;
    private bool stacked = false;
    private string[] icons = { "home", "alarm", "book", "copyright", "eco", "label", "lock", "restore", "work", "album", "mic", "speed", "dialpad", "flag", "cloud", "laptop", "colorize", "nature", "layers", "map" };

    protected override void OnInitialized()
    {
        base.OnInitialized();

        items = from i in icons
                select new MdcTabBar.TabItem
                {
                    Icon = i,
                    Title = i
                };
    }
}
