@page "/"

@namespace Material.Blazor.Website.Server.MD3

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Material.Blazor.Website.MD3;
@using Microsoft.AspNetCore.Components.Web

@{
    Microsoft.AspNetCore.Mvc.Rendering.RenderMode renderMode = PlatformDetermination.IsBlazorServer ? Microsoft.AspNetCore.Mvc.Rendering.RenderMode.Server : Microsoft.AspNetCore.Mvc.Rendering.RenderMode.WebAssembly;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Material.Blazor.MD3</title>
    <base href="/" />

    <link href="_content/Material.Blazor.MD3/material.blazor.min.css" rel="stylesheet">
    
    <link href="_content/Material.Blazor.Website.MD3/icon-512.png" rel="apple-touch-icon" sizes="512x512">
    <link href="_content/Material.Blazor.Website.MD3/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
    <link href="_content/Material.Blazor.Website.MD3/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
    <link id="app-style" href="_content/Material.Blazor.Website.MD3/css/material-default-theme.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700" rel="stylesheet">

    @if (PlatformDetermination.IsBlazorServer)
    {
        <component type="typeof(HeadOutlet)" render-mode="@renderMode" />
    }
    else
    {
        <link rel="manifest" href="manifest.json" />
    }

</head>

<body class="mdc-typography mb-custom-scrollbars">
    @if (PlatformDetermination.IsBlazorServer)
    {
        <component type="typeof(AppMD3)" render-mode="@renderMode" />
    }
    else
    {
        <div id="app">
            <svg class="loading-progress">
                <circle r="40%" cx="50%" cy="50%" />
                <circle r="40%" cx="50%" cy="50%" />
            </svg>
            <div class="loading-progress-text"></div>
        </div>
    }

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_content/Material.Blazor.MD3/material.blazor.min.js"></script>

    <script src="_content/GoogleAnalytics.Blazor/googleanalytics.blazor.js"></script>

    @if (PlatformDetermination.IsBlazorServer)
    {
        <script src="_framework/blazor.server.js"></script>
    }
    else
    {
        <script src="_framework/blazor.webassembly.js"></script>
    }

</body>
</html>
