.mb-hidden {
    visibility: hidden;
}

.mb-visible {
    visibility: visible;
}




.mb-slide-in-from-previous {
    animation: slideInFromLeft ease 200ms;
    -webkit-animation: slideInFromLeft ease 200ms;
}

[dir="rtl"] .mb-slide-in-from-previous {
    animation: slideInFromRight ease 200ms;
    -webkit-animation: slideInFromRight ease 200ms;
}




.mb-slide-in-from-next {
    animation: slideInFromRight ease 200ms;
    -webkit-animation: slideInFromRight ease 200ms;
}

[dir="rtl"] .mb-slide-in-from-next {
    animation: slideInFromLeft ease 200ms;
    -webkit-animation: slideInFromLeft ease 200ms;
}




.mb-slide-out-to-previous {
    animation: slideOutToLeft ease-out 10000ms;
    -webkit-animation: slideOutToLeft ease-out 10000ms;
}

[dir="rtl"] .mb-slide-out-to-previous {
    animation: slideOutToRight ease-out 10000ms;
    -webkit-animation: slideOutToRight ease-out 10000ms;
}




.mb-slide-out-to-next {
    animation: slideOutToRight ease-out 10000ms;
    -webkit-animation: slideOutToRight ease-out 10000ms;
}

[dir="rtl"] .mb-slide-out-to-next {
    animation: slideOutToLeft ease-out 10000ms;
    -webkit-animation: slideOutToLeft ease-out 10000ms;
}




@-webkit-keyframes slideInFromLeft {
    0% {
        margin-left: -12px;
        margin-right: 12px;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        margin-left: -12px;
        margin-right: 12px;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




@-webkit-keyframes slideInFromRight {
    0% {
        margin-left: 12px;
        margin-right: -12px;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        margin-left: 12px;
        margin-right: -12px;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




@-webkit-keyframes slideOutToLeft {
    0% {
        opacity: 1;
    }

    1% {
        margin-left: -12px;
        margin-right: 12px;
        opacity: 0;
    }

    100% {
        margin-left: -12px;
        margin-right: 12px;
        opacity: 0;
    }
}

@keyframes slideOutToLeft {
    0% {
        opacity: 1;
    }

    1% {
        margin-left: -12px;
        margin-right: 12px;
        opacity: 0;
    }

    100% {
        margin-left: -12px;
        margin-right: 12px;
        opacity: 0;
    }
}




@-webkit-keyframes slideOutToRight {
    0% {
        opacity: 1;
    }

    1% {
        margin-left: 12px;
        margin-right: -12px;
        opacity: 0;
    }

    100% {
        margin-left: 12px;
        margin-right: -12px;
        opacity: 0;
    }
}

@keyframes slideOutToRight {
    0% {
        opacity: 1;
    }

    1% {
        margin-left: 12px;
        margin-right: -12px;
        opacity: 0;
    }

    100% {
        margin-left: 12px;
        margin-right: -12px;
        opacity: 0;
    }
}
