@namespace Material.Blazor

@typeparam TItem

@inherits ComponentFoundation

<div class="@VisibilityClass @(@class)"
     style="@style"
     @ref="ElementReference">

    <div class="@ContentClass">
        @if (Content != null && CurrentItem != null)
        {
            @Content(CurrentItem)
        }
    </div>
</div>