name: GithubActionsMainWIP

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

env:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Debug'
  ciSuffix: CI.${{ github.run_number }}
  outputDocFx: ${{ github.workspace }}/siteDocFx
  outputBmdc: ${{ github.workspace }}/siteBmdc
  outputWeb: ${{ github.workspace }}/siteWeb
  projectBmdc: 'BlazorMdc/BlazorMdc.csproj'
  projectWeb: 'BlazorMdcWebsite.WebAssembly/BlazorMdcWebsite.WebAssembly.csproj'

jobs:

############################################################################################################
#Build & Deploy DocFx pages (2 jobs)
############################################################################################################
  builddocfx:

    runs-on: windows-latest

    steps:

    - name: Checkout repository under $GITHUB_WORKSPACE so the job can access it 🛎️
      uses: actions/checkout@v2

    - name: Create documentation 🔧
      run: .\docfx\docfx docfx.json
      env:
        DOCFX_SOURCE_BRANCH_NAME: ${{steps.get_branch.outputs.branch}}

    - name: Upload Artifacts 🔺 # The project is then uploaded as an artifact named 'site'.
      uses: actions/upload-artifact@v1
      with:
        name: siteDocFx
        path: siteDocFx
      if: (github.repository != 'BlazorMdc/BlazorMdc')


  deploydocfx:
    needs: [builddocfx] # The second job must depend on the first one to complete before running, and uses ubuntu-latest instead of windows.

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository under $GITHUB_WORKSPACE so the job can access it 🛎️
      uses: actions/checkout@v2
      if: (github.repository != 'BlazorMdc/BlazorMdc')

    - name: Download Artifacts 🔻 # The built project is downloaded into the 'site' folder.
      uses: actions/download-artifact@v1
      with:
        name: SiteDocFx
      if: (github.repository != 'BlazorMdc/BlazorMdc')

    - name: Deploy 🚀
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: ${{ secrets.GH_PAT }}
        BRANCH: gh-pages
        FOLDER: "SiteDocFx" # The deployment folder should match the name of the artifact.
      if: (github.repository != 'BlazorMdc/BlazorMdc')


############################################################################################################
#Build & Deploy BlazorMdc Nuget package (1 job)
############################################################################################################
  buildblazormdc:
    runs-on: ubuntu-latest

    steps:

    - name: Get the branch
      id: get_branch
      run: echo ::set-output name=branch::${GITHUB_REF/refs\/heads\//}

    - name: Get the pullrequest
      id: get_pullrequest
      run: echo ::set-output name=pullrequest::${GITHUB_REF/refs\/pull\//}

    - name: Get the tag
      id: get_tag
      run: echo ::set-output name=tag::${GITHUB_REF/refs\/tags\//}

    - name: Show branch name Ꙫ
      run: echo "GitHub indicates that this is a branch push request of ${{steps.get_branch.outputs.branch}}"
      if: contains(github.ref, 'refs/heads')

    - name: Show PR name Ꙫ
      run: echo "GitHub indicates that this is a pull request called ${{steps.get_pullrequest.outputs.pullrequest}}"
      if: contains(github.ref, 'refs/pull')

    - name: Show Tag name Ꙫ
      run: echo "GitHub indicates that this is a tag creation with ${{steps.get_tag.outputs.tag}}"
      if: contains(github.ref, 'refs/tag')

    - name: Checkout repository under $GITHUB_WORKSPACE so the job can access it 🛎️
      uses: actions/checkout@v2

    - name: Setup .NET Core 🛎️
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.302
        source-url: https://nuget.pkg.github.com/${{github.repository_owner}}/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}        

    - name: Display CI suffix Ꙫ
      run: echo "CI suffix is $ciSuffix"

    - name: Build 🔧
      run: dotnet build --configuration $buildConfiguration --version-suffix $ciSuffix $projectBmdc
      env:
        NUGET_AUTH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    - name: Generate NuGet package 🔧
      run: dotnet pack --no-build --configuration $buildConfiguration --output $outputBmdc -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg --version-suffix $ciSuffix $projectBmdc
      env:
        NUGET_AUTH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    - name: Display package output Ꙫ
      run: ls $outputBmdc

    - name: Display obfuscated secret Ꙫ
      run: echo "The GitHub token is ${{ secrets.GITHUB_TOKEN }}"

#    - name: Upload Package 🚀
#      run: dotnet nuget push $outputBmdc/*.nupkg -s https://nuget.pkg.github.com/${{github.repository_owner}}/index.json
#      env:
#        NUGET_AUTH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
#      if: (github.repository != 'BlazorMdc/BlazorMdc')
#
#    - name: Upload Package 🚀
#      run: dotnet nuget push $outputBmdc/*.nupkg -k ${{ secrets.GITHUB_TOKEN }} -s https://nuget.pkg.github.com/${{github.repository_owner}}/index.json
#      env:
#        NUGET_AUTH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
#      if: (github.repository != 'BlazorMdc/BlazorMdc')
#
    - name: Upload Package 🚀
      run: dotnet nuget push $outputBmdc/*.nupkg --skip-duplicate --no-symbols true
      if: (github.repository != 'BlazorMdc/BlazorMdc')


############################################################################################################
#Build & Deploy BlazorMdcWebsite (1 job)
#At the moment this has to be a separate job because of the different dnc environments (3.1 & 5.0 preview)
############################################################################################################
  buildblazormdcwebsite:

    runs-on: ubuntu-latest

    steps:

    - name: Get the branch
      id: get_branch
      run: echo ::set-output name=branch::${GITHUB_REF/refs\/heads\//}

    - name: Get the pullrequest
      id: get_pullrequest
      run: echo ::set-output name=pullrequest::${GITHUB_REF/refs\/pull\//}

    - name: Get the tag
      id: get_tag
      run: echo ::set-output name=tag::${GITHUB_REF/refs\/tags\//}

    - name: Show branch name Ꙫ
      run: echo "GitHub indicates that this is a branch push request of ${{steps.get_branch.outputs.branch}}"
      if: contains(github.ref, 'refs/heads')

    - name: Show PR name Ꙫ
      run: echo "GitHub indicates that this is a pull request called ${{steps.get_pullrequest.outputs.pullrequest}}"
      if: contains(github.ref, 'refs/pull')

    - name: Show Tag name Ꙫ
      run: echo "GitHub indicates that this is a tag creation with ${{steps.get_tag.outputs.tag}}"
      if: contains(github.ref, 'refs/tag')


    - name: Checkout repository under $GITHUB_WORKSPACE so the job can access it 🛎️
      uses: actions/checkout@v2


    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100-preview.7.20366.6

    - name: Build 🔧
      run: dotnet build --configuration $buildConfiguration $projectWeb

    - name: Publish 🔧
      run: dotnet publish --no-build --configuration $buildConfiguration --output $outputWeb $projectWeb

#Do the href rewrite if we aren't publishing to the 'real' BlazorMdcWebsite

    - name: Base Href Rewrite 👉
      uses: SteveSandersonMS/ghaction-rewrite-base-href@v1
      with:
        html_path: "siteWeb/wwwroot/index.html"
        base_href: "/BlazorMdcWebsite/"
      if: (github.repository != 'BlazorMdc/BlazorMdc')

# deploy to the cloned BlazorMdcWebsite depending on where we are doing the build

    - name: Deploy to BlazorMdcWebsite 🚀
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: ${{ secrets.GH_PAT }}
        BRANCH: gh-pages
        FOLDER: "siteWeb/wwwroot"
        REPOSITORY_NAME: '${{github.repository_owner}}/BlazorMdcWebsite'
      if: (github.repository != 'BlazorMdc/BlazorMdc')
