@namespace BlazorMdc

@if (ToastList.Any())
{
    <div class="bmdc-toast-container @positionClass">
        <CascadingValue Value=this>
            @foreach (var toast in ToastList.OrderBy(x => x.TimeStamp))
            {
                <InternalToast @key="@toast" Settings="toast.Settings" ToastId="toast.Id" />
            }
        </CascadingValue>
    </div>
}
