:root {
    --bmdc-toast-background-info: var(--bmdc-color-lightblue-700);
    --bmdc-toast-background-success: var(--bmdc-color-green-700);
    --bmdc-toast-background-warning: var(--bmdc-color-amber-800);
    --bmdc-toast-background-error: var(--bmdc-color-red-700);
}


.bmdc-toast-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 101;
}

.bmdc-toast__topleft,
.bmdc-toast__topright,
.bmdc-toast__topcenter {
    top: 0;
}

.bmdc-toast__bottomleft,
.bmdc-toast__bottomright,
.bmdc-toast__bottomcenter {
    bottom: 0;
}

.bmdc-toast {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    padding: 8px;
    color: #fff;
    height: 60px;
    max-height: 60px;
    width: 280px;
    border-radius: 4px;
    overflow: hidden;
}

    .bmdc-toast.fade-in {
        animation: bmdcToastFadeIn linear 500ms;
    }

    .bmdc-toast.fade-out {
        animation: bmdcToastFadeOut linear 5000ms;
    }

    .bmdc-toast.hide {
        max-height: 0;
        visibility: hidden;
    }


@keyframes bmdcToastFadeIn {
    0% {
        opacity: 0;
        max-height: 0;
    }

    40% {
        opacity: 0;
        max-height: 72px;
    }


    100% {
        opacity: 1;
    }
}

@-webkit-keyframes bmdcToastFadeIn {
    0% {
        opacity: 0;
        max-height: 0;
    }

    40% {
        opacity: 0;
        max-height: 72px;
    }

    100% {
        opacity: 1;
    }
}


@keyframes bmdcToastFadeOut {
    0% {
        opacity: 1;
        max-height: 72px;
    }

    6% {
        opacity: 0;
        max-height: 72px;
    }

    10% {
        opacity: 0;
        max-height: 0;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}

@-webkit-keyframes bmdcToastFadeOut {
    0% {
        opacity: 1;
        max-height: 72px;
    }

    6% {
        opacity: 0;
        max-height: 72px;
    }

    10% {
        opacity: 0;
        max-height: 0;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}




.bmdc-toast__info {
    background-color: var(--bmdc-toast-background-info);
}

.bmdc-toast__success {
    background-color: var(--bmdc-toast-background-success);
}

.bmdc-toast__warning {
    background-color: var(--bmdc-toast-background-warning);
}

.bmdc-toast__error {
    background-color: var(--bmdc-toast-background-error);
}

.bmdc-toast-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem 0 0;
    font-size: 2.5rem;
}

.bmdc-toast-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .bmdc-toast-body .bmdc-toast-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

        .bmdc-toast-body .bmdc-toast-header h5 {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: 0;
            line-height: 32px;
        }

        .bmdc-toast-body .bmdc-toast-header .bmdc-toast-close {
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
            color:inherit;
            font-size: 1.25rem;
        }
    .bmdc-toast-body p {
        margin-bottom: 0;
        font-size: 1rem;
    }


@media (min-width: 576px) {

    .bmdc-toast__topleft {
        top: 2rem;
        left: 2rem;
    }

    .bmdc-toast__topright {
        top: 2rem;
        right: 2rem;
    }

    .bmdc-toast__topcenter {
        top: 2rem;
        left: 50%;
        margin-left: -15rem;
    }

    .bmdc-toast__bottomleft {
        bottom: 2rem;
        left: 2rem;
    }

    .bmdc-toast__bottomright {
        bottom: 2rem;
        right: 2rem;
    }

    .bmdc-toast__bottomcenter {
        bottom: 2rem;
        left: 50%;
        margin-left: -15rem;
    }
}
