$toast-width: 280px;
$toast-height: 66px;
$toast-spacing: 8px;
$transition-height: $toast-height + $toast-spacing;
$close-button-offset: -10px;

:root {
    --bmdc-toast-color-info: white;
    --bmdc-toast-color-success: white;
    --bmdc-toast-color-warning: white;
    --bmdc-toast-color-error: white;
    --bmdc-toast-background-color-info: var(--bmdc-color-lightblue-700);
    --bmdc-toast-background-color-success: var(--bmdc-color-green-700);
    --bmdc-toast-background-color-warning: var(--bmdc-color-amber-800);
    --bmdc-toast-background-color-error: var(--bmdc-color-red-700);
    --bmdc-toast-border-radius: 4px;
}


.bmdc-toast-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 101;
}

.bmdc-toast__topleft,
.bmdc-toast__topright,
.bmdc-toast__topcenter {
    top: 0;
}

.bmdc-toast__bottomleft,
.bmdc-toast__bottomright,
.bmdc-toast__bottomcenter {
    bottom: 0;
}

.bmdc-toast {
    display: flex;
    flex-direction: row;
    margin-top: $toast-spacing;
    box-sizing: padding-box;
    height: $toast-height;
    max-height: $toast-height;
    width: $toast-width;
    border-radius: var(--bmdc-toast-border-radius);
    overflow: hidden;
}

    .bmdc-toast.fade-in {
        animation: bmdcToastFadeIn 300ms;
    }

    .bmdc-toast.fade-out {
        animation: bmdcToastFadeOut 3000ms;
    }

    .bmdc-toast.hide {
        max-height: 0;
        visibility: hidden;
    }


@keyframes bmdcToastFadeIn {
    0% {
        opacity: 0;
        max-height: 0;
        margin-top: 0;
        animation-timing-function: ease-in-out;
    }

    40% {
        opacity: 0;
        max-height: $toast-height;
        margin-top: $toast-spacing;
        animation-timing-function: ease-in-out;
    }


    100% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }
}

@-webkit-keyframes bmdcToastFadeIn {
    0% {
        opacity: 0;
        max-height: 0;
        margin-top: 0;
        animation-timing-function: ease-in-out;
    }

    40% {
        opacity: 0;
        max-height: $toast-height;
        margin-top: $toast-spacing;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }
}


@keyframes bmdcToastFadeOut {
    0% {
        opacity: 1;
        max-height: $toast-height;
        margin-top: $toast-spacing;
        animation-timing-function: ease-in-out;
    }

    6% {
        opacity: 0;
        max-height: $toast-height;
        margin-top: $toast-spacing;
        animation-timing-function: ease-in-out;
    }

    10% {
        opacity: 0;
        max-height: 0;
        margin-top: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 0;
        max-height: 0;
        margin-top: 0;
    }
}

@-webkit-keyframes bmdcToastFadeOut {
    0% {
        opacity: 1;
        max-height: $toast-height;
        margin-top: $toast-spacing;
        animation-timing-function: ease-in-out;
    }

    6% {
        opacity: 0;
        max-height: $toast-height;
        margin-top: $toast-spacing;
        animation-timing-function: ease-in-out;
    }

    10% {
        opacity: 0;
        max-height: 0;
        margin-top: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 0;
        max-height: 0;
        margin-top: 0;
    }
}




.bmdc-toast__info {
    color: var(--bmdc-toast-color-info);
    background-color: var(--bmdc-toast-background-color-info);
}

.bmdc-toast__success {
    color: var(--bmdc-toast-color-success);
    background-color: var(--bmdc-toast-background-color-success);
}

.bmdc-toast__warning {
    color: var(--bmdc-toast-color-warning);
    background-color: var(--bmdc-toast-background-color-warning);
}

.bmdc-toast__error {
    color: var(--bmdc-toast-color-error);
    background-color: var(--bmdc-toast-background-color-error);
}

.bmdc-toast-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px 0 12px;
    font-size: 24px;
}

.bmdc-toast-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .bmdc-toast-body .bmdc-toast-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

        .bmdc-toast-body .bmdc-toast-header {
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
            color:inherit;
            font-size: 1.25rem;
        }

    .bmdc-toast-body p {
        margin-bottom: 0;
        font-size: 1rem;
    }

.bmdc-toast-heading {
    margin: 8px 0 0 0;
}

.bmdc-toast-close {
    margin: $close-button-offset $close-button-offset 0 0;
}



@media (min-width: 576px) {

    .bmdc-toast__topleft {
        top: 2rem;
        left: 2rem;
    }

    .bmdc-toast__topright {
        top: 2rem;
        right: 2rem;
    }

    .bmdc-toast__topcenter {
        top: 2rem;
        left: 50%;
        margin-left: -15rem;
    }

    .bmdc-toast__bottomleft {
        bottom: 2rem;
        left: 2rem;
    }

    .bmdc-toast__bottomright {
        bottom: 2rem;
        right: 2rem;
    }

    .bmdc-toast__bottomcenter {
        bottom: 2rem;
        left: 50%;
        margin-left: -15rem;
    }
}
